<ion-view name="signin-view" hide-nav-bar="true">
  <ion-content has-bouncing="false" class="viewBGSet landViewBG loginView keyboard-open-height">
    <div class="content landContent landFormContent loginContent">
      <div ng-form="loginForm" ng-if="!$root.passwordReset" class="formContainer">
        <div class="landFormTitle">
          <!-- <p>{{$root.langCounterpart('sign_in_to') || "Sign in to"}}</p> -->
          <!-- <p>{{$root.langCounterpart('ezdan_world') || "Ezdan Real Estate"}}</p> -->
          <i class="icon-key-label"></i>
          <h1>{{$root.langCounterpart('login') || "Login"}}</h1>
        </div>
        <div class="list">
          <label class="item item-input">
            <i class="icon-at"></i>
                <input type="email" id="login-email"
                        name="email" placeholder="{{$root.langCounterpart('registered_email_address') || 'Email'}}"
                        ng-model="loginData.email"
                        ng-change="errors.loginProblem = null; errors.incorrectLogin = null" required
                        ng-pattern="$root.regex.email">
                <div class="error" ng-show="loginSubmitted">
                  <p ng-show="loginForm.email.$error.required
                                          && !loginForm.email.$error.pattern">
                    {{$root.langCounterpart('required') || "Required"}}
                  </p>
                  <p ng-show="loginForm.email.$error.pattern
                                          && !loginForm.email.$error.required">
                    {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                  </p>
                </div>
            </label>
            <label class="item item-input">
              <i class="icon-key-tool"></i>
              <input class="forceLTR" type="password" id="login-password" name="password"
                      placeholder="{{$root.langCounterpart('password') || 'Password'}}"
                      ng-model="loginData.password"
                      ng-init="loginData.password = null"
                      ng-change="errors.loginProblem = null; errors.incorrectLogin = null"
                      ng-pattern="$root.regex.logInPassword"
                      ng-model-options="{ allowInvalid: true}"
                      show-password="showPassword" required>
              <i class="icon ion-eye" ng-show="loginData.password" on-touch="showPassword = !showPassword" ></i>
              <div class="error" ng-show="loginSubmitted">
                  <p ng-show="loginForm.password.$error.required">
                      {{$root.langCounterpart('required') || "Required"}}
                  </p>
                  <p ng-show="loginForm.password.$error.pattern
                                          && !loginForm.password.$error.required">
                    {{$root.langCounterpart('invalid_password') || "eg., Aa1-23"}}
                  </p>
              </div>
            </label>
              <a class="forgetLink" ng-click="goForgotPassword()" ng-class="{'forgetLink item-disabled': !$root.isOnline, 'forgetLink': $root.isOnline}">
                {{$root.langCounterpart('forgot_password') || 'Forgot Password?'}}
              </a>
            <div class="row">
              <i class="icon ion-chevron-left circleIcon whiteBG" ng-click="goLand()"></i>
              <button type="submit" class="button button-block button-calm curvyBtn whiteBG" ng-disabled="!$root.isOnline || loginSent" ng-click="login(loginForm)">
                {{$root.langCounterpart('login') || 'Sign In'}}
              </button>
            </div>
            <div class="row responsive-lg">
                <div class="col transparentBG">
                    <button class="button button-block button-calm curvyBtn redBG guestLogin" ng-disabled="loginSent" ng-click="guestLogin()">
                    {{$root.langCounterpart('guest_login') || 'Guest Login'}}
                        <span class="icon ion-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
