<ion-view name="signup-view" hide-nav-bar="true">
<ion-content class="viewBGSet landViewBG keyboard-open-height" has-bouncing="false">
<div class="content landContent landFormContent landSignupContent loginContent">
    <div ng-form="signupForm" class="formContainer">
        <div class="landFormTitle">
            <p>{{$root.langCounterpart('sign_up_to') || "Sign up to"}}</p>
            <p>{{$root.langCounterpart('ezdan_world') || "Ezdan Real Estate"}}</p>
        </div>
        <div class="list">
            <label class="item item-input item-select noBorder">
                <p class="input-label">
                    {{$root.langCounterpart('title') || "Title"}}
                </p>
                <select name="title" id="title" class="title-selector" ng-model="registrationData.title"
                    ng-init="registrationData.title = 'Mr.'">
                    <option value="Mr.">{{$root.langCounterpart('mr') || "Mr."}}</option>
                    <option value="Mrs.">{{$root.langCounterpart('mrs') || "Mrs."}}</option>
                    <option value="Ms.">{{$root.langCounterpart('ms') || "Ms."}}</option>
                    <!-- <option value="Miss">{{$root.langCounterpart('miss') || "Miss"}}</option> -->
                </select>
            </label>
            <label class="item item-input">
                <input type="text" name="fullname" id="fullname"
                placeholder="{{$root.langCounterpart('full_name') || 'Full Name'}}"
                ng-model="registrationData.name" ng-required="true" ng-pattern="$root.regex.fullName" ng-blur="fullnameBlur = true">
                <div class="error" ng-show="registrationSubmitted || fullnameBlur">
                    <p ng-show="signupForm.fullname.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="signupForm.fullname.$error.pattern">
                        {{$root.langCounterpart('invalid_full_name') || "Invalid full name"}}
                    </p>
                </div>
            </label>
            <label class="item item-input forceLTR">
                <!-- <span class="countryCode">+974</span> -->
                <intlpn name="phonenumber" id="phonenumber"
                    ng-model="registrationData.phone" 
                    placeholder="{{$root.langCounterpart('phonenumber') || 'Phone Number'}}" 
                    default-country="qa"
                    blur="phoneBlur"
                    required>
                </intlpn>
                <div class="error error-phone" ng-show="registrationSubmitted || phoneBlur">
                    <p ng-show="signupForm.phonenumber.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p class="invalid-phone-error" ng-show="!signupForm.phonenumber.$valid && !signupForm.phonenumber.$error.required">
                        {{$root.langCounterpart('invalid_phone') || "Invalid phone number"}}
                    </p>
                </div>
            </label>
            <!-- <label class="item item-input forceLTR"> -->
                <!-- <span class="countryCode">+974</span>
                <input type="number" name="phonenumber" id="phonenumber"
                    placeholder="{{$root.langCounterpart('phonenumber') || 'Phone Number'}}"
                    ng-model="registrationData.phone" ng-required="true" ng-pattern="regex.number" ng-blur="phoneBlur = true" ng-focus="phoneBlur = false"> -->
                <!-- <intlpn ng-model="registrationData.phone" intlpnFormat
                name="phonenumber" id="phonenumber"
                placeholder="{{$root.langCounterpart('phonenumber') || 'Phone Number'}}"
                only-country="['qa']"
                default-country="qa" required>
                </intlpn> -->
            <!-- </label> -->
            <label class="item item-input">
                <input type="email" name="email" id="email"
                placeholder="{{$root.langCounterpart('email') || 'Email'}}"
                ng-model="registrationData.email"
                ng-pattern="$root.regex.email" ng-blur="emailBlur = true" required>
                <div class="error" ng-show="registrationSubmitted || emailBlur">
                    <p ng-show="signupForm.email.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="signupForm.email.$error.pattern">
                        {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <!-- to be reviewed by khaled,
                when commenting the style.css file in index.html it works fine,
                so it's a problem with the style, not sure where it is-->
                <!-- ng-hide adds alot of classes to the html tag, one of them is ".ng-hide-animate",
                when deleting ".ng-hide-animate" in chrome inspect element, showing and hiding password works properly-->
                <input class="forceLTR" type="password" id="password" name="password"
                placeholder="{{$root.langCounterpart('password') || 'Password'}}"
                ng-model="registrationData.password"
                ng-change="comparePasswords()"
                ng-pattern="regex.password"
                show-password = "showPassword"
                ng-model-options="{ allowInvalid: true}"  ng-blur="passwordBlur = true" required>
                <!--        <input class="forceLTR" type="text" id="password" name="password"
                placeholder="{{$root.langCounterpart('password') || 'Password'}}"
                ng-model="registrationData.password"
                ng-pattern="regex.password"
                ng-show="showPassword"
                ng-model-options="{ allowInvalid: true}" ng-blur="passwordBlur = true" ng-focus="passwordBlur = false" required> -->
                <i class="icon ion-eye" ng-show="registrationData.password" on-touch="showPassword = !showPassword"></i>
                <div class="error error-password" ng-show="registrationSubmitted || passwordBlur">
                    <p ng-show="signupForm.password.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="signupForm.password.$error.pattern">
                        {{$root.langCounterpart('invalid_password') || "eg., Aa1-23"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <input class="forceLTR" type="password" id="passwordconfirm" name="passwordconfirm"
                placeholder="{{$root.langCounterpart('confirm_password') || 'Confirm Password'}}"
                ng-model="registrationData.passwordConfirm"
                pw-check="password" show-password = "showPassword" required  ng-blur="passwordConfirmBlur = true">
                <!--           <input class="forceLTR" type="text" id="passwordconfirm" name="passwordconfirm" placeholder="{{$root.langCounterpart('confirm_password') || 'Confirm Password'}}"
                ng-model="registrationData.passwordConfirm"
                pw-check="password" required ng-show="showPassword" ng-blur="passwordConfirmBlur = true" ng-focus="passwordConfirmBlur = false"> -->
                <div class="error" ng-show="registrationSubmitted || passwordConfirmBlur">
                    <p ng-show="signupForm.passwordconfirm.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="signupForm.passwordconfirm.$error.pwmatch
                        && !signupForm.passwordconfirm.$error.required">
                        {{$root.langCounterpart('no_match') || "No match"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <input class="forceLTR" type="text" name="contractnum" id="contractnum"
                placeholder="{{$root.langCounterpart('contract_number') || 'Contract Number'}}"
                ng-model="registrationData.contractNum" required ng-pattern="$root.regex.contract"
                ng-blur="contractNumBlur = true">
                <div class="error" ng-show="registrationSubmitted || contractNumBlur">
                    <p ng-show="signupForm.contractnum.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="signupForm.contractnum.$error.pattern">
                        {{$root.langCounterpart('invalid_number') || "Invalid number"}}
                    </p>
                </div>
            </label>
            <div class="row">
                <i class="icon ion-chevron-left circleIcon whiteBG" ng-disabled="loginSent" ng-click="goLand()"></i>
                <!-- <button class="button circleIcon whiteBG" ng-disabled="loginSent" ng-click="goLand()">
                <i class="icon ion-chevron-left"></i>
                </button> -->
                <button class="button button-block button-calm curvyBtn whiteBG" ng-disabled="!$root.isOnline || registrationSent"
                ng-click="authorizePhone(signupForm)">
                {{$root.langCounterpart('new_account') || "Sign Up"}}
                </button>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>