
<ion-view view-title="{{$root.langCounterpart('appointments') || 'Appointments'}}">
    <ion-content class="removeHeight" has-bouncing="false">
      <div class="contentWithBanner appointmentsContent curvedBannerContainer">
        <div class="row responsive-lg radiusBanner whiteBG height20vh">
          <img src="img/appointmentsBanner.jpg">
        </div>
        <div ng-if="isRegistered==false">
            <div  id='calendar' calendar="eventsCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" data-tap-disabled="true" ng-model="eventSources" style="height: 72vh;overflow-x: scroll;padding-bottom: 20vh;" class="col-100"></div>
        </div>
        <div ng-if="isRegistered">
        <ion-scroll direction="x" class="wide-as-needed">
          <div ng-class="activeButton ">
            <a class="globalTabLink" ng-click="showActive()">{{$root.langCounterpart('active_appointments') || 'Active'}}</a>
          </div>
          <div ng-class="bookButton">
            <a class="globalTabLink" ng-click="ShowCalendar()">{{$root.langCounterpart('book_now_appointments') || 'Book Now'}}</a>
          </div>
          <div ng-class="historyButton">
            <a class="globalTabLink" ng-click="showHistory()">{{$root.langCounterpart('history_appointments') || 'History'}}</a>
          </div>
        </ion-scroll>
<div ng-if="loaded==false">


<div ng-if="events.length==0" >
  <div class="list">
    <div class="objectiveTab radiusRow" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
      <img src="img/icons/true-icon.png">
      <div class="objectiveTabBorder">
        <div class="objectiveTabContent">
          <h1>Welcome to Ezdan Real Estate</h1>
          <p>Because we know that the best way to serve you is to listen to all your concerns, Ezdan Team is looking forward to meet you in order to reach your satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="events.length>0" >
<div ng-if="activeAppointments==true">
  <div ng-if="activeEvents.length==0">
    <div class="list">
      <div class="objectiveTab radiusRow" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
        <img src="img/icons/true-icon.png">
        <div class="objectiveTabBorder">
          <div class="objectiveTabContent">
            <h1>Welcome to Ezdan Real Estate</h1>
            <p>Because we know that the best way to serve you is to listen to all your concerns, Ezdan Team is looking forward to meet you in order to reach your satisfaction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div ng-if="events.length>0" ng-repeat="app in activeEvents" ng-click="onMyAppointmentsClick(app)">
  <div class="list">
    <div class="objectiveTab radiusRow" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
      <img src="img/icons/true-icon.png">
      <div class="objectiveTabBorder">
        <div class="objectiveTabContent">
          <h1>{{app.start  | date:'fullDate'}} {{app.start  | date:'shortTime'}}</h1>
          <p>Title: {{app.title}}</p>
          <p >Email: {{app.email}}</p>
          <p >Mobile: {{app.mobile}}</p>
          <p ng-if="app.color=='green'" style="color:green">Status: Accepted</p>
          <p ng-if="app.color!='green'" style="color:red">Status: Pending</p>        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div ng-if="activeAppointments==false">
  <div ng-if="historyEvents.length==0" >
    <div class="list">
      <div class="objectiveTab radiusRow" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
        <img src="img/icons/true-icon.png">
        <div class="objectiveTabBorder">
          <div class="objectiveTabContent">
            <h1>Welcome to Ezdan Real Estate</h1>
            <p>Because we know that the best way to serve you is to listen to all your concerns, Ezdan Team is looking forward to meet you in order to reach your satisfaction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<div ng-if="events.length>0" ng-repeat="app in historyEvents">
  <div class="list">
    <div class="objectiveTab radiusRow" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
      <img src="img/icons/true-icon.png">
      <div class="objectiveTabBorder">
        <div class="objectiveTabContent">
          <h1>{{app.start  | date:'fullDate'}} {{app.start  | date:'shortTime'}}</h1>
          <p>Title: {{app.title}}</p>
          <p >Email: {{app.email}}</p>
          <p >Mobile: {{app.mobile}}</p>
          <p ng-if="app.color=='green'" style="color:green">Status: Accepted</p>
          <p ng-if="app.color!='green'" style="color:red">Status: Pending</p>        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>
<div ng-if="loaded==true">
  <div  id='calendar' calendar="eventsCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" data-tap-disabled="true" ng-model="eventSources" style="height: 72vh;overflow-x: scroll;padding-bottom: 20vh;" class="col-100"></div>
</div>
</div>



</ion-view>
