<ion-side-menu side="left" ng-if="leftMenuEnable" is-enabled="leftMenuEnable">
    <!--<ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>-->
    <ion-content has-header="true" has-bouncing="false">
        <ion-item class="menu-user-info">
            <div class="row" ng-if="$root.user.loggedIn" ng-click="goProfile()">
                <div class="col-25 userImg circleRadius">
                    <img ng-src="{{$root.userImage}}" />
                </div>
                <div class="col transparentBG">
                    <p class="userName">
                        {{$root.user.fullName}}
                    </p>
                    <p class="userMail">
                        {{$root.user.email}}
                    </p>
                </div>
            </div>
            <div class="row" ng-if="$root.userType === 'guest'">
                <div class="col-25 userImg circleRadius">
                    <img src="img/avatar-man.jpg" />
                </div>
                <div class="col transparentBG">
                    <p class="userName">
                        Guest
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-list>
            <ion-item ng-repeat="(key, item) in chosenMenu" href="{{item.href}}"
                      ng-click="selectMenuItem(key)" ng-class="{'item-disabled': !item.offlineSupport && !$root.isOnline}"
                      menu-close>
                <img ng-src={{item.icon}} class="menuIcons">
                <p ng-class="{'ar-tf':$root.lang=='Arabic'}">{{$root.langCounterpart(item.key) || item.alt}}</p>
            </ion-item>
        </ion-list>
        <ion-list class="extendMenuIcon">
            <ion-item ng-click="$root.go('contactUs')" menu-close>
                <img src="img/icons/call-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('contact_us') || 'Contact Us'}}</p>
            </ion-item>
            <ion-item ng-click="$root.switchLanguage(true)" menu-close>
                <img src="img/icons/language-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('flip_language') || flipLanguage()}}</p>
            </ion-item>
            <ion-item ng-click="goLand()" ng-if="$root.userType === 'guest'" menu-close>
                <img src="img/icons/logout-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('guest_back') || 'Go Back'}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>

<ion-side-menu side="right" ng-if="rightMenuEnable" is-enabled="rightMenuEnable">
    <!--<ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>-->
    <ion-content has-header="true">
        <ion-item class="menu-user-info">
            <div class="row" ng-if="$root.userType === 'loggedIn'" ng-click="goProfile()">
                <div class="col-25 userImg circleRadius">
                    <img ng-if="!$root.user.loggedIn" src="img/avatar-man.jpg" />
                    <img ng-if="$root.user.loggedIn" ng-src={{$root.user.imageURL}} />
                </div>
                <div class="col transparentBG">
                    <p class="userName">
                        {{$root.user.fullName}}
                    </p>
                    <p class="userMail">
                        {{$root.user.email}}
                    </p>
                </div>
            </div>
            <div class="row" ng-if="$root.userType === 'guest'">
                <div class="col-25 userImg circleRadius">
                    <img src="img/avatar-man.jpg" />
                </div>
                <div class="col transparentBG">
                    <p class="userName">
                        زائر
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-list>
            <ion-item ng-repeat="(key, item) in chosenMenu" href="{{item.href}}"
                      ng-click="selectMenuItem(key)" ng-class="{'item-disabled': !item.offlineSupport && !$root.isOnline}"
                      menu-close>
                <img ng-src={{item.icon}} class="menuIcons">
                <p ng-class="{'ar-tf':$root.lang=='Arabic'}">{{$root.langCounterpart(item.key) || item.alt}}</p>
            </ion-item>
        </ion-list>
        <ion-list class="extendMenuIcon">
            <ion-item ng-click="$root.go('contactUs')" menu-close>
                <img src="img/icons/call-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('contact_us') || 'Contact Us'}}</p>
            </ion-item>
            <ion-item ng-click="$root.switchLanguage(true)" menu-close>
                <img src="img/icons/language-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('flip_language') || flipLanguage()}}</p>
            </ion-item>
            <ion-item ng-click="goLand()" ng-if="$root.userType === 'guest'" menu-close>
                <img src="img/icons/logout-icon.png" class="menuIcons">
                <p>{{$root.langCounterpart('guest_back') || 'Go Back'}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>
