<!-- <ion-view> -->
    <!-- <ion-content> -->
                <form name="forms.appointmentForm" class="innerFormContainer"> 
                        <div class="list popupForm"> 
                            <label class="item item-input forceLTR"> 
                                {{$root.langCounterpart("date") || "Date"}}  
                                <input type="text" ng-model="data.datetimeValue" placeholder="Date" disabled> 
                            </label>
                            <label class="item item-input"> 
                                {{$root.langCounterpart("title_msg") || "Title"}}  
                                <input id="title" name="title" type="text" 
                                    ng-model="data.title"
                                    ng-maxlength="50" 
                                    placeholder="Title"> 
                                <div class="error" ng-show="surveySubmitted"> 
                                    <p ng-show="forms.appointmentForm.title.$error.maxlength">
                                        {{$root.langCounterpart('too_long') || "Too long"}}
                                    </p>
                                </div>
                            </label> 
                            <label class="item item-input"> 
                                {{$root.langCounterpart("full_name") || "Full Name"}}  
                                <input id="fullName" name="fullName" type="text" 
                                    ng-model="data.name"
                                    ng-pattern="$root.regex.fullName"
                                    placeholder="Full Name"
                                    ng-disabled="$root.user.loggedIn" 
                                    required> 
                                <div class="error" ng-show="surveySubmitted"> 
                                    <p ng-show="forms.appointmentForm.fullName.$error.required"> 
                                        {{$root.langCounterpart("required") || "Required"}} 
                                    </p>
                                    <p ng-show="forms.appointmentForm.fullName.$error.pattern">
                                        {{$root.langCounterpart('invalid_full_name') || "Invalid full name"}}
                                    </p>
                                </div>
                            </label> 
                            <label class="item item-input">
                                {{$root.langCounterpart("mobile_number") || "Mobile Number"}}  
                                <intlpn id="mobileNumber" name="mobileNumber" class="forceLTR" 
                                    ng-model="data.mobile" 
                                    placeholder="Mobile Number"  
                                    default-country="qa" 
                                    blur="mobileNumberBlur"
                                    disable="$root.user.loggedIn"
                                    required> 
                                </intlpn> 
                                <div class="error feedbackError" ng-show="surveySubmitted"> 
                                    <p ng-show="forms.appointmentForm.mobileNumber.$error.required"> 
                                        {{$root.langCounterpart("required") || "Required"}} 
                                    </p> 
                                    <p ng-show="forms.appointmentForm.mobileNumber.$invalid && !forms.appointmentForm.mobileNumber.$error.required"> 
                                        {{$root.langCounterpart("invalid_phone_popup") || "Invalid number"}} 
                                    </p> 
                                </div> 
                            </label> 
                            <label class="item item-input"> 
                                {{$root.langCounterpart("email") || "Email"}}  
                                <input id="email" name="email" type="text" 
                                    ng-model="data.email" 
                                    ng-pattern="$root.regex.email" 
                                    placeholder="Email"
                                    ng-disabled="$root.user.loggedIn"
                                    required> 
                                <div class="error feedbackError" ng-show="surveySubmitted"> 
                                    <p ng-show="forms.appointmentForm.email.$error.required"> 
                                        {{$root.langCounterpart("required") || "Required"}} 
                                    </p>
                                    <p ng-show="forms.appointmentForm.email.$error.pattern">
                                        {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                                    </p>
                                </div>
                            </label> 
                        </div> 
                    </form>
        <!-- </ion-content> -->
        

<!-- </ion-view> -->
