@media only screen and (max-width: 600px) {
  .propertiesContent .propertySpecs ul li {
    padding-bottom: 0.5vh;
  }
  .propertiesContent .dateAndTime {
    /* padding: 1.3vh 1vh 0 1vh; */
    padding: 0 1vh 0 2vh;
  }
  .rowSignup {
    background-image: url(../img/landMobileViewSignupBG.png);
    background-size: cover !important;
  }
  .propertySpecs a{
    font-size: 1.4vh;
  }
}
@media only screen and (max-width: 414px) {
  .bar-positive .button.button-clear.goBackArrow{
    margin-top: 0;
  }
  .bar .title {
    top: 0.8vh;
  }
}
@media only screen and (max-width: 375px) {
  .singlePropertyContent .addBtn {
    margin: 0 0 1.5vh 0;
  }
  .bar .title {
    top: 0;
  }
}

@media only screen and (max-width: 320px) {
  .singlePropertyContent .addBtn {
    margin: 2.3vh 4vh;
  }
  .button .icon.ion-ios-arrow-back:before{
    padding: 1.5vh !important;
    margin-top: 1vh !important;
  }
}

@media only screen and (max-device-width: 320px) {
  .findMoreLayerTxt {
    top: 9.5vh;
  }
  .findMoreLayerTxt p:first-child {
    margin: 0;
  }
  .requestContainer {
    margin-bottom: 1vh !important;
  }
  .sliderCurve {
    top: -1.6vh;
  }
  .bar .title {
    top: 1vh;
  }
  .property-title{
    max-width: 48vw;
  }
  .icon.ion-ios-arrow-back:before{
    margin: 0;
  }
  .button .icon.ion-ios-arrow-back:before{
    padding: 1.5vh !important;
    margin-top: 1vh !important;
  }
}
/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
.rectangle-item-content p{
    font-size: 1.8vh;
  }
  .rectangle-item-three{
    width: calc(33.3333% - 2.3vw);
    margin: 0 1vw 1.5vh 0;
  }
  .homeContent .footer-contact a{
    background-position: 33vw center;
    background-size: 10vw;
    padding: 2.5vh 0 2.5vh 14vw;
  }
  .property-title{
    max-width: 48vw;
  }
  .icon.ion-ios-arrow-back:before{
    margin: 0;
  }
  .button .icon.ion-ios-arrow-back:before{
    padding: 1.5vh !important;
    margin-top: 1vh !important;
  }
}
/* ----------- iPhone 5 and 5S ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* ----------- iPhone 6 ----------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  .platform-ios.platform-cordova .discoverSlider{
    height: 100%;
  }
  .platform-ios.platform-cordova .singlePropertyContent .slider{
    height: 50vh;
  }
  .platform-ios.platform-cordova .propertySpecs{
    height: initial;
  }
  .platform-ios.platform-cordova  .button .icon:before{
    vertical-align: unset !important;
  }
  .bar .button, .bar button{
    height: 7vh !important;
  }
  .singlePropertyContent .propertySpecs ul:last-of-type li:first-of-type{
    padding-right: 0;
  }
  .platform-ios.platform-cordova .removeHeight.has-header .scroll,
  .platform-ios.platform-cordova  .scroll-content.ionic-scroll.has-header .scroll{
    height: calc(100vh - 9.5vh);
  }
  .removeHeight.has-header .scroll-view.scroll-x .scroll {
    height: auto !important;
  } 
  .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
    top: 9.5vh;
  }
  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{
    margin-top: 3.2vh;
  }
/*  .bar-positive .button.button-icon.ion-navicon{
    padding: 1.3vh 1.5vh;
  }*/
  .globalTab{
    /* margin: 1vh 1vh 0.5vh 1vh; */
    /* margin: 1vh 0; */
    margin-top: 1vh;
  }
  .titleSurv{
    font-size: 3.5vh;
  }
  .curvedBannerContainer .landFormTitle p{
    margin-bottom: 1vh;
  }
  .curvedBannerContainer .landFormTitle p:nth-child(2){
    font-size: 4.5vh;
  }
  .dateAndTime img{
    right: 1vh;
    width: 3vh;
    height: 2vh;
  }
  .findMoreLayerTxt+img{
    width: 2.5vh;
    bottom: 10vh;
    height: 2vh;
    right: 6vh;
  }
  .bar-positive .button.button-clear.filter-bar-cancel{
    margin: 0;
    padding: 0 2vh;
  }
  .ion-ios-arrow-back:before{
    margin: 0 0 0 1vh !important;
    padding: 1.5vh 2.5vh !important;
  }
  .absoluteSpan+#mobileNumber{
    padding-left: 6.5vh;
  }
  .top-bar-icon img{
    width: 50%;
    float: initial;
  }
  .top-bar-icon.align-right{
    text-align: center!important;
  }
}

/* iPhone 5 & 5S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .platform-ios.platform-cordova .removeHeight.has-header .scroll,
  .platform-ios.platform-cordova  .scroll-content.ionic-scroll.has-header .scroll{
    height: calc(100vh - 9vh);
  }
  .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
    top: 9vh;
  }
  .removeHeight.has-header .scroll-view.scroll-x .scroll {
    height: auto !important;
  } 
/*  .platform-ios.platform-cordova .bar-positive .button.button-icon.ion-navicon{
    padding: 1vh;
    margin-top: 1vh;
  }*/
  .findMoreLayerTxt p:last-child{
    font-size: 2.4vh;
  }
  .findMoreLayerTxt p:last-child{
    font-size: 2.4vh;
  }
  .findMoreLayerTxt p:first-child{
    font-size: 2vh;
  }
  .platform-ios.platform-cordova .requestContainer .ezLogo{
    margin-top: -11vh !important;
  }
  .platform-ios.platform-cordova .curvedBannerContainer .bannerImg{
    height: 40vh;
    max-height: 40vh;
  }
  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 55px;
  }
  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{
    margin-top: 2.5vh;
  }
  .discoverSlider{
    height: 58vh;
  }
  .titleSurv{
    font-size: 3.5vh;
    line-height: 7vh;
  }
  .icon.ion-ios-arrow-back:before{
    margin: 0;
  }
  .menu-user-info.item{
    border: none!important;
  }
  .property-title{
    max-width: 50vw;
  }
  .rectangle-item-content p{
    font-size: 1.8vh;
  }
  .rectangle-item-three{
    width: calc(33.3333% - 2.3vw);
    margin: 0 1vw 1.5vh 0;
  }
  .homeContent .footer-contact a{
    background-position: 33vw center;
    background-size: 10vw;
    padding: 2.5vh 0 2.5vh 14vw;
  }
}

/* ----------- iPhone 6+ ----------- */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
  .platform-ios.platform-cordova .removeHeight.has-header .scroll,
  .platform-ios.platform-cordova  .scroll-content.ionic-scroll.has-header .scroll{
    height: calc(100vh - 8.5vh);
  }
  .platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
    top: 8.5vh;
  }
  .removeHeight.has-header .scroll-view.scroll-x .scroll {
    height: auto !important;
  }
  .platform-ios.platform-cordova .requestContainer .ezLogo{
    margin-top: -8vh !important;
  }
}

/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {

}
