.globalTab {
  /* margin: 10px;
  display: inline-block;
  position: relative; */
  /* margin: 10px 0 10px 0; */
  margin-top: 5px;
  display: inline-block;
  position: relative;
  width: 50%;
}

.globalTab .globalTabLink {
  width: 100%;
  margin: 0;
  padding: 10px;
  float: left;
  text-align: center;
  font-size: 2.7vh;
}

.wide-as-needed {
  white-space: nowrap;
  border-bottom: 1px solid #dfe0e1;
  margin-bottom: 1vh;
}

.tabContents {
  padding: 0 10px 30px 10px;
}

.globalTab span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #d23139;
  transition: all .5s;
  opacity: 0;
}

.globalTab.active span {
  opacity: 1;
  transition: all .5s;
}

.globalTab.active a, .globalTab.active label {
  color: #d23139;
}

.globalTab.active label i {
  font-size: 3vh;
}

.tabContents img {
  float: right;
  width: 20vh;
  height: 20vh;
  object-fit: contain;
  margin-left: 1vh;
}

.removeHeight .scroll {
  height: auto;
}

.InnerBanner {
  position: relative;
  width: 100%;
}

.InnerBanner img {
  width: 100%;
  height: 20vh;
  float: left;
  object-fit: cover;
}

.InnerBanner.singleDetail .singleDetailBanner {
  height: auto;
}

.tabContents p {
  color: #404040;
  text-align: justify;
  font-size: 2vh;
  line-height: 3.5vh;
}

.visionMissionListUnits {
  padding: 5px;
}

.visionMissionListUnit {
  border: none;
  padding: 0;
      padding: 2vh;
    border-radius: 15px;
}

.visionMissionListUnit h2 {
  color: #d23139;
  font-size: 2.5vh;
}

.visionDetailsImg {
  width: 40%;
  height: 20vh;
  margin-left: 1vh;
  float: right;
  margin-top: 3.5vh;
}

.visionDetailsImg img {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.visionDetails {
  width: 100%;
  float: left;
}

.visionDetailsContent {
  float: left;
  width: calc(60% - 10px);
}

.visionDetailsContent p {
  white-space: normal;
  overflow: visible;
  font-size: 2vh;
  line-height: 3.5vh;
  color: #404040
}

.visionButton {
  float: left;
  width: 100%;
  padding-top: 10px;
}

.visionButton .button {
  min-width: 21vh;
  max-width: 21vh;
}

.visionMissionListUnits:nth-of-type(even) .visionDetailsImg {
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

.visionMissionListUnits:nth-of-type(even) .visionButton .button {
  float: left;
}

.visionMissionListUnits:nth-of-type(odd) .visionButton .button {
  float: right;
}

.objectiveTab {
  padding-left: 14vh !important;
  padding-right: 1vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  min-height: 15vh;
  border-top: none;
}

.objectiveTab p {
  white-space: normal;
  font-size: 2vh;
}

.objectiveTabContent {
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.objectiveTab img {
  max-width: 10vh!important;
  max-height: 10vh!important;
  width: 10vh!important;
  height: 10vh!important;
  object-fit: contain;
  left: 2vh!important;
  top: 1.5vh !important;
}
.surveyPickASurveyUnits.objectiveTab img {
  max-width: 7vh!important;
  max-height: 7vh!important;
  width: 7vh!important;
  height: 7vh!important;
}
.objectiveTabBorder {
  float: left;
/*  padding-bottom: 4vh;
  padding-right: 1vh;
  border-bottom: 1px solid #dfe0e1;*/
  position: relative;
}

.media {
  width: 100%;
  float: left;
  height: 25vh;
  padding: 0 5px;
  margin-bottom: 1.5vh;
  overflow: hidden;
}

.media .socialImg {
  float: left;
  width: 50%;
  height: 100%;
}

.media .socialImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.EventsTitle {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #d23139;
  padding: 2vh 1vh 0 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.EventsTitle h2 {
  font-size: 2.22vh;
  font-weight: 400;
  color: #ffffff;
  padding-left: 10px;
  line-height: 3.5vh;
  max-height: 6.5vh;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dateAndTime {
  background-image: url("../img/mediaItemCurve.png");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 9vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-top: 15px;
}

.dateAndTime p {
  color: #ffffff;
  font-size: 2vh;
}

.dateAndTime span {
  color: #ffffff;
  font-size: 1.5vh;
}

.dateAndTime img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 4vh !important;
  height: 3vh !important;
}

.overflowHidden {
  overflow-x: scroll;
  overflow-y: hidden;
}

.surveyMenuLinks {
/*  float: left;
  width: 100%;*/
  margin-top: 2vh;
  padding: 2vh 0;
  border-bottom: 1px solid #dfe0e1;
  margin-bottom: 2vh;
}

.surveyMenuLink {
  float: left;
  width: 33.33333%;
  text-align: center;
  position: relative;
}

.surveyMenuLink p {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #d7d9e3;
  margin-bottom: 1vh;
  color: #d7d9e3;
  line-height: 11px;
  font-weight: bold;
}

.surveyMenuLink span {
  display: block;
  width: 100%;
  color: #818286;
  font-size: 2vh;
}

.imgCurve.removeBottom {
  bottom: 0;
}

.surveyMenuLink p.active {
  color: #d23139;
  border: 2px solid #d23139;
}

.surveyMenuLink span.active {
  color: #d23139;
}

.surveyBorder {
  position: absolute;
  left: 62%;
  right: 0;
  top: 17px;
  height: 2px;
  background-color: #d7d9e3;
}

.surveyBorderPickASurvey {
  position: absolute;
  left: 0;
  right: 61%;
  top: 17px;
  height: 2px;
  background-color: #d7d9e3;
}

.surveyBorderAnswerASurvey {
  position: absolute;
  left: -40%;
  right: 61%;
  top: 17px;
  height: 2px;
  background-color: #d7d9e3;
}

.selectCities, .items-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10vh;
}
.items-container{
  margin-top: 0;
}
.selectCities{
  width: calc(100% - 10px);
  padding: 4vh 0;
}
.selectCity, .rectangle-item {
  display: inline-block !important;
  width: calc(33.3333% - 3vh);
  text-align: center;
  border: 0.2vh solid #d7d9e3;
  margin: 0 2vh;
  padding: 2vh 0;
  border-radius: 15px;
}
.rectangle-item-three{
  width: calc(33.3333% - 2.3vw);
  margin: 0 2vw 1.5vh 0;
  border: 0;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 4vh 0;
}
ion-view:not(.customerCareContainer) .rectangle-item-three:nth-child(3n+3){
  margin: 0;
}
/*.selectCity:nth-child(even), .rectangle-item:nth-child(even) {
  margin-left: 0;
}*/

.selectCity img, .rectangle-item img {
  display: inline-block;
  width: 6vh !important;
  float: initial;
}
.rectangle-item img {
  width: 12vw !important;
  height: 10vh !important;
  object-fit: contain !important;
}
.rectangle-item i, .rectangle-item span{
      font-size: 10vh;
    color: #d23139;
}
.selectCityContent, .rectangle-item-content {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.selectCityContent span, .rectangle-item-content span {
  font-size: 1.8vh; color: #868ba0;
}

.selectCityContent p, .rectangle-item-content p {
  font-size: 2.2vh;
  line-height: 3.5vh;
  color: #d23139;
}
.selectCity .icon-pin{
      font-size: 5vh;
    color: #d23139;
}
.rectangle-item-content p{
  font-size: 2vh;
  line-height: 4vh;
}
.surveyPickASurveyUnits {
  border: none;
  min-height: auto;
}
.surveyPickASurveyUnits.objectiveTab{
  padding: 3vh 0 3vh 10vh!important;
  border-radius: 15px;
  width: calc(100% - 10px);
  margin: 5px !important;
}
.surveyPickASurveyUnits .objectiveTabBorder p {
  font-size: 1.8vh;
  color: #404040;
}

.surveyPickASurveyUnits .objectiveTabBorder p span {
  font-size: 2.2vh;
}

.questionsNum {
  float: right;
  width: 100%;
}

.questionsNum p span {
  float: right;
  margin-left: .5vh;
  font-size: 1.8vh;
  color: #d7d7d7;
}

.surveyPickASurveyUnits .objectiveTabBorder .objectiveTabContent {
  height: auto;
}

.colorBorder {
  background-color: #d23139;
}

.generalRadios {
  float: left;
}

.generalRadios .list {
  float: left;
}

.generalRadios .list label,
.generalForm .item-radio .item-content,
.inputMultiTypes .item-content {
  overflow: initial;
  text-overflow: initial;
  white-space: normal!important;
}

.radio-content {
  height: auto!important;
}

.answerSurveyQuestionsNumAndQuestionsTitle {
  float: left;
  width: 100%;
  height: 100%;
}

.answerSurveyQuestionsNum {
  float: left;
  margin-right: 1vh;
  width: 12vw;
}

.answerSurveyQuestionsNum p {
  color: #d7d7d7;
  font-size: 3vh;
}

.answerSurveyQuestionsTitle {
  float: left;
  width: 76vw;
}

.answerSurveyQuestionsTitle p span,
.answerSurveyQuestionsTitle p {
  font-size: 2.2vh;
  color: #404040;
  line-height: 4vh;
  font-weight: bold;
}

.surveyList {
  margin-bottom: 2vh;
  padding-bottom: 3vh;
  border-bottom: 1px solid #dfe0e1;
}

.surveyList .item-content span {
  font-size: 1.9vh;
}

.surveyList .ion-checkmark:before {
  content: "";
  visibility: visible;
  border: 0.3vh solid #e9e9ea;
  border-radius: 50%;
  padding: 0.9vh;
  /*vertical-align: text-top;*/
  /* margin-top: 4px; */
}

.surveyList .generalForm .item-radio .item-content {
  padding-left: 3.5vh;
}

.inputMultiTypes {
  float: left;
  width: 100%;
  margin-top: 2vh;
}

.disable-user-behavior,
.disable-user-behavior .list {
  float: left;
  width: 100%;
}

.generalRadios .item-checkbox {
  border: none;
  float: left;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  width: 100%;
  padding-left: 5vh;
  min-height: 5vh;
}

.generalRadios .item-checkbox .checkbox {
  position: absolute;
  top: 0;
  right: initial;
  left: 0;
  z-index: 3;
  margin: 0;
  padding: 0;
}

.checkbox input:checked:before,
.checkbox input:checked+.checkbox-icon:before {
  background: #d23139;
  border-color: #d23139;
}

.inputMultiTypes .item-input input[type]::placeholder,
.inputMultiTypes.item-input textarea::placeholder {
  font-size: 1.5vh;
}

@media only screen and (max-width: 400px) {
  .surveyBorder {
    left: 63%;
  }
  .surveyBorderPickASurvey {
    right: 63%
  }
  .surveyBorderAnswerASurvey {
    left: -37%;
    right: 63%;
  }
}

@media only screen and (max-width: 360px) {
  .surveyBorder {
    left: 65%;
  }
  .surveyBorderPickASurvey {
    right: 64.5%
  }
  .surveyBorderAnswerASurvey {
    left: -36%;
    right: 64%;
  }
}
