/* --- Global Styles --- */
html {
  direction: ltr;
}

body {
  -webkit-overflow-scrolling: touch !important;
}

body,
input,
button,
select,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

a,
p,
button {
  transition: all .5s;
}

.force-ar-tf {
  font-family: TheSansArabic !important;
}

/* --- Margin and Padding --- */
.landContent .responsive-lg .col,
.scroll-content,
.row+.row,
.row,
.bar.bar-positive,
.bar-positive .button.button-icon,
.curvedBannerContainer .col,
.homeContent .requestBtn,
.homeContent .slideImg,
.itemImgContainer .lgItemUploaderIcon.active,
.itemImgContainer .smItemUploaderIcon.active,
.itemImgContainer.col,
.item-toggle .toggle,
.generalForm .item-radio .item-content,
.generalForm .item-radio input:checked+.radio-content .radio-icon,
.addBtn,
.starContainer a,
.sakinServiceContent .objectiveTabBorder,
.button.button-block,
.button.button-full,
.classifiedList .objectiveTabContent p:last-child,
.classifiedList .objectiveTabContent h2,
.orTitle p,
p,
.innerFormContainer .list,
.col.rateContainer,
.bar .buttons-right span,
.bar-positive .button.button-clear,
.discountCardsForm p:first-child,
.inputMultiTypes .item-input.item-select,
.inputMultiTypes .item,
.item {
  margin: 0;
  padding: 0;
}

/* ---- Font Size ---- */
.popup {
      position: fixed;
  z-index: 10000;
}

.popup .popup-buttons .button,
.error p {
  font-size: 2vh !important;
  line-height: 2.2vh !important;
}

.popupNoHeader .popup-head {
  display: none;
}

a {
  font-size: 1.6vh;
  line-height: 2vh;
}

.menu-user-info.item .userMail,
.selectImgTitle {
  font-size: 14px;
  line-height: 14px;
}

.landFormTitle p {
  font-size: 2.4vh;
  line-height: 3.4vh;
}

.landFormTitle h1 {
  font-size: 3.5vh;
  line-height: 6.5vh;
  margin: 0;
}
.landFormTitle i{
    font-size: 16vh;
    color: #fff;
}
.titleSurv {
  font-size: 6vh;
  line-height: 8vh;
}

.objectiveTabContent li {
  font-size: 2vh;
  line-height: 3.5vh;
}

.popup-body span,
.serviceReqForm.innerFormEditableContainer .item-input,
.innerFormEditableContainer .item-input,
.formContainer .forgetLink,
.bar.item-input-inset .item-input-wrapper input,
.userProfileSettingsContent .generalForm .item-toggle,
.tabContents p,
.faqsContent .tabQuestionContent p,
.objectiveTab p,
.loadMoreBtn,
.reportBtn,
.item p,
.feedbackUploadContainer .title,
.discountCardsForm p:first-child {
  font-size: 2.3vh;
  line-height: 3.5vh;
}

.curvedBannerContainer .landFormTitle p,
.menu-user-info .userName,
.menu-left .item p {
  font-size: 2.5vh;  /* = 18px*/
  line-height: 2.5vh;
}

.curvedBannerContainer .landFormTitle p {
  font-size: 3.5vh;
  color: #fff;
}

.menu-left .item p {
  line-height: 4vh;
}

.countryCode,
.item-input input[type],
.item-input .icon.ion-eye,
.landFormContent .input-label,
.menu-left i,
.answerSurveyQuestionsNum span {
  font-size: 2.7vh;  /* = 20px */
}

.singTitle p:first-child {
  font-size: 3.3vh;  /* =  24px*/
  line-height: 4.3vh;
}

.singTitle p:last-child {
  font-size: 6.5vh;  /* =  48px*/
  line-height: 8.5vh;  /* =  48px*/
}

/* ---- Font Weight ---- */
.faqsContent .tabQuestionContent p,
.discountCardsForm p:first-child {
  font-weight: bold;
}

/* ---- Float + Width ---- */
.itemRelativeContainer,
.homeContent .relativeRow,
.contentWithBanner .relativeRow,
.classifiedList .list,
.classifiedList .list a,
.classifiedList .list>div,
.classifiedList .list .objectiveTabBorder,
.classifiedList .objectiveTabContent,
.unOrderListContent .list div,
.questionContainer,
.footer-contact a {
  float: left;
  width: 100%;
}

.detailsContent .globalTab.active a,
.detailsContent .globalTab {
  width: 100%;
}

.detailsContent p.clear {
  position: absolute;
  right: 2vw;
}

.questionContainer,
.InnerBanner .imgCurve img {
  height: 100%;
}

/* ---- Colors ---- */
.countryCode,
.resetFormX,
.forgetLink,
.item-input input[type],
.item-input .icon.ion-eye,
.landContent p,
.landFormContent .input-label,
.menu-user-info.item p,
.findMoreLayerTxt p,
.propertiesContent .propertySpecs a,
.propertiesContent .item-select:after,
.curvedBannerContainer .landFormTitle,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.image-modal p,
.item-input .icon,
.landFormTitle h1,
.footer-contact a, .item-input i {
  color: #fff;
}

.menu-left i,
.filterForm.row.generalForm p,
.filterForm .item-select select,
.filterForm .item-select:after,
.ezdanDCContent .visionDetailsContent .offerNote,
.classifiedList .objectiveTabContent h2,
.serviceReqForm.innerFormEditableContainer .inputSelectDate,
.loadMoreBtn,
.objectiveTab .reportBtn,
.titleSurv,
.unOrderListContent .objectiveTabContent,
.feedbackUploadContainer .title,
.discountCardsForm p:first-child,
.answerSurveyQuestionsNum span, .contactContent li a i, .contactContent li a span {
  color: #d23139;
}

.bar.item-input-inset .item-input-wrapper input,
.galleryCategory .globalTab.active a,
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper input[type="search"] {
  color: #000;
}

.popup .popup-body button,
.error p,
.formContainer .forgetLink:hover,
.popup .popup-head h3 {
  color: #d33f44 !important;
}

.popupForm input::placeholder,
.popupForm .item-input textarea::placeholder,
.innerFormContainer input::placeholder,
.innerFormContainer .item-input textarea::placeholder,
.globalTabLink,
input::placeholder,
.bar.item-input-inset .item-input-wrapper input::placeholder,
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper input[type="search"]::placeholder,
.innerFormContainer input::placeholder,
.innerFormEditableContainer input::placeholder,
.innerFormEditableContainer .item-input textarea::placeholder,
.classifiedForm .item-input input::placeholder,
.classifiedForm .item-input textarea::placeholder {
  color: #ffffff;
}

.sakinServiceContent .objectiveTabContent h1,
.innerFormContainer .item-input span,
.faqsContent .tabQuestionContent p,
.objectiveTabContent li,
.item p,
.ion-android-close:before,
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper .filter-bar-clear:before,
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper .filter-bar-clear:before,
.platform-ios .filter-bar .filter-bar-positive .item-input-wrapper .filter-bar-clear:before,
.classifiedForm .item-input input,
.classifiedForm .item-input.item-select select,
.classifiedForm .item-input textarea,
.popupForm .item-input input[type] {
  color: #404040;
}

.propertySpecs a {
  color: #b2252c;
}

.serviceReqForm.innerFormEditableContainer .item-input,
.ion-datetime-picker .time .item-input input,
.button.button-stable {
  color: #1d1d26;
}

.curvyBtn.redBG,
.redBG,
.bar.bar-positive,
.menu-user-info,
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.footer-contact,
.footer-contact .col, .discountCardsContent .col.addBtn {
  background-color: #d23139;
}

.fc-event {
  background-color: #1d1d26 !important;
}

.spinner-android {
  stroke: #d23139;
}

.curvyBtn.darkRedBG,
.darkRedBG {
  background-color: #b2252c;
}

.generalForm .item-radio input:checked+.radio-content .item-content,
.col.whiteBG,
.ion-datetime-picker .col,
.row.innerFormContainer .col,
.fc th, .col.addBtn {
  background-color: #fff;
}

.button.button-stable {
  background-color: #E9EAEF;
}

/* ---- Background Colors ---- */
.popup .popup-body .selected,
.popup .popup-buttons .button-positive {
  background-color: #d33f44 !important;
}

/* ---- Border Colors ---- */
.bar.bar-positive {
  border-color: #d23139;
  border-color: #d23139;
  background-color: #d23139;
  background-image: linear-gradient(0deg, #d23139, #d23139 50%, transparent 50%);
}

.filterForm.innerFormEditableContainer .item-input.item-select {
  border-color: #d23139;
}

.classifiedList .objectiveTab,
.item.item-complex,
.extendMenuIcon .item,
.appointmentsContent .objectiveTab,
.range,
.menu-left .item,
.item-input.noBorder,
.inputMultiTypes .item,
.inputMultiTypes .item-input,
.generalForm .generalRadios,
.noBorder,
.item-radio,
.itemImgContainer .itemInfo,
.discoverSlider .objectiveTab,
.innerFormEditableContainer .generalRadios .item-input textarea,
.innerFormEditableContainer .inputMultiTypes.item-input:last-child,
.browseClassifieds .item,
.no-border,
.col.transparentBG {
  border: none !important;
}

.menu-open .scroll-view.scroll-x,
.popup-open .scroll-view.scroll-x {
  overflow: hidden !important;
}

/* ---- Circle Style ---- */
.circleRadius,
.classifiedList .objectiveTab img {
  border-radius: 50%;
  overflow: hidden;
}

.popup-container {
  z-index: 100;
}

.loading-container .loading,
.popup-container .popup {
  padding: 5vh;
  border-radius: 3vh;
  background-color: transparent;
  color: #fff;
}

.itemInfo p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ---- Verticals ---- */
.ion-eye:before {
  vertical-align: middle;
}

.popup-container .popup {
  padding: 2vh;
  background-color: #fff;
  color: #000;
}

.popup-head {
  padding: 15px 0;
  margin: 0 10px;
  border-bottom: 0.2vh solid #d33f44 !important;
}

.popup .popup-buttons .button {
  border-radius: 3vh;
  margin: 0 0.5vh;
}

.popup-body {
  padding: 1vh;
}

.imgLayout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.58);
}

.imgCurve {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -1vh;
  z-index: 10;
}

.surveyPickASurveyUnits .objectiveTabBorder .objectiveTabContent,
.objectiveTabBorder,
.classifieddetail .itemImgContainer .noBorder,
.browseClassifieds .item,
.browseClassifieds a {
  width: 100%;
}

.homeContent .imgCurve img,
.itemImgContainer a img,
.profileBanner .itemImgContainer .smItemUploaderIcon img {
  object-fit: initial;
}

.homeContent .slider,
.absoluteSpan {
  position: absolute;
}

.sliderCurve {
  position: absolute;
  left: 0;
  top: -0.8vh;
  right: 0;
  z-index: 12;
}

.requestBtn {
  text-align: center;
  display: inline-block;
}

.bar .title.title-left,
.footer-contact a {
  text-align: center;
}

img,
.homeContent img,
.menu-left img,
.bar.bar-positive .nav-bar-title img,
.contentWithBanner img,
.classifiedList .objectiveTab img {
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
}

.bar.bar-positive .nav-bar-title img {
  float: initial !important;
}

.homeContent,
.contentWithBanner {
  float: left;
  width: 100%;
  height: 100%;
}

.extendMenuIcon,
.classifiedList .objectiveTab img {
  border-top: 0.3vh solid #E9EAEF
}

.scroll {
  height: 100vh;
}

.has-header {
  top: 6vh;
}

.has-header .scroll {
  height: calc(100vh - 6vh);
}

.popup .has-header .scroll {
  height: auto;
}

.popup .scroll-content {
  position: relative;
}

.ltr-contents {
  direction: ltr !important;
}

.rtl-contents {
  direction: rtl !important;
}

.rtl-contents .input-label {
  padding-right: 0;
}

.menu-user-info .col {
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  color: #fff;
}

.error,
.textarea-error {
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
}

.landFormContent .error,
.landFormContent .textarea-error {
  bottom: 0.5vh;
  top: initial;
}

.countryCode {
  padding-left: 1.5vh;
}

.relativeRow,
.itemRelativeContainer,
.sakinServiceContent {
  position: relative;
}

.absoluteRow {
  position: absolute;
}

.absoluteRow.footer-contact {
  bottom: 0;
}

.centerRow {
  text-align: center;
}

.loginForm,
.content-box.loginForm {
  padding: 50px 25px 25px 25px;
}

.item-input {
  border: none;
  padding: 10px 0 5px 0px;
}

.item-input {
  border-bottom: 1px solid #fff;
}

.popupForm .item-input {
  border-bottom: 1px solid #dfe0e1;
  display: block;
}

.item-input input[type],
.item-select select {
  padding: 10px;
  line-height: 3vh;
  height: 6vh;
}

.item-input input[type],
.item-input input:-webkit-autofill,
.card,
.list-inset,
.item-input,
.list-inset .item {
  background-color: transparent !important;
}

.item-input input:-webkit-autofill,
.item-input input:-webkit-autofill:hover,
.item-input input:-webkit-autofill:focus .item-input textarea:-webkit-autofill,
.item-input textarea:-webkit-autofill:hover .item-input textarea:-webkit-autofill:focus,
.item-input select:-webkit-autofill,
.item-input select:-webkit-autofill:hover,
.item-input select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.item-input input:-webkit-autofill,
.item-input input:-webkit-autofill:hover,
.item-input input:-webkit-autofill:focus .item-input textarea:-webkit-autofill,
.item-input textarea:-webkit-autofill:hover .item-input textarea:-webkit-autofill:focus,
.item-input select:-webkit-autofill,
.item-input select:-webkit-autofill:hover,
.item-input select:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.resetFormX {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 18px;
}

.resetBtn {
  margin-top: 20px;
}

.gridIcon {
  float: left;
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
}

.gridIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gridContainer {
  height: calc(100% - 139px);
}

.gridContainer .col {
  overflow: hidden;
  text-align: center;
  padding: 5px;
}

.gridContainer .col h3 {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  margin: 0
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 2vh;
  margin: 0;
  text-align: center;
}

.landFormContent .formContainer {
  max-width: 96vw;
  display: inline-block;
}

.formContainer .forgetLink {
  float: right;
  cursor: pointer;
  padding: 0.2vh 0;
  margin: 2vh 0;
}

.landFormContent .list {
  width: 90vw;
  max-width: 90vw;
}

.formContainer .row {
  display: inline-block;
  margin: 3vh 0 7vh 0;
}
.forgotPassContent .formContainer .row{
  margin-bottom: 10vh;
}
.button {
  cursor: pointer;
}

.button.curvyBtn {
  border-radius: 3vh;
  width: 40vh;
  height: 6vh;
  min-width: 33vh;
  max-height: 6vh;
  min-height: 6vh;
  line-height: 3.5vh;
  display: inline-block;
  vertical-align: initial;
  font-size: 2.4vh;
  overflow: hidden;
}

.curvyBtn.whiteBG,
.whiteBG {
  background-color: #fff;
  color: #d23139;
}

.button.curvyBtn.redBG:hover,
.button.redBG:hover,
.button.button-calm.activated,
.button.button-calm.active,
.button.button-calm.activated,
.button.button-calm.active {
  border-color: #d23139;
  background-color: #d23139;
  color: #fff;
}

.curvyBtn.transparentBG,
.transparentBG {
  background-color: transparent !important;
  border: 2px solid #fff !important;
}

.transparentBG.noBorder {
  background-color: transparent !important;
  border: 0 !important;
}

.curvyBtn.transparentBG:hover,
.transparentBG:hover {
  color: #fff !important;
}

.button.button-calm:hover,
.circleIcon:hover,
.button.button-calm:focus,
.circleIcon:focus {
  background-color: #fff;
  border: #fff;
  color: #d23139;
}

.landFormTitle {
  padding: 9vh 0;
}

.landFormTitle p {
  margin-top: 1vh;
}

.sliderContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.circleIcon {
  background-color: #fff;
  padding: 1.9vh 2.5vh;
  border-radius: 5vh;
  color: #d23139;
  font-size: 2.4vh;
  margin-right: 1.4vh;
  cursor: pointer;
}

.viewBGSet {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.landViewBG {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landViewBG.jpg);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landViewBG.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landViewBG.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landViewBG.jpg);
}

.landGateBG {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landGateBG.jpg);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landGateBG.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landGateBG.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/landGateBG.jpg);
}

.landLanguageViewBG {
  background-image: url(../img/landLanguageBG1.jpg);
}

.landLanguageContent .row {
  position: absolute;
}

.landLanguageContent .row:first-child {
  background-image: url(../img/landLanguageLogo.png);
  background-size: contain !important;
  background-position: left bottom !important;
  bottom: 0;
  left: 0;
  height: 70%;
}

.landLanguageContent .languageBtns {
  display: inline-block;
  width: 21.1vh;  /* = 130px*/
  right: 5vh;  /* = 30px*/
  bottom: 16vh;  /* = 100px*/
}

.landLanguageContent .languageBtns .button.curvyBtn {
  width: 100%;
  min-width: 100%;
}

.landLanguageContent .languageBtns .button.curvyBtn:first-child {
  margin-bottom: 2vh;
}

.landFormContent .input-label {
  padding: 0;
  max-width: 150px;
  width: 18%;
  text-align: left;
  padding-left: 10px;
}

.landFormContent .item-select select {
  padding: 0.3vh 4.1vh 0.3vh 1.34vh;
  border-radius: 3vh;
  float: initial !important;
  width: initial !important;
  right: 0 !important;
  left: inherit;
  height: inherit;
}

.item-select {
  padding: 0;
}

.item-select:after {
  right: 10px;
}

.rowSignup {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 53vh;
  background-position: left 0 !important;
  width: 100%;
}

.rowSignup .rowRelative {
  display: inline-block;
  margin-top: 26vh;
}

.gateTitleContainer {
  margin: 0 0 2vh 0 !important;
  padding: 0 !important;
  text-align: center;
  display: inline-block;
}

.singTitle {
  display: inline-block;
}

.singTitle p:first-child {
  margin-bottom: 0.5vh;
}

.signIcon {
  display: inline-block;
  height: 12vh;
  width: 12vh;
  margin-right: 3vh;
}

.orTitle {
  margin: 3vh 0 !important;
}

.item-input .icon.ion-eye {
  position: absolute;
  right: 0;
  min-width: 6vh;
  min-height: 5vh;
  padding: 1vh;
  float: initial;
  width: initial;
}

.bar {
  height: 6vh;
  border: none;
}

.bar .title {
  top: 1.8vh;
  left: 0 !important;
  right: 0 !important;
  text-align: center;
  z-index: initial;
  overflow: initial;
  margin: 0;
  min-width: initial;
  height: initial;
  text-overflow: initial;
  white-space: initial;
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  transform: initial !important;
}

/*.bar.bar-positive .nav-bar-title {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 10vh;
  height: 10vh;
  background-color: #d23139;
  padding: 2vh;
  margin-top: -2vh;
}*/
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
  margin: 0.5vh 0 0 1vh;
}

.bar-positive .button.button-icon {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  margin-top: 0.4vh;
  margin-right: 1vw;
}

/*.ion-navicon:before,*/
.ion-ios-search-strong:before,
.ion-android-notifications-none:before {
  content: "";
  width: 3vh;
  height: 3vh;
  background-size: contain;
  background-repeat: no-repeat;
}

/*.bar-positive .button.button-icon.ion-navicon {
  padding: 1.8vh 1.5vh;
}*/
.bar-positive .button.button-icon.ion-ios-search-strong,
.bar-positive .button.button-icon.ion-android-notifications-none {
  padding: 0.5vh 1vh;
  margin: 0;
}

/*.ion-navicon:before {
  background-image: url(../img/nav-icon.png);
}*/
.ion-ios-search-strong:before,
.ion-android-search-strong:before {
  background-image: url(../img/search.png);
}

.ion-android-notifications-none:before {
  background-image: url(../img/bell.png);
}

.bar.item-input-inset .item-input-wrapper input {
  padding-left: 0;
  width: 100%;
  height: 3.8vh;
  background: transparent;
  background: #fff !important;
  padding: 0 2vh !important;
  border-radius: 3vh;
}

.bar-positive .button.button-clear.filter-bar-cancel,
.ion-ios-arrow-back:before,
.ion-android-arrow-back:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  padding: 0;
  margin: 0 1vh;
}

.bar-positive .button.button-clear.filter-bar-cancel,
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
  background-image: url(../img/leftArrow.png);
  width: 2vh !important;
  height: 1vh !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.bar-positive .button.button-clear.filter-bar-cancel {
  transform: rotateZ(180deg);
}

.button .icon:before,
.button.icon:before,
.button.icon-left:before,
.button.icon-right:before {
  vertical-align: top !important;
  line-height: 3.5vh !important;
  padding-right: 1vh !important;
}

.ion-datetime-picker .button .icon:before,
.ion-datetime-picker .button.icon:before,
.ion-datetime-picker .button.icon-left:before,
.ion-datetime-picker .button.icon-right:before {
  vertical-align: inherit !important;
  line-height: 19px !important;
  padding-right: 0 !important;
}

.shareBtn.button .icon:before {
  padding-right: 0.2vh !important;
}

.ion-ios-arrow-back:before,
.ion-ios-arrow-back.forwardArrow:before {
  background-image: url(../img/leftArrow.png);
  width: 4vw;
  height: 3vh;
  margin-top: 1.5vh;
}

.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
  position: relative;
  background: white !important;
  border: 0 !important;
  margin-left: 1.5vh;
  padding: 0;
}

.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper,
.bar .button,
.bar button {
  height: 4vh !important;
  min-height: 4vh !important;
  border-radius: 3vh;
}

.bar-subheader {
  z-index: 10;
  opacity: 1;
  top: 5vh;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 100ms ease-in-out !important;
  transition: opacity 100ms ease-in-out !important;
}

.bar-subheader .list {
  width: 100vw;
}

.curvedBannerContainer .radiusBanner {
  border-radius: 15px;
  width: calc(100% - 10px);  /*height: calc(100% - 10px);*/
  margin: 5px;
  overflow: hidden;
  float: none;
  object-fit: cover;
  text-align: center;
}

.curvedBannerContainer .landFormTitle {
  position: absolute;
  text-align: left;
  margin: 0 !important;
  top: 2vh;
  left: 4vw;
  z-index: 15;
}

.bar .button.button-icon .icon:before,
.bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar button.button-icon .icon:before,
.bar button.button-icon:before,
.bar button.button-icon.icon-left:before,
.bar button.button-icon.icon-right:before {
  font-size: 5vh;
  line-height: 4vh;
}

.curvedBannerContainer .landFormTitle p {
  margin-bottom: 1.5vh;  /* = 16px*/
}

.curvedBannerContainer .landFormTitle h1 {
  font-size: 3.5vh;  /* = 35px*/
  line-height: 3.5vh;  /* = 30px*/
  margin-bottom: 3.1vh;  /* = 22px*/
  font-weight: bold;
}

.button.curvyBtn.smallBtn {
  width: 17.7vh;
  min-width: 17.7vh;
  font-size: 2.2vh;
}

.button.curvyBtn.tinyBtn {
  width: 21vh;
  min-width: 20vh;
  font-size: 2vh;
  height: 5vh;
  min-height: 5vh;
  max-height: 5vh;
}

.requestContainer {
  float: left;
  width: 100%;
  margin-bottom: 3vh !important;
}

.requestContainer .ezLogo {
  width: 100%;
  max-width: 80%;
  height: 100%;
  float: left;
  padding: 0;
  margin-left: 3.4vh !important;
  margin-top: -8vh !important;
  z-index: 11;
}

.requestContainer .ezLogo img {
  width: 24.5vh !important;  /* = 180px*/
  margin-bottom: 0.4vh;  /* = 3px*/
  height: 10.3vh !important;
}

.requestContainer .ezLogo p {
  float: left;
  color: #818285;
  font-size: 2.1vh;  /* = 15px*/
}

.requestBtn .button.curvyBtn.smallBtn {
  width: 16.3vh;
  min-width: 16.3vh;
  border: 2px solid #a7a9ac;
}

.addBtn .button.curvyBtn.smallBtn.redBG {
  border: 2px solid #fff;
  width: 18vh;
  min-width: 18vh;
  max-height: 6.6vh;
  height: 6.6vh;
}

.slideImg {
  float: left;
  width: 100%;
  height: 35vh;
}

.userImgHeader {
  width: 4.5vh;
  height: 4.5vh;
  max-width: 4.5vh;
  margin: 0 0.75vh;
}

.menu-user-info .userName {
  margin: 0.5vh 0 0.5vh 0;
  display: block;
}

.menu-user-info .userImg {
  width: 6.5vh;
  height: 6.5vh;
  max-width: 6.5vh;
  margin-right: 2vh;
}

.menu-user-info.item {
  padding: 3vh 2vh;
}

.menu-left i,
.menu-left p {
  display: inline;
}

.menu-left i {
  width: 17px;
  margin-right: 14px;
  float: left;
}

.findMoreLayer {
  position: absolute;
  bottom: -9vh;
  left: 0;
}

.findMoreLayer svg {
  width: 44vh;
  height: 27vh;
}

.findMoreLayerTxt {
  position: absolute;
  left: 2vh;
  top: 10.5vh;
}

.findMoreLayerTxt+img {
  position: absolute;
  width: 3vh;
  bottom: 10.8vh;
  height: 2.5vh;
  right: 9vh;
  object-fit: contain;
}

.findMoreLayerTxt p:first-child {
  font-size: 2.4vh;
  margin-bottom: 0.8vh;
}

.findMoreLayerTxt p:last-child {
  font-size: 3vh;
}

.slider-pager {
  position: absolute;
  right: 3vh;
  bottom: 1vh;
  margin: 0 !important;
  padding: 0 !important;
  text-align: right;
}

.singlePropertyContent .slider-pager .slider-pager-page {
  width: 10px;
}

.singlePropertyContent .slider-pager .slider-pager-page i {
  font-size: 1.3vh;
}

.slider-pager span,
.slider-pager .slider-pager-page {
  color: rgba(216, 217, 218, 0.45);
}

.slider-pager .active,
.slider-pager .slider-pager-page.active {
  color: #d8d9da;
}

.swiper-pagination-bullet {
  background-color: #d8d9da;
}

.col,
.scroll-content,
.view,
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"],
[nav-view-transition="ios"] [nav-view="active"],
[nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="entering"],
[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="leaving"] {
  background-color: #e6e6e6;
}

.ion-ios-arrow-back:before,
.ion-android-arrow-back:before,
.ion-ios-arrow-forward:before {
  content: "";
}

.itemImgContainer {
  position: relative;
  margin-bottom: 2vh !important;
}

.height20vh {
  height: 20vh;
  max-height: 20vh;
}

.height30vh {
  height: 30vh;
  max-height: 30vh;
}

.height25vh {
  height: 25vh;
  max-height: 25vh;
}

.height22vh {
  height: 22vh;
  max-height: 22vh;
}

.itemImgContainer .xlgItemUploaderIcon {
  width: 20vh;
  height: 20vh;
  float: left;
  position: relative;
  margin-left: 2vh;
}

.discountCardsForm .item-select:after {
  right: 0;
}

.itemImgContainer .noBorder {
  width: 36vw;
}

.itemImgContainer .lgItemUploaderIcon {
  width: 15vh;
  height: 15vh;
  padding: 5vh;
  margin-top: 1vh;
  background-color: #f7f7f7;
}

.itemImgContainer .smItemUploaderIcon {
  width: 5vh;
  height: 5vh;
  position: absolute;
  padding: 1.2vh 1.1vh;
  background-color: #fff;
  top: 5vh;
  right: -2vh;
}

.itemImgContainer .smItemUploaderIcon.active {
  border-color: #fff;
  top: 2vh;
  right: 0vh;
  position: absolute;
}
.smItemUploaderIcon i{
  color: #b2252c;
    font-size: 2vh;
}
.itemImgContainer .circleRadius {
  border: 0.4vh solid #dfe0e1;
}

.profileBanner .circleRadius {
  border-color: #fff;
}

.row.innerFormContainer {
  width: 70vw;
  margin: 0 5px 2vh 5px;
  border-radius: 15px;
  background-color: #fff;
  padding: 2vh;
}

.row.discountCardsForm,
.row.generalForm {
  /*width: 97.5vw;*/
  margin: 5px;
}

.innerFormContainer .item-input {
  padding: 0;
  margin: 0.1vh;
  border-bottom: 0.3vh solid #e9e9ea;
}

.classifiedForm .item-input.item-select {
  height: 6vh;
  line-height: 4vh;
}

.classifiedForm .item-select:after {
  top: 3vh;
}

.classifiedForm .addBtn,
.editClassifiedForm .addBtn {
  margin-top: 2vh !important;
}

.innerFormContainer .item-input input[type],
.innerFormContainer input::placeholder,
.innerFormContainer .item-input textarea,
.innerFormContainer .item-input span,
.classifiedForm .item-select select {
  padding: 0;
  font-size: 2.3vh !important;
}

.innerFormContainer .item-input textarea {
  resize: none;
  padding: 2vh 0;
  min-height: 6.1vh;
  display: inline-block;
}

.popup .innerFormContainer .item-input textarea {
  display: block;
}

.innerFormEditableContainer .item-input {
  display: block;
  text-align: left;
  color: #d23139;
  position: relative;
}

.innerFormEditableContainer .item-input input[type],
.innerFormEditableContainer .item-input textarea,
.generalForm .item-toggle,
.generalForm .radio-content {
  font-size: 2.5vh;
  color: #1d1d26;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  height: 3.8vh;
  padding-bottom: 0.3vh;
}

.innerFormEditableContainer .item-input textarea {
  padding: 0;
  display: block;
  line-height: 3.3vh;
  height: auto;
  min-height: 6.1vh;
}

.innerFormEditableContainer .item-input {
  margin: 2vh 0;
}

.innerFormEditableContainer .item-input:last-child {
  margin-bottom: 0;
}

.itemDetailsTxt p {
  text-align: left;
  font-size: 1.6vh;
  letter-spacing: 0.05vh;
  font-family: Tahoma;
  color: #404040;
}

.itemDetailsTxt p:nth-child(odd) {
  margin-bottom: 2.5vh;
}

.col.itemDetailsTxt {
  padding: 4vh 3vh 0 3vh;
}

.itemInfo {
  text-align: left;
  float: left;
  margin-left: 3vh;
  margin-top: 3vh;
  overflow: hidden;
  white-space: nowrap;
  max-width: 45vw;
}

.slide-in-up.ng-enter-active .addBtn {
  margin-top: 5vh;
}

.classifieddetail .itemRelativeContainer {
  width: initial;
}

.itemInfo p:nth-child(1) {
  font-size: 2vh;
  letter-spacing: 0.15vh;
  margin-bottom: 0.3vh;
}

.itemInfo p:nth-child(2) {
  font-size: 1.6vh;
  letter-spacing: 0.15vh;
  margin-bottom: 3vh;
}

.itemInfo p:nth-child(3) {
  font-size: 3vh;
  letter-spacing: 0.2vh;
  color: #d23139;
  line-height: 3.5vh;
}

.classifieddetail .itemImgContainer .itemInfo p:last-child {
  margin-top: 0.5vh;
}

.userProfileSettingsContent .addBtn {
  margin: 5vh 0;
}

.generalForm .item-toggle {
  text-align: left;
  border: none;
  padding: 1vh 0 4.3vh 0;
  margin: 2vh 0;
}

.generalForm .item-toggle .toggle {
  right: 0;
  top: 0;
}

.generalForm .toggle .handle {
  top: 0.8vh;
  left: 0.5vh;
  width: 3.5vh;
  height: 3.5vh;
}

.generalForm .toggle .track {
  background-color: #adadad;
}

.generalForm .toggle.toggle-assertive input:checked+.track {
  border-color: #4e9d5f;
  background-color: #4e9d5f;
}

.generalForm .item-radio input:checked+.radio-content .item-content {
  padding: 0;
  border: none;
  padding-left: 4vh;
}

.generalForm .item-radio {
  text-align: left;
  float: left;
  margin-right: 2vh;
}

.generalForm .item-radio:last-child {
  margin: 0;
}

.generalForm .radio-content {
  position: relative;
}

.generalForm .generalRadios {
  font-size: 2.2vh;
  color: #d23139;
  text-align: left;
}

.generalForm .generalRadios .list i:first-child {
  float: left;
  width: 100%;
  margin-bottom: 2vh;
}

.generalForm .item-radio input:checked+.radio-content .radio-icon {
  left: 0;
  visibility: initial;
}

.generalForm .item-radio .radio-icon {
  left: 0;
  padding: 0;
}

.ion-checkmark:before {
  content: "";
  visibility: visible;
  border: 0.3vh solid #e9e9ea;
  border-radius: 50%;
  padding: 1.4vh;
}

.item-radio input.ng-valid-parse+.radio-content .ion-checkmark:before {
  border: 0.5vh solid #d23139;
}

.generalForm .item-radio .item-content {
  padding-left: 4vh;
}

.profileBanner {
  background-color: #e6e6e6;
  height: 48vh;
}
.profileBanner .col.addBtn{
  background-color: #e6e6e6;
}
.profileBanner .imgCurve,
.ezdanPlusInquire {
  top: initial;
  bottom: 0;
}

.ezdanPlusInquire .button.curvyBtn {
  line-height: 2.6vh;
}

.profileBanner .itemImgContainer {
  position: absolute;
  top: 8vh;
}

.profileBanner .itemImgContainer img {
  height: 100%;
  object-fit: cover;
}

.profileBanner .itemImgContainer .smItemUploaderIcon {
  top: 8vh;
}

.profileBanner .itemImgContainer .xlgItemUploaderIcon {
  margin-left: 0;
  margin-bottom: 2vh;
}

.userProfileContent .row.innerFormContainer, .row.discountCardsForm, .row.generalForm {
  width: calc(100% - 10px);
}

.addBtn .button.curvyBtn.btnWidth-35 {
  width: 35vh !important;
}

.userProfileContent .innerFormContainer .list {
  margin-bottom: 4vh;
}

.userProfileSettingsContent .innerFormContainer .list {
  /* margin-top: 5vh; */
}

.userProfileSettingsContent .innerFormEditableContainer .item-input.item-select {
  margin-bottom: 15vh
}

.userProfileSettingsContent .innerFormEditableContainer .item-input.item-select {
  height: 9vh;
}

.itemRelativeContainer p {
  color: #fff;
  font-size: 2.2vh;
  letter-spacing: 0.2vh;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  max-height: 5vh;
  line-height: 2.6vh;
}

.profileBanner .row {
  position: absolute;
  bottom: 6vh;
}

.profileBanner .tinyBtn:first-child {
  margin-right: 1vh;
}

.innerFormEditableContainer .item-input.item-select {
  height: 5vh;
}

.item-select select {
  float: left !important;
  width: 100% !important;
  max-width: 100% !important;
  top: initial;
  padding: 0;
  left: 0;
  right: initial;
  direction: ltr;
  font-size: 2.3vh !important;
  color: #1d1d26;
}

.input-label {
  display: table;
  max-width: 100%;
  width: 100%;
  color: #d23139;
  font-size: 2.16vh;
  z-index: 123352;
  padding: 0;
}

.item-select:after {
  right: 1.3vh;
  bottom: 1.3vh;
  top: initial;
}

.menu-left .menuIcons,
.menu-right .menuIcons {
  width: 4vh !important;
  height: 4vh !important;
  margin-right: 2vh !important;
  object-fit: contain !important;
}

.loadMoreBtn,
.browseClassifieds a {
  padding: 2vh;
}

.feedbackContainer.has-header {

  /*bottom: 17vh;*/
}

.feedbackBottom {
  height: 19vh;
  background-color: #d23139;
  bottom: 0;
  position: absolute;
}

.feedbackBottom .imgCurve {
  bottom: initial;
  top: -3vh;
}

.feedbackBottom .textarea-error {
  left: 0;
  bottom: 0;
  text-align: center;
  top: -4.5vh;
  z-index: 0;
  height: 3vh;
}

.feedbackBottom .textarea-error p {
  float: inherit;
  font-size: 2.2vh;
  line-height: 2.2vh;
  height: auto;
}

/*.feedbackContent .row.generalForm {
margin-bottom: 2vh;
}*/
.feedbackContent .innerFormEditableContainer .item-input {
  margin: 2vh 0;
}

.feedbackContent .innerFormEditableContainer .item-input:first-child {
  margin-top: 1vh;
}

.range,
.transparentBG {
  background-color: transparent;
}

.range .icon {
  display: none;
}

.rateContainer p {
  color: #fff;
  font-size: 2.2vh;
  margin: 2.5vh;
}

.feedbackBottom .addBtn,
.feedbackBottom .addBtn .button.curvyBtn.smallBtn.redBG {
  margin: 0;
}

.ion-ios-star:before,
.ion-android-star:before {
  content: "";
}

.starContainer img {
  width: 7vh !important;
  height: 7vh !important;
  object-fit: contain !important;
  margin-right: 2vh;
}

.singlePropertyContent .sliderContainer {
  float: left;
  position: initial;
}

.error p {
  float: right;
  height: auto;
}

.singlePropertyContent .globalTab {
  max-width: 30vh;
}

.singlePropertyContent .globalTab.active a {
  font-size: 2vh;
  padding-right: 0;
}

.singlePropertyContent .addBtn .curvyBtn.whiteBG,
.singlePropertyContent .whiteBG {
  border: 0.25vh solid #dfe0e1;
  margin: 0;
  float: left;
  font-size: 2vh;
  width: 23vh;
  min-width: 23vh;
  max-height: 5vh;
  min-height: 5vh;
}

.singlePropertyContent .addBtn {
  margin: 1vh 0;
}

.singlePropertyContent .slider {
  float: left;
  height: 100%;
  position: relative;
  border: 0.3vh solid #cedadd;
  border-left: 0;
  border-right: 0;
}

.singlePropertyContent .wide-as-needed {
  margin-bottom: 0;
}

.singlePropertyContent .slider-pager {
  left: 0;
  right: 0;
  bottom: 0.5vh;
  text-align: center;
}

.singlePropertyContent .slider-pager span {
  color: rgba(216, 217, 218, 0.45);
}

.singlePropertyContent .slider-pager .active {
  color: #d8d9da;
}

.singlePropertyContent .propertySpecs {
  background-color: #f6f6f6;
}

.singlePropertyContent .sliderContainer {
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  margin: 5px 5px 0 5px;
  width: calc(100% - 10px);
  height: 20vh;
}

.singlePropertyContent .propertySpecs {
  float: left;
  height: 100%;
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  margin: 0 5px 5px 5px;
  width: calc(100% - 10px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.propertySpecs a {
  font-size: 1.8vh;
}

.propertySpecs a::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.3vh;
  height: 2.1vh;
  display: inline-block;
  margin-right: 0.5vh;
  vertical-align: text-bottom;
}

.propertySpecs .bedsIcon::before {
  background-image: url(../img/icons/beds-icon.png);
}

.propertySpecs .buildingIcon::before {
  background-image: url(../img/icons/building-icon.png);
}

.propertySpecs .pinIcon::before {
  background-image: url(../img/icons/pin-icon.png);
}

.propertySpecs .chairIcon::before {
  background-image: url(../img/icons/chair-icon.png);
}

.propertySpecs .calendarIcon::before {
  background-image: url(../img/icons/calendar-icon.png);
}

.propertySpecs .hashIcon::before {
  background-image: url(../img/icons/hash-icon.png);
}

.propertySpecs ul {
  padding: 3vh 2vh 1vh 2vh;
  text-align: center;
}

.propertySpecs ul:last-of-type {
  padding: 1vh 2vh 3vh 2vh;
}

.propertySpecs ul li {
  display: inline-block;
  padding-right: 5.5vh;
}

.propertySpecs ul li:last-of-type {
  padding: 0;
}

.propertySpecs ul:last-of-type li:first-of-type {
  /* padding-right: 1.6vh; */
  padding-right: 2vh;
}

.item-complex .item-content,
.extendMenuIcon .item {
  padding: 2.5vh 3vh !important;
}

.row.propertyDetails {
  border-radius: 15px;
  background-color: #fff;
  padding: 3vh 2vh !important;
  margin: 0 5px 5px 5px;
  width: calc(100% - 10px);
}

.singlePropertyContent .wide-as-needed {
  white-space: normal;
}

.propertiesContent .media {
  height: 28vh;
}

.propertiesContent .dateAndTime {
  margin: 0;
  padding: 2.2vh 2vh 0 2vh;
  height: 15vh;
}

.propertiesContent .dateAndTime img {
  width: 3vh !important;
  height: 2vh !important;
  object-fit: contain;
  bottom: 1vh;
  right: 1vh;
}

.propertiesContent .EventsTitle {
  padding: 2vh 0 0 2vh;
  text-align: left;
}

.propertiesContent .EventsTitle h2 {
  font-size: 2vh;
  line-height: 2.9vh;
  padding: 0;
  margin-bottom: 0.7vh;
}

.propertiesContent .EventsTitle p {
  font-size: 1.8vh;
  line-height: 2.2vh;
  color: #fff;
}

.propertiesContent .propertySpecs {
  color: #fff;
}

.propertiesContent .propertySpecs ul {
  padding: 0;
  text-align: left;
  float: left;
  width: 100%;
  height: 100%;
}

.propertiesContent .propertySpecs ul li {
  padding-right: 2vh;
  padding-bottom: 1vh;
  white-space: nowrap;
}

.propertiesContent .propertySpecs a {
  color: #fff;
}

.propertiesContent .propertySpecs .bedsIcon::before {
  background-image: url(../img/icons/white-beds-icon.png);
}

.propertiesContent .propertySpecs .buildingIcon::before {
  background-image: url(../img/icons/white-building-icon.png);
}

.propertiesContent .propertySpecs .pinIcon::before {
  background-image: url(../img/icons/white-pin-icon.png);
}

.propertiesContent .propertySpecs .chairIcon::before {
  background-image: url(../img/icons/white-chair-icon.png);
}

.propertiesContent .propertySpecs .calendarIcon::before {
  background-image: url(../img/icons/white-calendar-icon.png);
}

.singlePropertyContent .propertySpecs ul:last-of-type li:first-of-type {
  padding-right: 5.3vh;
}

.property-tab {
  display: inline-block;
  width: calc(100% - 10px);
  margin: 5px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}

.property-title {
  padding: 2.5vh 3vw 2.5vh 3.3vw;
  font-size: 2.2vh;
  float: left;
  max-width: 54vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property-booking {
  padding: 2.5vh 3vw 2.5vh 3.3vw;
  font-size: 2.2vh;
  float: right;
  background-color: #d23139;
  color: #fff;
}

.filterForm.innerFormEditableContainer .item-input.item-select {
  float: left;
  width: 44%;
  height: 8vh;
  margin-right: 2vh;
  margin-left: 1vh;
}

.filterForm.innerFormEditableContainer .item-input.item-select.bedRoomsSelect {
  width: 44%;
  float: right;
}

.filterForm.innerFormEditableContainer .item-input.item-select.rentPaidSelect {
  width: 44%;
  float: left;
}

.filterForm.innerFormEditableContainer .item-input.item-select.typeSelect {
  width: 44%;
  float: left;
}

.filterForm.innerFormEditableContainer .item-input.item-select:last-of-type {
  /* margin-right: 0; */
  float: right;
}

.filterForm .item-select:after {
  right: 0;
  bottom: 0.5vh;
}

.filterForm .item-select select {
  background-color: transparent;
  font-size: 2.2vh !important;
  position: relative;
}

.filterForm .item-select select option {
  position: absolute;
  top: -10vh;
}

.filterForm.row.generalForm {
  width: calc(100vw - 10px);
  padding: 2vh 1vh !important;
  margin: 5px;
  background-color: #fff;
}

.sakinServiceContent .objectiveTab {
  padding-left: 12vh !important;
  border: none;
}

.sakinServiceContent .objectiveTab img,
.appointmentsContent .objectiveTab img {
  max-width: 7vh !important;
  max-height: 7vh !important;
  width: 7vh !important;
  height: 7vh !important;
  top: 2vh !important;
  object-fit: contain;
}

.appointmentsContent .objectiveTabContent {
  height: auto;
  padding: 0;
}

.sakinServiceContent .objectiveTabContent {
  height: 13vh;
  padding-right: 1vh;
}

.appointmentsContent .objectiveTabContent h1,
.appointmentsContent .objectiveTabContent p {
  white-space: normal;
}

.sakinServiceContent .objectiveTabContent h1,
.appointmentsContent .objectiveTabContent h1 {
  font-size: 2.2vh;
  margin-bottom: 1.5vh;
}

.curveBottomContainer {
  height: 10vh;
  background-color: #d23139;
}

.curveBottomContainer .imgCurve {
  top: -4vh;
  bottom: initial;
}

.contentWithBottom+.absoluteRow {
  position: absolute;
  bottom: 0;
  z-index: 20;
}

.contentWithBottom+.absoluteRow .addBtn {
  z-index: 21;
}

.absoluteRow .addBtn .button.curvyBtn.smallBtn.redBG {
  margin-top: 1vh;
}

.contentWithBottom.scroll-content {
  bottom: 13vh;
}

/*.propContentWithBottom.scroll-content {
bottom: 16vh;
}*/
.feedBackContentWithBottom.scroll-content {
  bottom: 30vh;
}

.feedBackContentWithBottom+.feedbackBottom {
  position: absolute;
  bottom: 0;
}

.faqsContent .objectiveTab img {
  max-width: 3.5vh !important;
  max-height: 5vh !important;
  width: 3.5vh !important;
  height: 5vh !important;
  top: 5.5vh;
  left: 1vh !important;
  margin-right: 3vh;
  object-fit: contain;
}

.answerSurveyQuestionsNum img {
  max-width: 2.5vh !important;
  max-height: 2.5vh !important;
  width: 2.5vh !important;
  height: 2.5vh !important;
  object-fit: contain;
  margin-top: 0.5vh;
}

.faqsContent .objectiveTab {
  padding: 5vh 0 !important;
  padding-left: 3vh !important;
  padding-right: 1vh !important;
  padding-bottom: 0;
  border: 0.2vh solid #d1d4d9;
  border-left: 0;
  border-right: 0;
}

.faqsContent .row {
  padding-bottom: 3vh;
}

.faqsContent .objectiveTabBorder {
  border: none;
  padding-bottom: 4vh;
  margin-right: 0;
}

.faqsContent .objectiveTabBorder:last-child {
  padding: 0;
}

.faqsContent .objectiveTabBorder+img {
  top: 16.5vh !important;
  position: absolute;
  max-width: 4.3vh !important;
  width: 4.3vh !important;
}

.faqsContent .tabQuestionContent,
.faqsContent .objectiveTabBorder,
.faqsContent .objectiveTabContent {
  width: 100%;
  height: 100%;
}

.faqsContent .list {
  margin: 0px 2vh;
}

.curvedImgContainer {
  margin: 0 1vh 2vh 0 !important;
  padding: 0;
  border: 0.5vh solid #dfe0e1;
  border-radius: 2vh;
  width: 18vh !important;
  height: 18vh !important;
  max-width: 18vh !important;
  display: inline-block;
  overflow: hidden;
}

.curvedImgContainer:nth-child(3n+3) {
  margin-right: 0 !important;
}

.rowGallery {
  display: inline-block;
  text-align: center;
}

.contactContent .innerFormEditableContainer .item-input {
  margin: 3vh 0;
}

.announcementTabs.objectiveTab img {
  width: 7vh !important;
  max-width: 7vh !important;
  height: 8vh !important;
  max-height: 8vh !important;
  object-fit: contain;
}

.announcementTabs.surveyPickASurveyUnits .objectiveTabBorder p span {
  font-size: 1.8vh;
}

.announcementTabs.surveyPickASurveyUnits .questionsNum p {
  float: right;
}

.announcementTabs.surveyPickASurveyUnits .questionsNum p span {
  float: left;
  font-size: 2vh;
}

.announcementTabs.objectiveTab .objectiveTabBorder,
.announcementTabs.objectiveTab .objectiveTabContent {
  padding-bottom: 1vh;
}

.announcementTabs.objectiveTab {
  padding: 3vh 0;
  padding-left: 14vh !important;
}

.mediaNewsContent .EventsTitle {
  padding: 1vh 1vh 0 0;
}

.mediaNewsContent .EventsTitle h2 {
  overflow: hidden;
  height: 14vh;
}

.mediaNewsContent .dateAndTime p,
.mediaNewsContent.curvedBannerContainer .dateAndTime p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: unset;
  width: auto;
  margin-bottom: 0.5vh;
  color: #fff;
  margin-top: 0;
}

.detailsContent .globalTabLink, .propertiesContent .globalTabLink {
  line-height: 3.5vh;
  padding: 2vh;
}

.detailsContent .globalTab.active span {
  /* margin-bottom: 3vh; */
  margin-bottom: 1.5vh;
  left: 2vh;
}

.detailsContent .globalTab {
  margin: 0;
}

.detailsContent .eventDesc {
  padding: 0 2vh !important;
  /* border-radius: 0 0 15px 15px; */
  border-radius: 15px;
  background-color: #fff;
  margin: 0 5px 5px 5px;
  width: calc(100% - 10px);
}

.detailsContent .eventDesc p {
  font-size: 2.4vh;
  line-height: 3.6vh;
  text-align: justify;
  margin-bottom: 6vh;
}

.galleryCategory .globalTab {
  margin: 1vh 2vh;
}

.galleryCategory .globalTab:nth-child(even) {
  margin-left: 0;
}

.galleryCategory .globalTabLink {
  color: #ababab;
  font-size: 2vh;
}

.ezdanDCContent .visionDetailsImg,
.ezdanDCContent .visionDetailsContent {
  width: 100%;
  margin: 0
}

.ezdanDCContent .visionMissionListUnit h2 {
  color: #000;
  font-size: 2vh;
  font-weight: bold;
  overflow: initial;
  text-overflow: initial;
  white-space: normal;
  padding: 1vh 0;
  margin: 0;
}

.ezdanDCContent .visionDetailsContent p .offerNumb {
  display: block;
}

.ezdanDCContent .visionDetailsContent .offerNote {
  padding-bottom: 1vh;
}

.ezdanDCContent .visionMissionListUnits {
  padding: 0 1.5vh;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  border-bottom: 0.3vh solid #a2a2a2;
}

.dcEmpty {
  text-align: center;
  margin-top: 10vh;
}

.dcEmpty .ion-sad {
  color: #d23139;
  font-size: 20vh;
}

.dcEmpty p {
  font-size: 2.5vh;
  line-height: 5vh;
}

.noresults {
  margin: 5px;
  padding: 2vh;
}

.noresults p {
  font-size: 2.5vh;
  line-height: 0;
}

.classifiedList .objectiveTabContent {
  height: initial;
}

.classifiedList .postAuthor {
  margin-right: 3vh;
}

.classifiedList .objectiveTabContent p .postDate {
  float: right;
}

.classifiedList .objectiveTabBorder {
  padding-right: 3vh;
  padding-bottom: 3vh;
}

.classifiedList .objectiveTabContent h2,
.classifiedList .objectiveTabContent p {
  padding-bottom: 1vh;
}

.classifiedList .objectiveTabContent p {
  line-height: 2.4vh;
}

.innerFormContainer .item-input span {
  padding-right: 1vh;
  line-height: 3.3vh;
}

.serviceReqForm.innerFormEditableContainer .inputSelectDate {
  padding: 1vh 0;
}

.serviceReqForm.innerFormEditableContainer .inputSelectDate i {
  margin-left: 1vh;
}

.popup-container .popup {
  width: 70vw;
}

.serviceReqForm.innerFormEditableContainer .item-input input[type],
.item-select select {
  height: 5vh;
}

.unOrderListContent .objectiveTabContent,
.unOrderListContent .objectiveTabBorder,
.slider {
  height: 100%;
  width: 100%;
}

.unOrderListContent .list .objectiveTabBorder {
  margin-bottom: 5vh;
}

.unOrderListContent .objectiveTabBorder {
  margin-right: 0;
}

.unOrderListContent .objectiveTabContent ul {
  padding-left: 1.5vh;
}

.unOrderListContent .objectiveTabContent ul li:before {
  content: "•";
  color: #d23139;
  padding-right: 1vh;
}

.ezdanPlusDesc {
  padding: 0 1vh;
}

.absoluteSpan {
  left: 0;
  bottom: 0.5vh;
}

.absoluteSpan+#itemPrice {
  padding-left: 3.5vh;
}

.absoluteSpan+#mobileNumber,
.absoluteSpan+#phonenumber,
.absoluteSpan+#mobile,
.absoluteSpan+#contactPhone {
  padding-left: 6vh;
}

.visionMissionListUnits.paddBottom:last-child {
  padding-bottom: 14vh;
}

.shareBtn {
  background-color: #d23139;
  color: #fff;
  border-radius: 5vh;
  overflow: hidden;
  position: fixed;
  min-height: initial;
  min-width: initial;
  line-height: initial;
  width: 7vh !important;
  height: 7vh !important;
  font-size: 2.2vh !important;
  bottom: 2vh;
  right: 3vh;
}

.classifiedList .objectiveTabContent .reportBtn {
  float: right;
  width: initial;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0.2vh solid #818286;
  background: #fff !important;
  font-weight: normal;
  color: #d23139 !important;
}

.fc-toolbar h2 {
  margin: 2vh 0 0 0;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.fc-event {
  border: 0.2vh solid #fafafa;
}

.fc-toolbar button {
  margin-right: 0.2vh;
}

.fc-toolbar .fc-left {
  margin-left: 0.5vh;
}

.fc-toolbar .fc-right {
  margin-right: 0.5vh;
}

.fc-toolbar .fc-right button {
  margin: 0
}

/*Gallery Modal Styles Begin*/
.image-list-thumb {

  /* padding: 2px 2px 2px 2px; */
  height: 150px;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  direction: ltr !important;
  background-color: rgba(0, 0, 0, 0.95);
}

.image-modal p {
  margin-left: 2vh;
}

.image {
  width: 100%;
  height: 90vh;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.ng-hide-remove,
.ng-hide-add,
.scroll-bar-indicator {
  display: none !important;
}

.centerBtn {
  width: 100%;
  text-align: center;
  float: left;
}

a.searchAr {
  direction: rtl;
}

a.searchEn {
  direction: ltr;
}

.searchList a {
  padding: 2.5vh 1vh;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.multipleImgContainer,
.multipleImgContainer .lgItemUploaderIcon.active {
  text-align: center;
  display: inline-block;
}

.discoverSlider {
  height: 60vh;
}

.overflowY {
  float: left;
  width: 100%;
  height: 100%;  /*overflow: auto;*/

  /*overflow-y: hidden;*/
  overflow-x: scroll;  /*-webkit-overflow-scrolling: touch;*/
}

.selectImgTitle {
  position: absolute;
  right: 0.2vh;
  bottom: 1.5vh;
  font-size: 1vh;
}

.feedbackUploadImg {
  display: inline-block;
  margin: 0 0 4vh 0 !important;
  padding: 0 !important;
  width: 8vh !important;
  height: 8vh !important;
  float: right;
  border: 0.3vh solid #dfe0e1;
}

.feedbackUploadContainer .title {
  float: left;
}

.userProfileContent .innerFormEditableContainer .item-input:first-of-type {
  margin-top: 0;
}

.ezdanPlusForm .list {
  margin-bottom: 3vh;
}

.ezdanPlusForm .row.innerFormContainer {
  margin-bottom: 15.5vh;
}

.questionContainer {
  margin: 2vh 0;
  padding-bottom: 2vh;
}

.questionContainer,
.browseClassifieds a {
  border-bottom: 0.4vh solid #eee;
}

.item-disabled,
item-disabled * {
  opacity: 0.3;
  pointer-events: none;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.land-logo {
  width: 100%;
  margin-top: 14vh;
  margin-bottom: 24vh;
}

.land-logo img {
  width: 39.7vw;
  height: 21vh;
  float: none;
  object-fit: contain;
}

.guestLogin .icon {
  margin-left: 3vw;
}

.guestLogin .ion-chevron-right:before {
  font-size: 16px;
  font-weight: bold;
}

.loginContent .land-logo img {
  width: 27vw;
  height: 15.3vh;
}

.loginContent .land-logo {
  margin: 0;
}

.homeContent .footer-contact a {
  background-image: url(../img/icons/contact-us.png);
  background-position: 30vw center;
  background-size: 14vw;
  background-repeat: no-repeat;
  padding: 4vh 0 4vh 14vw;
}

.footer-contact a {
  font-size: 3vh;
  padding: 4vh 0 4vh 0;
}

.homeContent .footer-contact a {
  font-size: 2.2vh;
}

.top-bar-img {
  display: inline-block;
  width: 6.2vw;
  height: 4.55vh;
}

.top-bar-icon {
  display: inline-block;
}

.top-bar-icon.align-right {
  margin: 0.2vh 0 0 0;
}

.top-bar-icon.align-left {
  margin-top: .9vh;
}

.top-bar-icon i {
  color: #fff;
  font-size: 4.5vh;
  padding: 1vh;
}

.top-bar-icon i.icon-menu {
  font-size: 3vh;
  padding: .9vh 2vh 2vh;
}

.top-bar-img img,
.ezdanDCContent .visionDetailsImg img,
.fit-contain, .top-bar-icon img {
  object-fit: contain;
}

.serviceUnit {
  width: 50.4vw;
  height: 11.5vh;
  object-fit: contain;
  float: none;
  margin-top: 4.5vh;
}

.curvedBannerContainer:last-child .serviceUnit,
.announcementsContent .serviceUnit {
  width: 45vw;
  height: 10vh;
  margin-top: 2.8vh;
}
.curvedBannerContainer p {
  margin-top: 1vh;
}

.curvedBannerContainer p,
.serviceDesc p,
.locationUnit span {
  color: #818285;
  font-size: 2.5vh;
  line-height: 3.5vh;
}

.locationUnit {
  display: inline-block;
  width: 38vw;
  /* height: 20vh; */
}

.locationUnit:nth-child(odd) {
  margin: 0 4vw 4vw 0;
}

.locationUnit img {
  border: 3px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 1.5vh;
  height: 20vh;
}

.locationUnit span {
  display: inline-block;
}

.serviceDesc p {
  padding: 3vh 3vw 3vh 3vw;
  text-align: left;
}

.curvedBannerContainer .col.locationContainer {
  padding: 4vh 0 5vh 0;
}

.locationContainer h1 {
  color: #d23139;
  font-size: 3.3vh;
  margin: 3vh 0 2vh 0;
}

.feedbackUploadContainer .button.button-calm {
  color: #d23139;
  border: 2px solid #e6e6e6 !important;
  margin-top: 2vh;
}

.feedbackUploadContainer .button.button-calm i {
  color: #aeb6c5;
  margin-right: 14px;
  vertical-align: sub;
  font-size: 3vh;
}

.feedbackUploadContainer {
  /* padding-bottom: 10vh */
}

.customerCareContainer .rectangle-item-three {
  width: calc(50% - 2.1vw);
}

.customerCareContainer .rectangle-item-one {
  width: 100%;
}

.customerCareContainer .rectangle-item:nth-child(even) {
  margin-right: 0;
}

.customerCareContainer .rectangle-item img {
  width: 16vw !important;
}

.removeHeight.has-header .scroll-view.scroll-x, .removeHeight .scroll-x {
  border-radius: 15px;
  background-color: #fff;
  /* margin-right: 5px;
  margin-left: 5px; */
  margin: 5px;
  padding: 0 12px;
  position: relative;
}

.removeHeight.has-header .scroll-view.scroll-x .icon-play-button:before {
  display: inline-block;
  padding-top: 3vh
}

.removeHeight.has-header .scroll-view.scroll-x .icon-play-button {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -13px;
  z-index: 111;
  color: #a2a2a2;
  width: 40px;
  text-align: center;
  font-size: 1.3vh;
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255));
}

.globalTabLink {
  color: #818286;
}

.globalTab:not(:last-of-type):after {
  content: '';
  position: absolute;
  top: -8px;
  bottom: -12px;
  width: 2px;
  background-color: #e6e6e6;
}

.fc-toolbar.fc-header-toolbar {
  background-color: #fff;
  margin: 0 5px 0 5px;
  padding: 10px 5px;
  width: calc(100% - 10px);
  border-radius: 15px 15px 0 0;
}

.fc-view {
  background-color: #fff;
  width: calc(100% - 10px);
  margin: 0 5px 5px 5px;
}

.view-tabs {
  float: left;
  width: calc(100% - 10px);
  margin: 0 5px 5px 5px;
  background-color: #fff;
  border-radius: 15px;
}

.mediaNewsContent .view-tabs,
.galleryContent .view-tabs {
  text-align: center;
}

.mediaNewsContent .globalTab,
.galleryContent .globalTab {
  width: calc(50% - 20px);
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 0;
}

.mediaNewsContent .globalTab:first-of-type,
.galleryContent .globalTab:first-of-type {
  border-right: 1px solid #d7d9e3;
}

.mediaNewsContent .globalTabLink,
.galleryContent .globalTabLink {
  float: none;
  display: inline-block;
  padding: 10px;
}

.mediaNewsContent .globalTab:after,
.galleryContent .globalTab:after {
  display: none;
}

.removeHeight.has-header .galleryContent .scroll-view.scroll-x {
  background-color: #e6e6e6;
  padding: 0 5px;
}

.removeHeight.has-header .galleryContent .scroll-view.scroll-x .globalTab {
  width: auto;
  padding: 0
}

.removeHeight.has-header .galleryContent .scroll-view.scroll-x .globalTab:first-of-type .globalTabLink {
  padding-left: 0
}

.radiusRow, .surveyMenuLinks {
  background-color: #fff;
  border-radius: 15px;
  margin: 0 5px;
  width: calc(100% - 10px);
  float: none;
  display: inline-block;
}

.detailsContent .radiusRow {
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #d7d9e3;
  margin: 0 5px !important;
}
.goBackArrow span:before{
  margin: 1.5vh 0 0 1vh !important;
}

.requestServiceUploadContainer {
  margin-top: 1.5vh;
}

.requestServiceUploadContainer .curvedImgContainer {
  position: relative!important;
  width: 30%!important;
  margin: 0 .8vh!important;
  height: auto!important;
  float: left;
  /* overflow: initial!important; */
  overflow: hidden;
}

.requestServiceUploadContainer .curvedImgContainer img {
  height: 15vh;
}

.requestServiceUploadContainer .curvedImgContainer p {
  position: absolute;
  left: 1vh!important;
  bottom: -4.5vh!important;
  font-size: 2vh!important;
  line-height: 4vh!important;
}

.scroll-view.ionic-scroll::-webkit-scrollbar {
    width: 0!important;
    height: 0!important;
    display: none!important;
}
 
.scroll-view.ionic-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent!important;
    display: none!important;
}
 
.scroll-view.ionic-scroll::-webkit-scrollbar-thumb {
  background-color: transparent!important;
  outline: none!important;
  display: none!important;
}
#calendar{
  padding-bottom: 10vh!important;
}
.ion-datetime-picker .month-year .item-input input{
  color:#1d1d26;
}
.contactContent ul{
  padding: 2vh 0;
}
.contactContent li{
  margin: 2vh 0;
}
.contactContent .socialIcons li{
  display: inline-block;
  margin: 2vh;
}
.contactContent li a, .contactContent li a i, .contactContent li a span{
  font-size: 2.2vh;
}
.contactContent .socialIcons li a span, .contactContent .socialIcons li a i{
  font-size: 4.4vh;
}
.contactContent li a i{
  font-weight: bold;
}
.buttons.buttons-left{
  z-index: 100;
}
.innerFormContainer .popupForm .item-input {
  margin: 0.1vh 0.1vh 1vh 0.1vh;
}
i.removeImage {
  width: 3.5vh;
  height: 3.5vh!important;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vh;
  padding-top: .4vh;
  font-size: 2.5vh;
  color: white;
  background: #d23139;
  border-radius: 50%;
}
.phoneAuthModal .landFormTitle {
  padding: 5vh 0 0 0;
}
.phoneAuthModal .landFormTitle .row {
  margin: 3vh 0 2vh 0;
}
.icon-intlpn-flag {
  display: none;
}
.item-input > .item-input {
  padding-top: 5px;
  border: none;
}
.innerFormContainer i.ion-calendar {
  margin: 5px;
}
.curvedBannerContainer .filterForm .dateFilter {
  position: relative;
}
.curvedBannerContainer .filterForm p {
  margin: 0;
}
.modal.appointmentsPopup {
  background: rgba(0,0,0,0.6);
}
/* .opaqueBG {
  background: rgba(0,0,0,0.6)!important;
}
.transparentBG {
  background: transparent!important;
} */
.animated.modal.bounceIn.ng-leave {
  -webkit-animation-name:bounceOut;
  animation-name:bounceOut;
}
.animated.modal.bounceInDown.ng-leave {
  -webkit-animation-name:bounceOutUp;
  animation-name:bounceOutUp;
}
.animated.modal.bounceInLeft.ng-leave {
  -webkit-animation-name:bounceOutLeft;
  animation-name:bounceOutLeft;
}
.animated.modal.bounceInRight.ng-leave {
  -webkit-animation-name:bounceOutRight;
  animation-name:bounceOutRight;
}
.animated.modal.bounceInUp.ng-leave {
  -webkit-animation-name:bounceOutDown;
  animation-name:bounceOutDown;
}

.animated.modal.bounceOut.ng-leave {
  -webkit-animation-name:bounceOut;
  animation-name:bounceOut;
}

.animated.modal.fadeIn.ng-leave {
  -webkit-animation-name:fadeOut;
  animation-name:fadeOut;
}
.animated.modal.fadeInDown.ng-leave {
  -webkit-animation-name:fadeOutDown;
  animation-name:fadeOutDown;
}
.animated.modal.fadeInDownBig.ng-leave {
  -webkit-animation-name:fadeOutDownBig;
  animation-name:fadeOutDownBig;
}
.animated.modal.fadeInLeft.ng-leave {
  -webkit-animation-name:fadeOutLeft;
  animation-name:fadeOutLeft;
}
.animated.modal.fadeInLeftBig.ng-leave {
  -webkit-animation-name:fadeOutLeftBig;
  animation-name:fadeOutLeftBig;
}
.animated.modal.fadeInRight.ng-leave {
  -webkit-animation-name:fadeOutRight;
  animation-name:fadeOutRight;
}
.animated.modal.fadeInRightBig.ng-leave {
  -webkit-animation-name:fadeOutRightBig;
  animation-name:fadeOutRightBig;
}
.animated.modal.fadeInUp.ng-leave {
  -webkit-animation-name:fadeOutUp;
  animation-name:fadeOutUp;
}
.animated.modal.fadeInUpBig.ng-leave {
  -webkit-animation-name:fadeOutUpBig;
  animation-name:fadeOutUpBig;
}

.animated.modal.flipInX.ng-leave {
  -webkit-animation-name:flipOutX;
  animation-name:flipOutX;
}
.animated.modal.flipInY.ng-leave {
  -webkit-animation-name:flipOutY;
  animation-name:flipOutY;
}

.animated.modal.lightSpeedIn.ng-leave {
  -webkit-animation-name:lightSpeedOut;
  animation-name:lightSpeedOut;
}

.animated.modal.rotateIn.ng-leave {
  -webkit-animation-name:rotateOut;
  animation-name:rotateOut;
}
.animated.modal.rotateInDownLeft.ng-leave {
  -webkit-animation-name:rotateOutDownLeft;
  animation-name:rotateOutDownLeft;
}
.animated.modal.rotateInDownRight.ng-leave {
  -webkit-animation-name:rotateOutDownRight;
  animation-name:rotateOutDownRight;
}
.animated.modal.rotateInUpLeft.ng-leave {
  -webkit-animation-name:rotateOutUpLeft;
  animation-name:rotateOutUpLeft;
}
.animated.modal.rotateInUpRight.ng-leave {
  -webkit-animation-name:rotateOutUpRight;
  animation-name:rotateOutUpRight;
}

.animated.modal.slideInUp.ng-leave {
  -webkit-animation-name:slideOutDown;
  animation-name:slideOutDown;
}
.animated.modal.slideInDown.ng-leave {
  -webkit-animation-name:slideOutUp;
  animation-name:slideOutUp;
}
.animated.modal.slideInLeft.ng-leave {
  -webkit-animation-name:slideOutLeft;
  animation-name:slideOutLeft;
}
.animated.modal.slideInRight.ng-leave {
  -webkit-animation-name:slideOutRight;
  animation-name:slideOutRight;
}

.animated.modal.zoomIn.ng-leave {
  -webkit-animation-name:zoomOut;
  animation-name:zoomOut;
}
.animated.modal.zoomInDown.ng-leave {
  -webkit-animation-name:zoomOutDown;
  animation-name:zoomOutDown;
}
.animated.modal.zoomInLeft.ng-leave {
  -webkit-animation-name:zoomOutLeft;
  animation-name:zoomOutLeft;
}
.animated.modal.zoomInRight.ng-leave {
  -webkit-animation-name:zoomOutRight;
  animation-name:zoomOutRight;
}
.animated.modal.zoomInUp.ng-leave {
  -webkit-animation-name:zoomOutUp;
  animation-name:zoomOutUp;
}
.animated.modal.rollIn.ng-leave {
  -webkit-animation-name:rollOut;
  animation-name:rollOut;
}
.action-sheet-has-icons .icon {
  margin-top: 1.5vh;
}
.bar .title + .buttons{
  top: 2px;
}
.top-bar-icon img{
  height: 80%;
}