<ion-view ng-init="contentloading()" view-title="{{$root.langCounterpart('service_request') || 'Service Request'}}">
<ion-content class="removeHeight keyboard-open-height" has-bouncing="false">
<div class="contentWithBanner curvedBannerContainer">
    <div class="row responsive-lg radiusBanner height20vh">
        <img src="img/classifiedAdd.jpg">
    </div>
    <div ng-form="requestForm" class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow serviceReqForm">
        <div class="list">
            <label class="item item-input">
                {{$root.langCounterpart('name') || "Name"}}
                <input type="text" name="name" id="name" placeholder="Name" ng-model="user.fullName" required disabled>
                <!-- <div class="error">
                  <p>
                    {{$root.langCounterpart('required') || "Required"}}
                  </p>
                </div> -->
            </label>
            <label class="item item-input forceLTR">
                {{$root.langCounterpart('mobile_number') || "Mobile Number"}}
                <intlpn name="mobile" id="mobile"
                    placeholder="Mobile"
                    ng-model="user.mobile" 
                    default-country="qa"
                    blur="phoneBlur"
                    disable="true"
                    required>
                </intlpn>
                <!-- <input type="text" name="mobile" id="mobile" placeholder="Mobile" placeholder="" ng-model="user.mobile" required disabled> -->
                <!-- <div class="error">
                  <p>
                    {{$root.langCounterpart('required') || "Required"}}
                  </p>
                </div> -->
            </label>
            <label class="item item-input">
                {{$root.langCounterpart('location') || "Location"}}
                <input type="text" name="location" id="location" placeholder="Location" ng-model="user.location" required disabled>
                <!-- <div class="error">
                  <p>
                    {{$root.langCounterpart('required') || "Required"}}
                  </p>
                </div> -->
            </label>
            <label class="item item-input">
                {{$root.langCounterpart('unit_no') || "Unit Number"}}
                <input type="text" name="unitNumber" id="unitNumber" ng-model="user.unit" placeholder="Unit Number" required disabled>
                <!-- <div class="error">
                  <p>
                    {{$root.langCounterpart('required') || "Required"}}
                  </p>
                </div> -->
            </label>
            <label class="item item-input item-select" ng-repeat="dropdown in dropdowns">
                <select id="type{{$index}}" name="type{{$index}}" ng-change="dropdownChange($index)"
                    ng-model="models[$index]"
                    ng-options="category.description for category in dropdown"
                    ng-class="{'ar-tf':$root.lang=='Arabic'}" required>
                    <option disabled selected value> {{$root.langCounterpart('select_category') || "Select a category"}} </option>
                </select>
                <div class="error">
                    <p ng-show="requestSubmitted && requestForm.type{{$index}}.$error.required">{{$root.langCounterpart('required') || 'Required'}}</p>
                </div>
            </label>
            <label class="item item-input input-label"
                area-label="{{$root.langCounterpart('language') || 'Language'}}"
                ng-class="{'ar-tf':$root.lang=='Arabic'}">
                {{$root.langCounterpart('available_from') || 'Available From'}}
                <label ion-datetime-picker name="availableFrom" ng-model="requestData.availableFrom"
                    title="$root.langCounterpart('pick_a_date') || 'Pick a Date'"
                    button-cancel="$root.langCounterpart('cancel') || 'Cancel'"
                    button-ok="$root.langCounterpart('ok') || 'Ok'"
                    minute-step="30"
                    only-valid="{'after': 'today'}"
                    am-pm
                    ng-required="!availableFromSet">
                    <div class="error">
                        <p ng-show="requestSubmitted && !availableFromSet">
                            {{$root.langCounterpart('required') || 'Required'}}
                        </p>
                    </div>
                    <div class="inputSelectDate">
                        {{requestData.availableFrom | date: "yyyy-MM-dd H:mm:ss"}}<i class="ion-calendar"></i>
                    </div>
                </label>
            </label>
            <label class="item item-input input-label" area-label="{{$root.langCounterpart('language') || 'Language'}}"
                ng-class="{'ar-tf':$root.lang=='Arabic'}">
                {{$root.langCounterpart('available_to') || 'Available To'}}
                <label ion-datetime-picker name="availableTo" ng-model="requestData.availableTo"
                    title="$root.langCounterpart('pick_a_date') || 'Pick a Date'"
                    button-cancel="$root.langCounterpart('cancel') || 'Cancel'"
                    button-ok="$root.langCounterpart('ok') || 'Ok'"
                    minute-step="30"
                    am-pm
                    only-valid="{'after': 'today'}"
                    ng-required="!availableToSet">
                    <div class="error">
                        <p ng-show="requestSubmitted && !availableToSet">{{$root.langCounterpart('required') || 'Required'}}</p>
                    </div>
                    <div class="inputSelectDate">
                        {{requestData.availableTo | date: "yyyy-MM-dd H:mm:ss"}}<i class="ion-calendar"></i>
                    </div>
                </label>
            </label>
            <label class="item item-input">
                {{$root.langCounterpart('request_details') || 'Request Details'}}
                <textarea name="requestDescription"
                placeholder="{{$root.langCounterpart('message') || 'Message'}}"
                ng-keyup="doResize()"
                cols="{{textArea.cols}}" rows="{{textArea.rows}}"
                ng-model="requestData.description"
                ng-pattern="requestDetailsRegex" required>
                </textarea>
                <div class="error textarea-error" ng-show="requestSubmitted">
                    <p ng-show="requestForm.requestDescription.$error.required">{{$root.langCounterpart('required') || 'Required'}}</p>
                    <p ng-show="requestForm.requestDescription.$error.pattern">{{$root.langCounterpart('invalid_details') || 'Invalid details'}}</p>
                </div>
            </label>
        </div>
        <div class="row responsive-lg rowGallery relativeRow feedbackUploadContainer">
            <button class="button button-block button-calm curvyBtn transparentBG" ng-show="feedbackData.feedbackImage == null" ng-click="selectImages()">
                <i class="icon-photo-camera"></i>{{$root.langCounterpart('select_image') || "Select Image"}}
            </button>
            <button class="button button-block button-calm curvyBtn transparentBG" ng-hide="feedbackData.feedbackImage == null" ng-src="{{feedbackData.feedbackImage}}" ng-click="removeImage()">{{$root.langCounterpart('remove_image') || "Remove Image"}}
            </button>
            <div ng-if="requestData.caseImages.length > 0" class="row responsive-lg rowGallery relativeRow requestServiceUploadContainer">
                <div ng-repeat="image in requestData.caseImages track by $index" class="col-3 curvedImgContainer feedbackUploadImg">
                    <img src="{{image}}" alt="">
                    <i class="ion-close removeImage" aria-hidden="true" ng-click="removeImage($index)"></i>
                    <!-- <p ng-click="removeImage($index)">{{$root.langCounterpart('remove_image') || "Remove Image"}}</p> -->
                </div>
            </div>
            <!-- <div class="row responsive-lg rowGallery relativeRow requestServiceUploadContainer">
                <div class="col-3 curvedImgContainer feedbackUploadImg">
                    <img src="img/avatar.jpg" alt="">
                    <p ng-click="removeImage()">{{$root.langCounterpart('remove_image') || "Remove Image"}}</p>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row footer-contact centerRow">
        <a ng-click="submitRequest(requestForm)" ng-class="{'ar-tf':$root.lang=='Arabic'}">
            {{$root.langCounterpart('submit') || 'Submit'}}
        </a>
    </div>
</div>
</ion-content>
</ion-view>