<ion-view name="Sakin Service" class="customerCareContainer" view-title="{{$root.langCounterpart('customer_care_center') || 'Customer Care Center'}}">
<ion-content has-bouncing="false">
<div class="row responsive-lg curvedBannerContainer">
	<div class="col radiusBanner whiteBG height20vh">
		<img class="serviceUnit" src="img/customercarecenterlogo.jpg">
	</div>
</div>
<div class="row responsive-lg">
	<div class="col items-container">
		<div class="rectangle-item rectangle-item-three rounded"
			ng-if="$root.user.loggedIn" ng-click="goFeedback(2)">
			<i class="icon-complain extra"></i>
			<div class="rectangle-item-content">
				<p>{{$root.langCounterpart('complaints') || "Complaints"}}</p>
			</div>
		</div>
		<div class="rectangle-item rectangle-item-three rounded"
			ng-click="goFeedback(1)">
			<!-- <img src="img/icons/suggestion.png"/> -->
			<i class="icon-customer"></i>
			<div class="rectangle-item-content">
				<p>{{$root.langCounterpart('suggestions') || "Suggestions"}}</p>
			</div>
		</div>
		<!-- ng-class="$root.user.loggedIn ? 'rectangle-item-three' : 'rectangle-item-one'" -->
		<div class="rectangle-item rectangle-item-three rounded"
			ng-click="goFeedback(3)">
			<i class="icon-inquiry extra"></i>
			<div class="rectangle-item-content">
				<p>{{$root.langCounterpart('inquiries') || "Inquiries"}}</p>
			</div>
		</div>
		<div class="rectangle-item rounded rectangle-item-three" 
			ng-if="$root.user.loggedIn" ng-click="$root.go('surveys')">
			<i class="icon-list"></i>
			<div class="rectangle-item-content">
				<p>{{$root.langCounterpart('surveys') || "Surveys"}}</p>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>