<ion-view name="verifyCode-view" hide-nav-bar="true">
    <ion-content class="viewBGSet landViewBG keyboard-open-height">
        <div class="content landContent landFormContent loginContent">
            <div ng-form="verificationSetForm" class="formContainer">
                <div class="landFormTitle">
                    <p>{{$root.langCounterpart('verify_code') || 'Verify Code'}}</p>
                    <!-- <p>Ezdan Real Estate</p> -->
                </div>
                <div class="list">
                    <label class="item item-input">
                        <input class="forceLTR" type="text" id="verificationCode"
                        name="newPassword" placeholder="{{$root.langCounterpart('verification_code') || 'Verification Code'}}"
                        ng-model="verifyResetPasswordData.verificationCode"
                        required>

                        <div class="error" ng-show="newPasswordSubmitted">
                            <p ng-show="verificationSetForm.newPassword.$error.required">
                                {{$root.langCounterpart('required') || "Required"}}
                            </p>
                        </div>
                        <div class="error" ng-show="errors.incorrectPassword">
                            <p>
                                {{$root.langCounterpart('incorrect_code') || "Incorrect Code."}}
                            </p>
                        </div>
                    </label>
                    <div class="row">
                        <button class="button button-block button-calm curvyBtn whiteBG" ng-disabled="verificationCodeSent || !$root.isOnline"
                        ng-click="verifySetPassword(verificationSetForm)">
                        {{$root.langCounterpart('proceed') || 'Proceed'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
</ion-view>
