<ion-view ng-init="listAlbums()" view-title="{{$root.langCounterpart('photo_gallery') || 'Media Gallery'}}">
    <ion-content class="removeHeight" has-bouncing="false">
        <div class="contentWithBanner galleryContent curvedBannerContainer">
            <div class="row responsive-lg radiusBanner whiteBG height20vh">
                <img src="img/gallery.jpg">
            </div>
            <div class="view-tabs">
                <div class="globalTab">
                    <a class="globalTabLink" href="#/news" nav-transition="none" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('news') || 'News'}}</a>
                </div>
                <div class="globalTab active">
                    <a class="globalTabLink">{{$root.langCounterpart('photo_gallery') || 'Media Gallery'}}</a>
                </div>
            </div>
            <ion-scroll direction="x" class="wide-as-needed galleryCategory">
                <div class="globalTab globalTabSub"  ng-init="setInitTab()" ng-repeat="album in albums">
                    <a class="globalTabLink" ng-click="loadImages(album.albumid); selectedIndex($index,$event)">{{album.albumtitle}}</a>
                </div>
            </ion-scroll>
            <div class="row responsive-lg rowGallery">
                <div class="col curvedImgContainer" ng-repeat="image in albumImages">
                    <img src="img/image_placeholder.jpg" ng-src="{{image.thumb}}" alt="" ng-click="showImages($index)">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
