<ion-view view-title="{{$root.langCounterpart('card_enrollment') || 'Card Enrollment'}}">
<ion-content class="removeHeight feedbackContainer keyboard-open-height" has-bouncing="false">
<div class="contentWithBanner feedbackContent curvedBannerContainer">
  <div class="row responsive-lg radiusBanner whiteBG height20vh">
    <img src="img/gallery.jpg">
  </div>
  <div class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow" ng-form="enrollForm">
    <div class="list">
        <label class="item item-input">
            {{$root.langCounterpart('full_name') || 'Full Name'}}
            <input type="text" name="location" id="location" ng-model="$root.user.fullName" disabled>
        </label>
        <label class="item item-input">
            {{$root.langCounterpart('registered_email_address') || 'Email'}}
            <input type="text" name="location" id="location" ng-model="$root.user.email" disabled>
        </label>
      <label class="item item-input">
        {{$root.langCounterpart('mobile_number') || 'Mobile Number'}}
        <intlpn class="forceLTR" name="mobileNumber" id="mobileNumber"
            ng-model="enrollData.contactNumber" 
            placeholder="{{$root.langCounterpart('phonenumber') || 'Phone Number'}}" 
            default-country="qa"
            blur="mobileNumberBlur"
            disable="true"
            required>
        </intlpn>
        <!-- <input type="number" name="mobileNumber" id="mobileNumber" placeholder="{{$root.langCounterpart('mobile_number_body') || 'Type your mobile number'}}"
        string-to-number ng-model="enrollData.contactNumber" ng-pattern="regex.phone" ng-blur="mobileNumberBlur = true" ng-focus="mobileNumberBlur = false" required disabled> -->
        <div class="error feedbackError" ng-show="mobileNumberBlur || formSubmitted">
          <p ng-show="enrollForm.mobileNumber.$error.required && !enrollForm.contactPhone.$error.pattern">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
          <p ng-show="enrollForm.mobileNumber.$error.pattern && !enrollForm.mobileNumber.$error.required">
            {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
          </p>
        </div>
      </label>
      <label class="item item-input">
          {{$root.langCounterpart('location') || 'Location'}}
          <input type="text" name="location" id="location" ng-model="$root.user.location" disabled>
      </label>
      <label class="item item-input">
          {{$root.langCounterpart('unit') || 'Unit'}}
          <input type="text" name="location" id="location" ng-model="$root.user.unit" disabled>
      </label>
    </div>
    <div class="row footer-contact centerRow">
      <a ng-disabled="!$root.isOnline" ng-click="enrollAccount(enrollForm)">
      {{$root.langCounterpart('submit') || 'Submit'}}</a>
  </div>
  </div>
  </ion-content>
  </ion-view>