<ion-view view-title="{{$root.langCounterpart('discount_cards') || 'Discount Cards'}}" class="discountCardsContent">
<ion-content class="removeHeight" ng-init="initDC(cardTypes[0].id)" has-bouncing="false">
<div class="row responsive-lg curvedBannerContainer">
    <div class="col radiusBanner whiteBG height20vh">
        <img src="img/gallery.jpg">
    </div>
</div>
<ion-scroll direction="x" class="wide-as-needed">
    <!-- <i class="icon-play-button"></i> -->
    <div class="globalTab" ng-repeat="cardType in cardTypes" ng-init="initTab()">
        <a href="javascript:;" ng-click="goOffers(cardType.id, $event)" class="globalTabLink smallTab">{{cardType.text}}</a>
    </div>
</ion-scroll>
<div class="innerFormContainer row responsive-lg discountCardsForm classifiedForm"  ng-if="cardOffers.length != 0">
    <p>{{$root.lang === 'English' ? "Show By Category:" : "اعرض حسب التصنيف:"}}</p>
    <div class="list">
        <label class="item item-input item-select">
            <select name="category" id="category" ng-model="cardTypeCategories.selectedCategory"
                ng-change="categoryChange()">
                <option disabled selected value> {{$root.langCounterpart('select_category') || "Select a category"}} </option>
                <option ng-repeat="category in cardTypeCategories.allcategories" value="{{category}}">{{category}}</option>
            </select>
        </label>
    </div>
</div>
<div class="list">
    <div class="visionMissionListUnits" ng-repeat="cardoffer in cardTypeCategories.categoryCards | filter : { Active: '1' }">
        <div ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'" class="visionMissionListUnit">
            <div class="visionDetails">
                <div class="visionDetailsImg">
                    <img src="img/image_placeholder.jpg" ng-src={{cardoffer.ImageName}}>
                </div>
                <div class="visionDetailsContent">
                    <h2>{{$root.lang === 'English' ? cardoffer.CompanyName : cardoffer.CompanyNameArabic}}</h2>
                    <p class="offerNote" ng-bind-html="lang == 'English' ? cardoffer.OfferInfo : cardoffer.OfferInfoArabic"></p>
                    <br/>
                    <p><span class="offerNumb">{{$root.langCounterpart('phone') || 'Phone'}} : {{cardoffer.CompanyPhoneNumber}}</span></p>
                    <p><span>{{$root.langCounterpart('location') || 'Location'}} : {{$root.lang === 'English' ? cardoffer.Location : cardoffer.LocationArabic}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="noresults" ng-if="cardOffers.length===0">
        <!-- <i class="ion-sad"></i> -->
        <p>{{$root.langCounterpart('no_cards_available') || 'No offers available now.'}}</p>
    </div>
</div>
</ion-content>
<div class="row absoluteRow" style="bottom:0px;" ng-if="$root.userType == 'loggedIn'">
    <div class="row responsive-lg relativeRow centerRow curveBottomContainer" ng-click="goEnroll()">
        <div class="imgCurve">
            <img src="img/topCurve.png" alt="">
        </div>
        <div class="col addBtn" >
            <button class="button button-block button-calm curvyBtn redBG smallBtn">
                {{$root.langCounterpart('enroll') || 'Enroll'}}
            </button>
        </div>
    </div>
</div>
</ion-view>