<ion-view ng-init="contentloading()" view-title="{{$root.langCounterpart('announcements') || 'Announcements'}}">
  <ion-content class="removeHeight keyboard-open-height ezdanPlusForm announcementsContent">
    <div class="curvedBannerContainer">
      <div class="row responsive-lg radiusBanner whiteBG height20vh">
        <img src="img/announcementsBanner.jpg">
      </div>
    </div>
    <div class="row responsive-lg curvedBannerContainer" ng-click="goPromotions()">
      <div class="col radiusBanner whiteBG height20vh">
        <img class="serviceUnit" src="img/megaphone.png">
        <p>{{$root.langCounterpart('promotions') || 'Promotions'}}</p>
      </div>
    </div>
    <div class="row responsive-lg curvedBannerContainer" ng-click="goEvents()">
      <div class="col radiusBanner whiteBG height20vh">
        <img class="serviceUnit" src="img/calendar.png">
        <p>{{$root.langCounterpart('upcoming_events') || 'Upcoming Events'}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>