<ion-view ng-init="contentloading()" view-title="{{title}}">
    <ion-content class="removeHeight" has-bouncing="false">
        <div ng-switch on="data.content.type">
            <tabs ng-switch-when="tabs"></tabs>
            <classified-list ng-switch-when="classifiedlist"></classified-list>
            <classified-detail ng-switch-when="classifieddetail" class="classifieddetail"> </classified-detail>
            <thumb-list ng-switch-when="thumblist"></thumb-list>
            <alt-thumb-list ng-switch-when="altthumblist"></alt-thumb-list>
            <event-list ng-switch-when="eventlist"></event-list>
            <text-detail  ng-switch-when="textdetail"></text-detail>
            <text-list ng-switch-when="textlist"></text-list>
            <faq-list ng-switch-when="faqlist"></faq-list>
            <detail-view ng-switch-when="detailview"></detail-view>
            <announcements-list ng-switch-when="announcementslist"></announcements-list>
            <text-thumb-detail ng-switch-when="textthumbdetail"></text-thumb-detail>
            <future-projects-list ng-switch-when="futureprojectslist"></future-projects-list>
        </div>
    </ion-content>
    <button ng-if="(selectedItem.content.type === 'textdetail' || selectedItem.content.type === 'imagetextdetail' || selectedItem.content.type === 'advertisementdetail') && (data.content.id === 24)"
    class="button button-float"
    ng-click="showActionsheet()">
</button>
<!-- <div class="row absoluteRow footer-contact" ng-if="(selectedItem.content.type === 'textthumbdetail' || selectedItem.parent.type === 'textthumbdetail') && $root.user.loggedIn">
        <div class="col">
            <a href="" ng-disabled="!$root.isOnline" ng-click="requestPlus()">
                {{$root.langCounterpart('inquire') || 'Inquire'}}
            </a>
        </div>
</div> -->
</ion-view>
