<div class="contentWithBanner announcementsContent curvedBannerContainer">
    <div class="row responsive-lg radiusBanner whiteBG height20vh">
        <img src="img/announcementsBanner.jpg">
    </div>
</div>
<div class="list">
    <a ng-if="!noResults" class="media" ng-repeat="child in data.children" href="#/content/{{child.content.id}}" ng-init="toggleDateLang(child.content.properties.posted_on)">
        <div class="socialImg">
            <img ng-if="child.content.properties.thumb != undefined" src="img/image_placeholder.jpg" ng-src={{child.content.properties.thumb.value}}>
            <img ng-if="child.content.properties.thumb == undefined" src="img/icons/file-icon.png">
        </div>
        <div class="EventsTitle">
            <h2>{{child.content.title}}</h2>
            <div class="dateAndTime">
                <p>{{$root.langCounterpart('published_on') || 'Published on'}}:</p>
                <span>{{newDate[$index] |date: 'dd MMMM yyyy'}}</span>
                <img ng-src="{{$root.lang === 'Arabic' ? 'img/leftArrow.png' : 'img/rightArrow.png'}}">
            </div>
        </div>
    </a>
</div>
<div ng-if="noResults">
    <p>
        {{$rootScope.langCounterpart('no_promotions_yet') || 'No promotions yet.'}}
    </p>
</div>
