<div class="curvedBannerContainer detailsContent">
    <div class="row responsive-lg radiusBanner whiteBG height20vh">
        <!-- <p>{{data}}</p> -->
        <img ng-if="data.content.properties.images.length != 0" src="img/image_placeholder.jpg" ng-src={{data.content.properties.images[0].src}}>
        <img ng-if="data.content.properties.images.length == 0 && data.parent.type == 'announcementslist'" src="img/announcementsBanner.jpg">
    </div>
    <div class="row radiusRow">
        <div class="globalTab active">
          <a class="globalTabLink">{{data.content.title}}</a>
        </div>
    </div>
    <div class="eventDesc">
        <div class="row">
            <p>{{data.content.properties.text.value}}</p>
        </div>
        <div class="row" ng-if="data.parent.id === 10">
            <p><strong>{{$root.langCounterpart('venue') || 'Venue'}}:</strong> {{data.content.properties.venue.value}}</p>
        </div>
        <div class="row" ng-if="data.parent.id === 10">
            <p><strong>{{$root.langCounterpart('starting_date') || 'Starting Date'}}:</strong> {{data.content.properties.eventStartingDate.value}}</p>
        </div>
        <div class="row" ng-if="data.parent.id === 10">
            <p><strong>{{$root.langCounterpart('ending_date') || 'Ending Date'}}:</strong> {{data.content.properties.eventEndingDate.value}}</p>
        </div>
    </div>
</div>
