<div class="contentWithBanner curvedBannerContainer detailsContent">
    <div class="row responsive-lg radiusBanner whiteBG height20vh">
        <img src="img/announcementsBanner.jpg">
    </div>
    <div class="row">
        <div class="innerFormContainer innerFormEditableContainer generalForm row filterForm">
            <!-- <div class="list"> -->
                <label area-label="{{$root.langCounterpart('language') || 'Language'}}"
                    ng-class="{'ar-tf':$root.lang=='Arabic'}"
                    ng-model="filterationData.date"
                    ng-change="dateFilter = filterEvents"
                    ion-datetime-picker name="availableFrom"
                    title="$root.langCounterpart('pick_a_date') || 'Pick a Date'"
                    button-cancel="$root.langCounterpart('cancel') || 'OK'"
                    button-ok="$root.langCounterpart('ok') || 'Cancel'" date>
                    <p>{{dateHolder}}<i class="ion-calendar"></i></p>
                </label>
            <!-- </div> -->
            <p ng-if="filterationData.date != null" href="javascript:;" 
                class="active clear" ng-click="clearDate()">
                {{$root.langCounterpart('clear') || 'Clear'}}
            </p>
        </div>
    </div>
    
    <div ng-if="!noResults" class="list">
        <a class="media" ng-repeat="child in data.children | filter:dateFilter as filteredData" ng-click="navigateToContent(child.content)" ng-init="toggleDateLang(child.content.properties.posted_on)">
            <div class="socialImg">
                <img src="img/image_placeholder.jpg" ng-src={{child.content.properties.images[0].src}}>
            </div>
            <div class="EventsTitle">
                <h2>{{child.content.title}}</h2>
                <h2>{{$root.langCounterpart('venue') || 'Venue'}}: {{child.content.properties.venue.value}}</h2>
                <h2>{{$root.langCounterpart('starting_date') || 'Starting'}}: {{child.content.properties.eventStartingDate.value}}</h2>
                <div class="dateAndTime">
                    <!-- <p>{{$root.langCounterpart('published_on') || 'Published on'}}:</p>
                    <span>{{newDate[$index] | date: 'dd MMMM yyyy'}}</span> -->
                    <img ng-src="{{$root.lang === 'Arabic' ? 'img/leftArrow.png' : 'img/rightArrow.png'}}">
                </div>
            </div>
        </a>
        <div>
            <p ng-if="filteredData.length === 0" class="globalTabLink">
                {{$root.langCounterpart('no_events_match_date') || 'No events match the selected date.'}}
            </p>
        </div>
    </div>
    <div ng-if="noResults">
        <p class="globalTabLink">
            {{$root.langCounterpart('no_upcoming_events_yet') || 'No upcoming events yet.'}}
        </p>
    </div>
</div>
    



