<div class="row InnerBanner">
    <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
    <img src="img/doha2.jpg">
    <div class="imgCurve">
        <img src="img/innerCurve.png" alt="">
    </div>
</div>
<ion-scroll direction="x" class="wide-as-needed" style="direction: ltr!important;" delegate-handle="tabHandle">
    <div ng-repeat="tab in $root.tabs" class="globalTab">
        <a ng-init="setInitTab()" id="{{tab.content.title}}" ng-click="changeSlide($index,$event)" class="globalTabLink">{{tab.content.title}}</a>
        <span></span>
    </div>
</ion-scroll>
<ion-slide-box class="discoverSlider" style="direction: ltr!important;" ng-init="initSlider()" on-swipe-right="onDragRight()" on-swipe-left="onDragLeft()" on-slide-changed="selectedIndex(index)" show-pager="false">
    <ion-slide ng-repeat="tab in $root.tabs" ng-switch on="tab.content.type">
        <thumb-list class="overflowY" ng-switch-when="thumblist"></thumb-list>
        <alt-thumb-list class="overflowY" ng-switch-when="altthumblist"></alt-thumb-list>
        <event-list class="overflowY" ng-switch-when="eventlist"></event-list>
        <text-detail class="overflowY" ng-switch-when="textdetail"></text-detail>
        <text-list class="overflowY" ng-switch-when="textlist"></text-list>
        <unordered-list class="overflowY" ng-switch-when="unorderedlist"></unordered-list>
        <text-thumb-detail class="overflowY" ng-switch-when="textthumbdetail"></text-thumb-detail>
    </ion-slide>

</ion-slide-box>
