<ion-view name="land-view" hide-nav-bar="true">
<ion-content class="viewBGSet landViewBG landGateBG" has-bouncing="false">
<div class="content landContent">
    <!-- <div class="row languageBtns" ng-if="bgLoaded"> -->
    <div class="row languageBtns">
        <button ng-click="goRegister()" class="align-left button button-block button-calm transparentBG noBorder" ng-disabled="!$root.isOnline">
            {{$root.langCounterpart('new_account') || 'Register'}}
        </button>
        <button ng-click="$root.switchLanguage(false)" class="align-right button button-block button-calm force-ar-tf transparentBG noBorder">
            {{$root.langCounterpart('flip_language') || flipLanguage()}}
        </button>
    </div>
    <div class="row centerRow">
        <div class="land-logo">
            <img src="img/logo.png">
        </div>
    </div>
    <div class="row responsive-lg">
        <div class="col transparentBG">
            <button class="button button-block button-calm curvyBtn whiteBG layover" ng-disabled="!$root.isOnline" ng-click="goLogin()">
                <span class="icon ion-android-person ion-ios-person"></span>
                {{$root.langCounterpart('login_with_my_account') || 'Login with my account'}}
            </button>
        </div>
    </div>
    <div class="row responsive-lg">
        <div class="col orTitle transparentBG">
            <p>{{$root.langCounterpart('or') || 'OR'}}</p>
        </div>
    </div>
    <div class="row responsive-lg">
        <div class="col transparentBG">
            <button class="button button-block button-calm curvyBtn redBG guestLogin" ng-disabled="loginSent" ng-click="guestLogin()">
                {{$root.langCounterpart('guest_login') || 'Guest Login'}}
                <span class="icon ion-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
</ion-content>
</ion-view>