<ion-view ng-init="categoriesLoading()" view-title="{{$root.langCounterpart('classifieds') || 'Classifieds'}}">
    <ion-content class="removeHeight keyboard-open-height">
        <div class="contentWithBanner">
            <div class="row responsive-lg InnerBanner">
                <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
                <img src="img/classifiedAdd.jpg">
                <div class="imgCurve">
                    <img src="img/innerCurve.png" alt="">
                </div>
            </div>
            <ion-scroll direction="x" class="wide-as-needed">
                <div class="globalTab">
                    <a class="globalTabLink" nav-transition="none" href="#/content/4" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('browse_classfieds') || "Browse Classifieds"}}</a>
                </div>
                <div class="globalTab">
                    <a class="globalTabLink" nav-transition="none" href="#/myclassifieds" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('my_classifieds') || "My Classifieds"}}</a>
                </div>
                <div class="globalTab active">
                    <a class="globalTabLink">{{$root.langCounterpart('add_new_item') || "Add New Item"}}</a>
                    <span></span>
                </div>
            </ion-scroll>

            <div class="row responsive-lg centerRow">
                <div class="col itemImgContainer">
                    <!-- anchor tag needs "active" class after item-img uploaded -->
                    <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedModel.images)" ng-hide="classifiedModel.images.length >= 1">
                        <img src="img/itemImgUploadIcon.png">
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                    <a  ng-if="classifiedModel.images.length >= 1" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(0, classifiedModel.images)" ng-show="classifiedModel.images.length >= 1">
                        <img ng-src={{classifiedModel.images[0]}}>
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                    <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedModel.images)" ng-hide="classifiedModel.images.length >= 2">
                        <img src="img/itemImgUploadIcon.png">
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                    <a ng-if="classifiedModel.images.length >= 2" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(1, classifiedModel.images)" ng-show="classifiedModel.images.length >= 2">
                        <img ng-src={{classifiedModel.images[1]}}>
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                    <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedModel.images)" ng-hide="classifiedModel.images.length === 3">
                        <img src="img/itemImgUploadIcon.png">
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                    <a ng-if="classifiedModel.images.length === 3" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(3, classifiedModel.images)" ng-show="classifiedModel.images.length === 3">
                        <img ng-src={{classifiedModel.images[2]}}>
                        <!-- <img src="img/avatar-man.jpg"> -->
                    </a>
                </div>
            </div>
            <div ng-form="classifiedForm" class="innerFormContainer row responsive-lg centerRow classifiedForm">
                <div class="list">
                    <label class="item item-input item-select">
                        <!-- <div class="input-label">
                        {{$root.langCounterpart('category') || "Category"}}
                    </div> -->
                    <select name="category" id="category" ng-model="classifiedModel.category"
                    ng-init="classifiedModel.category = null" ng-required="true">
                    <option disabled selected value> {{$root.langCounterpart('select_category') || "Select a category"}} </option>
                    <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>

                </select>
                <div class="error" ng-show="classifiedSubmit">
                    <p ng-show="classifiedForm.category.$error.required ">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <input type="text" name="itemName" id="itemName" placeholder="{{$root.langCounterpart('item_name') || 'Item Name'}}"
                ng-model="classifiedModel.name" ng-required="true" ng-pattern="regex.name" ng-blur="itemNameBlur = true" ng-focus="itemNameBlur = false">
                <div class="error" ng-show="itemNameBlur || classifiedSubmit">
                    <p ng-show="classifiedForm.itemName.$error.required && !classifiedForm.itemName.$error.pattern">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="classifiedForm.itemName.$error.pattern && !classifiedForm.itemName.$error.required">
                        {{$root.langCounterpart('invalid_name') || "Invalid name"}}
                    </p>
                </div>
            </label>
            <label class="forceLTR item item-input">
                <span>{{$root.langCounterpart('qr') || "QR"}}</span>
                <input type="number" name="itemPrice" id="itemPrice" placeholder="{{$root.langCounterpart('item_price') || 'Item Price'}}"
                step="any" ng-model="classifiedModel.price" ng-change="setTwoNumberDecimal()" ng-required="true" ng-blur="itemPriceBlur = true" ng-focus="itemPriceBlur = false">
                <div class="error" ng-show="itemPriceBlur || classifiedSubmit">
                    <p ng-show="classifiedForm.itemPrice.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                </div>
            </label>
            <label class="forceLTR item item-input">
                <span>+974</span>
                <input type="number" name="contactPhone" id="contactPhone" placeholder="{{$root.langCounterpart('contact_phone_number') || 'Contact Phone Number'}}"
                string-to-number ng-model="classifiedModel.phone" ng-required="true" ng-pattern="regex.phone" ng-blur="contactPhoneBlur = true" ng-focus="contactPhoneBlur = false">
                <div class="error" ng-show="contactPhoneBlur || classifiedSubmit">
                    <p ng-show="classifiedForm.contactPhone.$error.required && !classifiedForm.contactPhone.$error.pattern">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="classifiedForm.contactPhone.$error.pattern && !classifiedForm.contactPhone.$error.required">
                        {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <input type="email" name="contactEmail" id="contactEmail" placeholder="{{$root.langCounterpart('contact_email') || 'Contact Email'}}"
                ng-model="classifiedModel.email" ng-required="true" ng-pattern="regex.email" ng-blur="contactEmailBlur = true" ng-focus="contactEmailBlur = false" >
                <div class="error" ng-show="contactEmailBlur || classifiedSubmit">
                    <p ng-show="classifiedForm.contactEmail.$error.required && !classifiedForm.contactEmail.$error.pattern">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="classifiedForm.contactEmail.$error.pattern && !classifiedForm.contactEmail.$error.required">
                        {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                    </p>
                </div>
            </label>
            <label class="item item-input">
                <textarea name="itemDescription" id="itemDescription" placeholder="{{$root.langCounterpart('item_description') || 'Item Description'}}"
                ng-keyup="doResize()" ng-model="classifiedModel.description" cols="{{textArea.cols}}" rows="{{textArea.rows}}"
                ng-required="true" ng-pattern="regex.description" ng-blur="itemDescriptionBlur = true" ng-focus="itemDescriptionBlur = false"
                ng-model-options="{ allowInvalid: true}"></textarea>

                <div class="error" ng-show="itemDescriptionBlur || classifiedSubmit">
                    <p ng-show="classifiedForm.itemDescription.$error.required && !classifiedForm.itemDescription.$error.pattern">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="classifiedForm.itemDescription.$error.pattern && !classifiedForm.itemDescription.$error.required">
                        {{$root.langCounterpart('invalid_description') || "Invalid description"}}
                    </p>
                </div>
            </label>
        </div>
        <div class="col addBtn">
            <button class="button button-block button-calm curvyBtn redBG smallBtn" ng-click="addNewClassified(classifiedForm)">
                {{$root.langCounterpart('add') || "Add"}}
            </button>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
