<ion-view ng-init="userAdvertisementsLoading()" view-title="{{$root.langCounterpart('classifieds') || 'Classifieds'}}">
    <ion-content class="removeHeight" has-bouncing="false">
        <div class="contentWithBanner classifiedList">
            <div class="row responsive-lg InnerBanner">
                <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
                <img src="img/classifiedAdd.jpg">
                <div class="imgCurve">
                    <img src="img/innerCurve.png" alt="">
                </div>
            </div>
            <ion-scroll direction="x" class="wide-as-needed">
                <div class="globalTab">
                    <a class="globalTabLink" nav-transition="none" href="#/content/4" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('browse_classfieds') || "Browse Classifieds"}}</a>
                </div>
                <div class="globalTab active">
                    <a class="globalTabLink">{{$root.langCounterpart('my_classifieds') || "My Classifieds"}}</a>
                    <span></span>
                </div>
                <div class="globalTab">
                    <a class="globalTabLink" nav-transition="none" href="#/myclassifieds/add" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('add_new_item') || "Add New Item"}}</a>
                </div>
            </ion-scroll>

            <div class="list">
                <div ng-repeat="classified in data">
                    <a href="#/content/{{classified.advertisement.id}}">
                        <div class="objectiveTab" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
                            <img src="img/image_placeholder.jpg" ng-src={{classified.advertisement.properties.images[0].src}}>
                            <div class="objectiveTabBorder">
                                <div class="objectiveTabContent">
                                    <h2>{{classified.advertisement.name}}</h2>
                                    <p>{{classified.advertisement.properties.text}}</p>
                                    <p>{{$root.langCounterpart('price') || "Price"}}: {{classified.advertisement.properties.price}} {{$root.langCounterpart('qr') || "QR"}}</p>
                                    <p>{{$root.langCounterpart('category') || "Category"}}: {{classified.category_name}}</p>
                                    <p class="postDate">{{$root.langCounterpart('posted_on') || "On"}}: {{classified.advertisement.posted_on |date: 'dd MMMM yyyy'}}</p>
                                    <p ng-if="classified.advertisement.properties.ifSold == 'True'">{{$root.langCounterpart('sold') || "Sold"}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
