<ion-view name="Sakin Service" view-title="{{$root.langCounterpart('ezdan_plus') || 'Ezdan Plus'}}">
<ion-content has-bouncing="false">
	<div class="row responsive-lg curvedBannerContainer">
		<div class="col radiusBanner whiteBG height20vh">
			<img class="serviceUnit" src="img/ezdanPlusLogo.png">
			<p>{{$root.langCounterpart('ezdan_plus') || 'Ezdan Plus'}}</p>
		</div>
	</div>
</ion-content>
</ion-view>