<div ng-controller="phoneAuthController" class="modal phoneAuthModal" style="background:transparent;">
    <ion-content padding="true" style="background:rgba(0,0,0,0.9);">
        <div class="content landContent landFormContent landSignupContent loginContent">
            <div ng-form="phoneAuthForm" class="formContainer">
                <div class="landFormTitle">
                    <div class="row centerRow">
                        <div class="land-logo">
                            <img src="img/logo_bgless.png">
                        </div>
                    </div>
                    <p>{{phoneAuthPara1}}<span class="forceLTR">{{tempUserObj.phone}}</span>.</p>
                    <p>{{$root.langCounterpart('phone_auth_para_2') || "Please enter the received verification code in order to continue."}}</p>
                </div>
                <div class="row responsive-lg">
                    <div class="col transparentBG">
                        <button class="button button-block button-calm curvyBtn whiteBG guestLogin" ng-disabled="phoneAuthResendSent" ng-click="resendPhoneAuthorization()">
                            {{$root.langCounterpart('resend_verification') || 'Resend Verification'}}
                        </button>
                    </div>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" name="phoneAuthCode" id="phoneAuthCode"
                        placeholder="{{$root.langCounterpart('verification_code') || 'Verification Code'}}"
                        ng-model="tempUserObj.phoneAuthCode" ng-required="true" ng-maxlength="4">
                        <div class="error" ng-show="phoneAuthSubmitted">
                            <p ng-show="phoneAuthForm.phoneAuthCode.$error.required">
                                {{$root.langCounterpart('required') || "Required"}}
                            </p>
                            <p ng-show="phoneAuthForm.phoneAuthCode.$error.maxlength">
                                {{$root.langCounterpart('too_long') || "Too long"}}
                            </p>
                        </div>
                    </label>
                    <div class="row responsive-lg">
                        <div class="col transparentBG">
                            <button class="button button-block button-calm curvyBtn redBG guestLogin" ng-disabled="phoneAuthSent" ng-click="submitPhoneAuthorization(phoneAuthForm)">
                                {{$root.langCounterpart('continue') || 'Continue'}}
                            </button>
                        </div>
                    </div>
                    <div class="row responsive-lg">
                        <div class="col transparentBG">
                            <button class="button button-block button-calm curvyBtn whiteBG guestLogin" ng-disabled="phoneAuthCancelSent" ng-click="cancelPhoneAuthorization()">
                                {{$root.langCounterpart('cancel') || 'Cancel'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</div>