<ion-view name="Our Services" view-title="{{$root.langCounterpart('our_services') || 'Our Services'}}">
<ion-content has-bouncing="false">
	<div class="row responsive-lg curvedBannerContainer">
		<div class="col radiusBanner height22vh">
			<img src="img/ourServicesBanner.jpg">
		</div>
	</div>
	<div class="row responsive-lg curvedBannerContainer" ng-click="$root.go('sakinService')">
		<div class="col radiusBanner whiteBG height20vh">
			<img class="serviceUnit" src="img/sakinLogo.png">
		</div>
	</div>
	<div class="row responsive-lg curvedBannerContainer" ng-click="$root.go('customerCare')">
		<div class="col radiusBanner whiteBG height20vh">
			<img class="serviceUnit" src="img/customercarecenterlogo.jpg">
		</div>
	</div>
	<div class="row responsive-lg curvedBannerContainer" ng-click="goEzdanPlus()">
		<div class="col radiusBanner whiteBG height20vh">
			<img class="serviceUnit" src="img/ezdanPlusLogo.png">
			<p>{{$root.langCounterpart('ezdan_plus') || 'Ezdan Plus'}}</p>
		</div>
	</div>
</ion-content>
</ion-view>