<ion-view view-title="{{viewTitle}}">
<ion-content class="feedbackContainer keyboard-open-height" has-bouncing="false">
<div class="contentWithBanner feedbackContent curvedBannerContainer">
  <div class="row responsive-lg radiusBanner whiteBG height20vh">
    <img src="img/feedbackBanner.jpg">
  </div>
  <div class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow" ng-form="feedbackForm">
    <div class="list">
      <!-- <label class="item item-input item-select">
        <div class="input-label">
          {{$root.langCounterpart('feedback_type') || 'Feedback Type'}}
        </div>
        <select ng-model="feedbackData.typeId"
          ng-options="type.id as type.name for type in feedbackData.types">
        </select>
      </label> -->
      <label class="item item-input">
        {{$root.langCounterpart('subject') || 'Subject'}}
        <input type="text" name="title" id="title" placeholder="{{$root.langCounterpart('subject_body') || 'Type the subject'}}"
        ng-model="feedbackData.title" ng-blur="titleBlur = true" ng-focus="titleBlur = false" required>
        <div class="error" ng-show="titleBlur || feedbackSubmitted">
          <p ng-show="feedbackForm.title.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
        </div>
      </label>
      <label class="item item-input forceLTR">
        {{$root.langCounterpart('mobile_number') || 'Mobile Number'}}
        <intlpn name="mobileNumber" id="mobileNumber"
            ng-model="feedbackData.mobileNumber" 
            placeholder="{{$root.langCounterpart('mobile_number_body') || 'Type your mobile number'}}" 
            default-country="qa"
            disable="$root.user.loggedIn"
            blur="mobileNumberBlur"
            required>
        </intlpn>
        <!-- <input ng-if="$root.user.loggedIn" type="number" name="mobileNumber" id="mobileNumber" placeholder="{{$root.langCounterpart('mobile_number_body') || 'Type your mobile number'}}"
        string-to-number ng-model="feedbackData.mobileNumber" ng-pattern="regex.phone" ng-blur="mobileNumberBlur = true" ng-focus="mobileNumberBlur = false" required disabled> -->
        <div class="error feedbackError" ng-show="mobileNumberBlur || feedbackSubmitted">
          <p ng-show="feedbackForm.mobileNumber.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
          <p ng-show="feedbackForm.mobileNumber.$invalid && !feedbackForm.mobileNumber.$error.required">
            {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
          </p>
        </div>
      </label>
      <label class="item item-input">
        {{$root.langCounterpart('message') || 'Message'}}
        <textarea name="feedbackMessage" id="feedbackMessage" placeholder="{{$root.langCounterpart('message_body') || 'Type your message'}}"
        ng-keyup="doResize()" ng-model="feedbackData.message" cols="{{textArea.cols}}" rows="{{textArea.rows}}"
        ng-required="true" ng-blur="feedbackMessageBlur = true" ng-focus="feedbackMessageBlur = false"></textarea>
        <div class="error" ng-show="feedbackMessageBlur || feedbackSubmitted">
          <p ng-show="feedbackForm.feedbackMessage.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
        </div>
      </label>
    </div>
    <div class="row responsive-lg rowGallery relativeRow feedbackUploadContainer">
        <button class="button button-block button-calm curvyBtn transparentBG" ng-show="feedbackData.feedbackImage == null" ng-click="selectImages()">
            <i class="icon-photo-camera"></i>{{$root.langCounterpart('select_image') || "Select Image"}}
        </button>
        <div ng-if="feedbackData.feedbackImages.length > 0"  class="row responsive-lg rowGallery relativeRow requestServiceUploadContainer">
            <!-- <div class="col-3 curvedImgContainer feedbackUploadImg">
                <img src="img/3500_cleaning.jpg" alt="">
                <img class="removeImage" src="img/icons/delete.png" ng-click="removeImage($index)">
                <i class="ion-close-circled removeImage" aria-hidden="true" ng-click="removeImage($index)"></i>
            </div> -->
            <div ng-repeat="image in feedbackData.feedbackImages track by $index" class="col-3 curvedImgContainer feedbackUploadImg">
                <img src="{{image}}" alt="">
                <i class="ion-close removeImage" aria-hidden="true" ng-click="removeImage($index)"></i>
            </div>
        </div>
    </div>
  </div>
  <div class="row footer-contact absoluteRow centerRow">
      <a ng-disabled="!$root.isOnline" ng-click="submitFeedback(feedbackForm)">
        {{$root.langCounterpart('send') || 'Send'}}</a>
  </div>
</div>
</ion-content> 
</ion-view>