<ion-view ng-init="contentloading()" view-title="{{$root.langCounterpart('account_settings') || 'Account Settings'}}">
    <ion-content class="removeHeight keyboard-open-height" has-bouncing="false">
        <div class="contentWithBanner userProfileSettingsContent">
            <div ng-form="passwordChangeForm" class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow">
                <div class="list">
                    <!-- <label class="item item-toggle">
                        {{$root.langCounterpart('receive_push_notifications') || 'Receive Push Notifications'}}
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="oldNotificationValue.value" ng-disabled="!$root.isOnline" ng-change="toggleNotifications()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </label> -->

                    <label class="item item-input item-select">
                        {{$root.langCounterpart('language') || 'Language'}}
                        <select ng-class="{'item-disabled': !item.offlineSupport && !$root.isOnline}" ng-disabled="!$root.isOnline" ng-model="$root.lang" ng-change="toggleLanguage('{{$root.lang}}')">
                            <option value="Arabic">العربية</option>
                            <option value="English">English</option>
                        </select>
                    </label>



                        <!-- <label class="item item-input">
                        {{$root.langCounterpart('old_password') || 'Old Password'}}
                        <input type="text" name="itemName" id="itemName" placeholder="Type your old password">
                    </label>
                    <label class="item item-input">
                    {{$root.langCounterpart('new_password') || 'New Password'}}
                    <input type="text" name="itemName" id="itemName" placeholder="Type your new password">
                </label>
                <label class="item item-input">
                {{$root.langCounterpart('new_password_confirmation') || 'New Password Confirmation'}}
                <input type="text" name="itemName" id="itemName" placeholder="Confirm your password">
            </label> -->

            <label class="item item-input">
                {{$root.langCounterpart('password') || 'Password'}}
                <input type="password" id="oldPassword" name="oldPassword"
                placeholder="{{$root.langCounterpart('type_old_password') || 'Type your old password'}}"
                ng-model="passwordModel.OldPassword"
                ng-pattern="$root.regex.logInPassword"
                ng-hide="oldShowPassword"
                ng-model-options="{ allowInvalid: true}"  ng-blur="oldPasswordBlur = true" ng-focus="oldPasswordBlur = false" required>

                <input type="text" id="oldPassword" name="oldPassword"
                placeholder="{{$root.langCounterpart('type_old_password') || 'Type your old password'}}"
                ng-model="passwordModel.OldPassword"
                ng-pattern="$root.regex.logInPassword"
                ng-show="oldShowPassword" ng-blur="oldPasswordBlur = true" ng-focus="oldPasswordBlur = false" required>

                <i class="icon ion-eye" on-touch="oldShowPassword = !oldShowPassword"></i>
                <div class="error error-password" ng-show="changePasswordSubmitted || oldPasswordBlur">
                    <p ng-show="passwordChangeForm.oldPassword.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="passwordChangeForm.oldPassword.$error.pattern">
                        {{$root.langCounterpart('invalid_password_chars') || "Password should be at least 6 chars"}}
                    </p>
                </div>
            </label>


            <label class="item item-input">
                {{$root.langCounterpart('new_password') || 'New Password'}}
                <input type="password" id="password" name="password"
                placeholder="{{$root.langCounterpart('type_new_password') || 'Type your new password'}}"
                ng-model="passwordModel.NewPassword"

                ng-pattern="$root.regex.password"
                ng-hide="showPassword"
                ng-model-options="{ allowInvalid: true}"  ng-blur="passwordBlur = true" ng-focus="passwordBlur = false" required>

                <input type="text" id="password" name="password"
                placeholder="{{$root.langCounterpart('type_new_password') || 'Type your new password'}}"
                ng-model="passwordModel.NewPassword"

                ng-pattern="$root.regex.password"
                ng-show="showPassword"
                ng-model-options="{ allowInvalid: true}" ng-blur="passwordBlur = true" ng-focus="passwordBlur = false" required>

                <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
                <div class="error error-password" ng-show="changePasswordSubmitted || passwordBlur">
                    <p ng-show="passwordChangeForm.password.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="passwordChangeForm.password.$error.pattern">
                        {{$root.langCounterpart('invalid_password') || "eg., Aa1-23"}}
                    </p>
                </div>
            </label>


            <label class="item item-input">
                {{$root.langCounterpart('confirm_new_password') || 'Confirm New Password'}}
                <input type="password" id="passwordconfirm" name="passwordconfirm"
                placeholder="{{$root.langCounterpart('confirm_your_new_password') || 'Confirm your new password'}}"
                ng-model="passwordModel.ConfirmPassword"
                pw-check="password" required ng-hide="showPassword" ng-blur="passwordConfirmBlur = true" ng-focus="passwordConfirmBlur = false">

                <input type="text" id="passwordconfirm" name="passwordconfirm" placeholder="{{$root.langCounterpart('confirm_your_new_password') || 'Confirm your new password'}}"
                ng-model="passwordModel.ConfirmPassword"
                pw-check="password" required ng-show="showPassword" ng-blur="passwordConfirmBlur = true" ng-focus="passwordConfirmBlur = false">

                <div class="error" ng-show="changePasswordSubmitted || passwordConfirmBlur">
                    <p ng-show="passwordChangeForm.passwordconfirm.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="passwordChangeForm.passwordconfirm.$error.pwmatch
                    && !passwordChangeForm.passwordconfirm.$error.required">
                    {{$root.langCounterpart('no_match') || "No match"}}
                </p>
            </div>
        </label>



</div>
<div class="col addBtn">
    <button class="button button-block button-calm curvyBtn redBG smallBtn btnWidth-35" ng-disabled="!$root.isOnline" ng-click="changePassword(passwordChangeForm)">
        {{$root.langCounterpart('save') || 'Save'}}
    </button>
</div>
</div>
</div>
</ion-content>
</ion-view>
