<ion-view title="Landing" hide-nav-bar="true" style="background:#0c60ee;">
    <ion-content padding="true">
        <div style="color:white">
            <h3 style="text-align: center;color:white">LOGIN TO YOUR ACCOUNT</h3>
        </div>
        <!--<form novalidate method="post" action="">-->
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Mobile Number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password">
            </label>
            <button class="button button-block" ng-click="">
                Login
            </button>
            <div style="color:white">
                <h3 style="text-align: center;color:white">OR</h3>
            </div>
            <button class="button button-block" ng-click="">
                Continue as Guest
            </button>
        </div>
    </ion-content>
</ion-view>
