<ion-view ng-init="editInit()" view-title="{{$root.langCounterpart('classifieds') || 'Classifieds'}}">
  <ion-content class="removeHeight keyboard-open-height">
    <div class="contentWithBanner">
      <div class="row responsive-lg InnerBanner">
        <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
        <img src="img/classifiedAdd.jpg">
        <div class="imgCurve">
          <img src="img/innerCurve.png" alt="">
        </div>
      </div>
        <div class="globalTab active">
          <!-- <div ng-repeat="tab in $root.tabs" class="globalTab"> -->
          <!-- <a ng-click="selectedIndex($index,$event)" class="globalTabLink">{{tab.content.title}}</a> -->
          <a class="globalTabLink">{{$root.langCounterpart('edit') || "Edit"}} {{classifiedTitle}}</a>
          <span></span>
        </div>
      <div class="row responsive-lg centerRow">
          <div class="col itemImgContainer">
              <!-- anchor tag needs "active" class after item-img uploaded -->
              <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedCurrentImages)" ng-hide="classifiedCurrentImages.length >= 1">
                  <img src="img/itemImgUploadIcon.png">
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
              <a  ng-if="classifiedCurrentImages.length >= 1" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(0, classifiedCurrentImages)" ng-show="classifiedCurrentImages.length >= 1">
                  <img ng-src={{classifiedCurrentImages[0].src}} ng-cloak>
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
              <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedCurrentImages)" ng-hide="classifiedCurrentImages.length >= 2">
                  <img src="img/itemImgUploadIcon.png">
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
              <a ng-if="classifiedCurrentImages.length >= 2" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(1, classifiedCurrentImages)" ng-show="classifiedCurrentImages.length >= 2">
                  <img ng-src={{classifiedCurrentImages[1].src}} ng-cloak>
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
              <a href="" class="circleRadius lgItemUploaderIcon" ng-click="selectImages(classifiedCurrentImages)" ng-hide="classifiedCurrentImages.length === 3">
                  <img src="img/itemImgUploadIcon.png">
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
              <a ng-if="classifiedCurrentImages.length === 3" href="" class="circleRadius lgItemUploaderIcon active" ng-click="removeImage(2, classifiedCurrentImages)" ng-show="classifiedCurrentImages.length === 3">
                  <img ng-src={{classifiedCurrentImages[2].src}} ng-cloak>
                  <!-- <img src="img/avatar.jpg"> -->
              </a>
          </div>
      </div>
      <div ng-form="editClassifiedForm" class="editClassifiedForm innerFormContainer innerFormEditableContainer row responsive-lg centerRow">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    {{$root.langCounterpart('category') || "Category"}}
                </div>

                <!-- <select name="category" id="category" ng-required="true">
                <option ng-repeat="category in categories" value="{{category.id}}" ng-change="selectCategory($index)" ng-selected="category.id == 27">{{category.name}}</option>
            </select> -->
            <select
            ng-model="selectedCat"
            ng-options="category as category.name for category in categories track by category.id"
            ng-change="selectCategory(selectedCat)">
 </select>
            <!-- <select data-ng-options="category as category.name for category in categories" data-ng-model="selected_category">
                <option value="category.value"> </option>
            </select> -->
            {{selected_category}}
            <div class="error" ng-show="classifiedSubmit">
                <p ng-show="editClassifiedForm.category.$error.required ">
                    {{$root.langCounterpart('required') || "Required"}}
                </p>
            </div>
        </label>

          <label class="item item-input">
            {{$root.langCounterpart('item_name') || 'Item Name'}}
            <input type="text" name="itemName" id="itemName"
            ng-model="toBeEdited.content.title" ng-required="true" ng-pattern="regex.name" ng-blur="itemNameBlur = true" ng-focus="itemNameBlur = false">
            <div class="error" ng-show="itemNameBlur || classifiedSubmit">
                <p ng-show="editClassifiedForm.itemName.$error.required && !editClassifiedForm.itemName.$error.pattern">
                    {{$root.langCounterpart('required') || "Required"}}
                </p>
                <p ng-show="editClassifiedForm.itemName.$error.pattern && !editClassifiedForm.itemName.$error.required">
                    {{$root.langCounterpart('invalid_name') || "Invalid name"}}
                </p>
            </div>

          </label>
          <label class="item item-input">
            {{$root.langCounterpart('item_price') || 'Item Price'}}
            <span class="absoluteSpan">{{$root.langCounterpart('qr') || "QR"}}</span>
            <input type="number" name="itemPrice" id="itemPrice"
            step="any" string-to-number ng-model="toBeEdited.content.properties['price'].value" ng-change="setTwoNumberDecimal()" ng-required="true" ng-blur="itemPriceBlur = true" ng-focus="itemPriceBlur = false">
            <div class="error" ng-show="itemPriceBlur || classifiedSubmit">
                <p ng-show="editClassifiedForm.itemPrice.$error.required">
                    {{$root.langCounterpart('required') || "Required"}}
                </p>
            </div>
          </label>
          <label class="item item-input">
            {{$root.langCounterpart('contact_phone_number') || 'Contact Telephone Number'}}
            <span class="absoluteSpan">+974</span>
            <input type="number" name="contactPhone" id="contactPhone"
            string-to-number ng-model="toBeEdited.content.properties['contactPhone'].value" ng-required="true" ng-pattern="regex.phone" ng-blur="contactPhoneBlur = true" ng-focus="contactPhoneBlur = false">
            <div class="error" ng-show="contactPhoneBlur || classifiedSubmit">
                <p ng-show="editClassifiedForm.contactPhone.$error.required && !editClassifiedForm.contactPhone.$error.pattern">
                    {{$root.langCounterpart('required') || "Required"}}
                </p>
                <p ng-show="editClassifiedForm.contactPhone.$error.pattern && !editClassifiedForm.contactPhone.$error.required">
                    {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
                </p>
            </div>
          </label>
          <label class="item item-input">
              {{$root.langCounterpart('contact_email') || 'Contact Email'}}
              <input type="email" name="contactEmail" id="contactEmail"
              ng-model="toBeEdited.content.properties['contactEmail'].value" ng-required="true" ng-pattern="regex.email" ng-blur="contactEmailBlur = true" ng-focus="contactEmailBlur = false" >
              <div class="error" ng-show="contactEmailBlur || classifiedSubmit">
                  <p ng-show="editClassifiedForm.contactEmail.$error.required && !editClassifiedForm.contactEmail.$error.pattern">
                      {{$root.langCounterpart('required') || "Required"}}
                  </p>
                  <p ng-show="editClassifiedForm.contactEmail.$error.pattern && !editClassifiedForm.contactEmail.$error.required">
                      {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                  </p>
              </div>
          </label>
          <label class="item item-input">
            {{$root.langCounterpart('item_description') || 'Item Description'}}
            <textarea name="itemDescription" id="itemDescription"
            ng-keyup="doResize()" ng-model="toBeEdited.content.properties['text'].value" cols="{{textArea.cols}}" rows="{{textArea.rows}}"
            ng-required="true" ng-pattern="regex.description" ng-blur="itemDescriptionBlur = true" ng-focus="itemDescriptionBlur = false"
            ng-model-options="{ allowInvalid: true}"></textarea>

            <div class="error" ng-show="itemDescriptionBlur || classifiedSubmit">
                <p ng-show="editClassifiedForm.itemDescription.$error.required && !editClassifiedForm.itemDescription.$error.pattern">
                    {{$root.langCounterpart('required') || "Required"}}
                </p>
                <p ng-show="editClassifiedForm.itemDescription.$error.pattern && !editClassifiedForm.itemDescription.$error.required">
                    {{$root.langCounterpart('invalid_description') || "Invalid description"}}
                </p>
            </div>
          </label>
        </div>
        <div class="col addBtn">
          <button class="button button-block button-calm curvyBtn redBG smallBtn" ng-click="toggleSold()">
            <span ng-if="toBeEdited.content.properties['ifSold'].value == 'False'">{{$root.langCounterpart('mark_as_sold') || "Mark as Sold"}}</span>
            <span ng-if="toBeEdited.content.properties['ifSold'].value == 'True'">{{$root.langCounterpart('mark_as_unsold') || "Mark as Unsold"}}</span>
          </button>
          <button class="button button-block button-calm curvyBtn redBG smallBtn" ng-click="editClassified(editClassifiedForm)">
            {{$root.langCounterpart('save') || "Save"}}
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
