<ion-view>
    <ion-content has-bouncing="false" class="keyboard-open-height">
      <div class="relativeRow curvedBannerContainer">
        <div class="row responsive-lg radiusBanner whiteBG height20vh">
          <img src="img/surveyBanner.png">
        </div>
      </div>
      <!-- Survey Timeline indicator -->
      <div class="surveyMenuLinks">
        <div class="surveyMenuLink">
          <p class="active">1</p>
          <span>{{$root.langCounterpart('select_a_city') || 'Select a City'}}</span>
          <div class="surveyBorder colorBorder"></div>
        </div>
        <div class="surveyMenuLink">
          <p class="active">2</p>
          <span>{{$root.langCounterpart('pick_a_survey') || 'Pick a Survey'}}</span>
          <div class="surveyBorderPickASurvey colorBorder"></div>
        </div>
        <div class="surveyMenuLink">
          <p class="active">3</p>
          <span class="active">{{$root.langCounterpart('answer_a_survey') || 'Answer a Survey'}}</span>
          <div class="surveyBorderAnswerASurvey colorBorder"></div>
        </div>
      </div>
      <!-- / Survey Timeline indicator -->
  
      <!-- Survey Body -->
      <div ng-if="!questionsLoading" class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow" ng-form="surveys" >
  
        <!-- Form -->
        <!-- <form name="surveys" ng-submit="submitData()"> -->
  
        <!-- Loop on all questions -->
  
        <ion-list class="generalRadios surveyList">
          <div class="questionContainer" ng-repeat="question in SurveyQuestions">
            <!-- Question Head -->
            <div class="answerSurveyQuestionsNumAndQuestionsTitle">
  
              <!-- Question Number -->
              <div class="answerSurveyQuestionsNum">
                <p>
                  <span>
                    <img ng-if="lang == 'English'" src="img/icons/q-icon.png">
                    <img ng-if="lang != 'English'" src="img/icons/q-ar-icon.png">
                  </span>
                  <span>{{question.sortorder}}</span>
                </p>
                <!-- <p>{{language=='English' ? "Q" : "س" }}{{question.sortorder}}</p> -->
              </div>
              <!-- / Question Number -->
  
              <!-- Question ? -->
              <div class="answerSurveyQuestionsTitle">
                <p ng-if="language=='English'">
                  {{question.title.en}}:
                  <span class="astrisk" ng-if="question.is_required"> *</span>
                </p>
                <p ng-if="language!='English'">
                  {{question.title.ar}}:
                  <span class="astrisk" ng-if="question.is_required"> *</span>
                </p>
              </div>
              <!-- /Question ? -->
            </div>
            <!-- /Question Head -->
  
            <div ng-required="question.is_required">
              <div ng-switch="question.answers_type">
  
                <!-- TextBox -->
                <div ng-switch-when="TextBox" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes">
                    <div class="item item-input">
                      <input name="textInput" ng-if="language === 'English'" 
                        ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.en) 
                        type="text"
                        ng-required="question.is_required" />
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                    <div class="item item-input">
                      <input name="textInput" ng-if="language === 'Arabic'"
                        ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.ar) 
                        type="text"
                        ng-required="question.is_required" />
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                  </div>
                </div>
                <!-- TextBox -->
  
                <!-- Number -->
                <div ng-switch-when="Number" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes">
                    <div class="item item-input">
                      <input ng-if="language === 'English'" ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.en) 
                        type="text" 
                        ng-required="question.is_required"/>
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                    <div class="item item-input">
                      <input ng-if="language === 'Arabic'" ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.ar) 
                        type="text" 
                        ng-required="question.is_required"/>
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                  </div>
                </div>
                <!-- /Number -->
  
                <!-- Email -->
                <div ng-switch-when="Email" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes">
                    <div class="item item-input">
                      <input ng-if="language === 'English'" ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.en) 
                        type="text" 
                        ng-required="question.is_required"/>
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                    <div class="item item-input">
                      <input ng-if="language === 'Arabic'" ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],sub.text.ar) 
                        type="text" 
                        ng-required="question.is_required"/>
                        <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    </div>
                  </div>
                </div>
                <!-- /Email -->
  
                <!-- Text Area -->
                <div ng-switch-when="Comments" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes item item-input">
                    <textarea ng-if="language === 'English'" rows="4" 
                      cols="50" 
                      ng-model="data[question.id]" 
                      ng-change=changed(question.id,sub.id,data[question.id],sub.text.en)
                      ng-required="question.is_required">
                    </textarea>
                      <!-- placeholder="{{language=='English' ? sub.text.en : sub.text.ar }}" -->
                    <textarea ng-if="language === 'Arabic'" rows="4" 
                      cols="50" 
                      ng-model="data[question.id]" 
                      ng-change=changed(question.id,sub.id,data[question.id],sub.text.ar)
                      ng-required="question.is_required">
                    </textarea>
                  </div>
                </div>
                <!-- / Text Area -->
  
                <!-- CheckBox -->
                <div ng-switch-when="CheckBox">
                  <div class="inputMultiTypes">
                    <ion-list ng-repeat="sub in question.sub_items" ng-if="language=='English'">
                      <ion-checkbox ng-if="question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click="submitOneItem(question.id,sub.id,checkbox.val,sub.text.en,sub.subitem_type,$event)"
                        name={{question.id}} 
                        type="checkbox" 
                        ng-required="checkboxList.length == 0">{{sub.subitem_type=='OthersCheckBox' ? 'Others' : sub.text.en }}
                      </ion-checkbox>
                      <ion-checkbox ng-if="!question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.en,sub.subitem_type,$event)
                        name={{question.id}} 
                        type="checkbox">{{sub.subitem_type=='OthersCheckBox' ? 'Others' : sub.text.en }}
                      </ion-checkbox>
                    </ion-list>
  
                    <ion-list ng-repeat="sub in question.sub_items" ng-if="language!='English'">
                      <ion-checkbox 
                        ng-if="question.is_required" 
                        ng-model="checkbox.val" ng-click="submitOneItem(question.id,sub.id,checkbox.val,sub.text.en,sub.subitem_type,$event)"
                        name={{question.id}} 
                        type="checkbox" 
                        ng-required="checkboxList.length == 0">{{sub.subitem_type=='OthersCheckBox' ? 'أخرى' : sub.text.ar }}
                      </ion-checkbox>
                      <ion-checkbox ng-if="!question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.ar,sub.subitem_type,$event)
                        name={{question.id}} 
                        type="checkbox">{{sub.subitem_type=='OthersCheckBox' ? 'أخرى' : sub.text.ar }}
                      </ion-checkbox>
                    </ion-list>
                  </div>
                </div>
                <!-- / CheckBox -->
  
                <!-- OthersCheckBox -->
                <div ng-switch-when="OthersCheckBox" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes">
                    <div class="item item-input item-select" ng-if="language=='English'">
                      <input ng-if="!question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.en,sub.subitem_type,$event)
                        type="checkbox" 
                        ng-required="checkboxList.length==1">{{sub.subitem_type=='OthersCheckBox' ? 'Others' : sub.text.en }}
                      <input ng-if="question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.en,sub.subitem_type,$event)
                        type="checkbox">{{sub.subitem_type=='OthersCheckBox' ? 'Others' : sub.text.en }}
                    </div>
                    <div class="item item-input item-select" ng-if="language!='English'">
                      <input ng-if="!question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.ar,sub.subitem_type,$event)
                        type="checkbox" 
                        ng-required="checkboxList.length==1">{{sub.subitem_type=='OthersCheckBox' ? 'أخرى' : sub.text.ar }}
                      <input ng-if="question.is_required" 
                        ng-model="checkbox.val" 
                        ng-click=submitOneItem(question.id,sub.id,checkbox.val,sub.text.ar,sub.subitem_type,$event)
                        type="checkbox">{{sub.subitem_type=='OthersCheckBox' ? 'أخرى' : sub.text.ar }}
                    </div>
                  </div>
                </div>
                <!-- / OthersCheckBox -->
  
                <!-- Radio Button  -->
                <div class="inputMultiTypes" ng-switch-when="RadioButton">
                  <ion-radio ng-if="language=='English'" 
                    ng-repeat="sub in question.sub_items" 
                    ng-model="question.selectedValue" 
                    ng-click="changed(question.id,sub.id,'true',sub.text.en,sub.subitem_type)" 
                    ng-value="sub.text.en" 
                    ng-required="question.is_required" 
                    name="radio">{{sub.subitem_type.toLowerCase().indexOf('others') != -1 ? 'Others' : sub.text.en}}</ion-radio>
                  <ion-radio ng-if="language!='English'" 
                    ng-repeat="sub in question.sub_items" 
                    ng-model="question.selectedValue" 
                    ng-click="changed(question.id,sub.id,'true',sub.text.ar,sub.subitem_type)"
                    ng-value="sub.text.ar"
                    ng-required="question.is_required" 
                    name="radio">{{sub.subitem_type.toLowerCase().indexOf('others') != -1 ? 'أخرى' : sub.text.en}}</ion-radio>
                </div>
                <!-- / Radio Button  -->

                <!-- Others TextBox -->
                <div ng-if="findOthersChoice(question)" ng-repeat="sub in question.sub_items">
                  <div class="inputMultiTypes" 
                    ng-if="sub.subitem_type.toLowerCase().indexOf('others') != -1"
                    ng-show="othersChoicesIds.indexOf(question.id) > -1">
                    <div class="item item-input">
                      <input id="othersTextInput" name="othersTextInput" 
                        ng-if="language === 'English'" 
                        ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],data[question.id],'TextBox') 
                        type="text"
                        ng-required="question.is_required && othersChoicesIds.indexOf(question.id) > -1"
                        focus-on="othersChoicesIds.indexOf(question.id) > -1 
                          && data[question.id] == null" />
                    </div>
                    <div class="item item-input">
                      <input id="othersTextInput" name="othersTextInput" 
                        name="textInput" ng-if="language === 'Arabic'"
                        ng-model="data[question.id]" 
                        ng-change=changed(question.id,sub.id,data[question.id],data[question.id],'TextBox') 
                        type="text"
                        ng-required="question.is_required && othersChoicesIds.indexOf(question.id) > -1" 
                        focus-on="othersChoicesIds.indexOf(question.id) > -1" />
                    </div>
                  </div>
                </div>
                <!-- Others TextBox -->
  
                <!-- DropDown   -->
                <div class="inputMultiTypes" ng-switch-when="DropDown">
                  <div class="item item-input item-select">
                    <select ng-if="question.is_required" ng-model="selectedName" ng-required="!selectedName">
                      <option value="" disabled selected>{{language=='English' ? "Select" : "اختار" }}</option>                      
                      <option 
                      ng-repeat="sub in question.sub_items"
                      value="{{sub.text.en}}"
                      ng-selected="changed(question.id,sub.id,'true',sub.text.en,sub.subitem_type)">
                      {{language=='English' ? sub.text.en : sub.text.ar }}
                    </option>
                  </select>
              </div>
            </div>
            <!-- /DropDown  -->
  
            <!-- Default Input -->
            <div ng-switch-default ng-repeat="sub in question.sub_items">
              <input ng-if="question.is_required" 
                name="textInput" 
                ng-model="data[question.id]" 
                ng-change=changed(question.id,sub.id,data[question.id],sub.text.en)
                type="text" 
                ng-required="question.is_required" />
                <input 
                ng-if="!question.is_required" 
                name="textInput" 
                ng-model="data[question.id]" 
                ng-change=changed(question.id,sub.id,data[question.id],sub.text.en)
                type="text" />
            </div>
            <!-- /Default Input -->
          </div>
        </div>
      </div>
    </ion-list>
  
    <!-- /Loop on all questions -->
  
  
    <!-- Submit Button -->
    <div class="col addBtn">
      <button class="button button-block button-calm curvyBtn redBG smallBtn" ng-click="submitData(surveys)"> {{$root.langCounterpart('submit') || 'Submit:'}} </button>
    </div>
    <!--/ Submit Button -->
  
    <!-- </form> -->
    <!-- / Form  -->
  </div>
  <!-- /Survey Body -->
  
  </ion-content>
  </ion-view>