<ion-view view-title="{{$root.langCounterpart('surveys') || 'Surveys'}}">
	<ion-content has-bouncing="false">
		<div class="relativeRow curvedBannerContainer">
			<div class="row responsive-lg radiusBanner whiteBG height20vh">
				<img src="img/surveyBanner.png">
			</div>
		</div>
		<div class="surveyMenuLinks"> 
			<div class="surveyMenuLink">
					<p class="active">1</p>
					<span>{{$root.langCounterpart('select_a_city') || 'Select a City'}}</span>
					<div class="surveyBorder colorBorder"></div>
			</div>
			<div class="surveyMenuLink">
					<p class="active">2</p>
					<span class="active">{{$root.langCounterpart('pick_a_survey') || 'Pick a Survey'}}</span>
					<div class="surveyBorderPickASurvey colorBorder"></div>
			</div>
			<div class="surveyMenuLink">
					<p>3</p>
					<span>{{$root.langCounterpart('answer_a_survey') || 'Answer a Survey'}}</span>
					<div class="surveyBorderAnswerASurvey"></div>
			</div>
		</div>
		<div class="objectiveTab surveyPickASurveyUnits"
			ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'"
			ng-class="{'ez-disabled': survey.taken}"
			ng-repeat="survey in SurveysPerLocation track by $index"
			ng-click="goSurveyQuestions(survey)">
			<!-- ng-if="survey.taken === false" -->
      <img src="img/pickSurveyIcon.png">
    	<div class="objectiveTabBorder">
        <div class="objectiveTabContent">
					<p ng-if="$root.lang==='English'"><span>{{$root.langCounterpart('survey_single') || 'Survey'}}: </span>{{survey.title.en}}</p>
        	<p ng-if="$root.lang==='Arabic'"><span>{{$root.langCounterpart('survey_single') || 'Survey'}}: </span>{{survey.title.ar}}</p>
        </div>
        <!-- <div class="questionsNum">
        	<p><span>Questions</span><span>15</span></p>
        </div> -->
      </div>
    </div>
	</ion-content>
</ion-view>
