<ion-view name="Contact Us" view-title="{{$root.langCounterpart('contact_us') || 'Contact Us'}}">
	<ion-content has-bouncing="false" class="contactContent">
		<div class="row responsive-lg curvedBannerContainer">
			<div class="col radiusBanner whiteBG height20vh">
				<img src="img/surveyBanner.png">
			</div>
		</div>
		<div class="row responsive-lg curvedBannerContainer" ng-if="contactInfoLoaded">
			<div class="col radiusBanner whiteBG">
				<ul>
					<li>
						<a ng-href="tel:{{contactInfo.phone}}">
							<span class="icon-phone icomoon"></span>
							{{contactInfo.phone}}
						</a>
					</li>
					<li>
						<a ng-href="tel:{{contactInfo.fax}}">
							<span class="icomoon icon-fax"></span>
							{{contactInfo.fax}}
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span class="icon-mailbox mailbox"></span>
							{{contactInfo.pobox}}
						</a>
					</li>
					<li>
						<!-- <a ng-href="" onclick="window.open('https://www.google.com.eg/maps/place/Ezdan+Holding+Group/@25.2854518,51.528846,17z/data=!3m1!4b1!4m5!3m4!1s0x3e45c4c97662fd2f:0x6d34ba725e8824b7!8m2!3d25.285447!4d51.53104?hl=en', '_system', 'location=yes'); return false;"> -->
						<a ng-click="openPoboxLocation(contactInfo.poboxLat, contactInfo.poboxLong)">
							<i class="icon-pin"></i>
							{{contactInfo.poboxAddress}}
						</a>
						<!-- {{$root.langCounterpart('pobox') || 'P.O. Box'}}  -->
					</li>
					<li>
						<a ng-href="mailto:{{contactInfo.infoEmail}}">
							<i class="icon-at"></i>
							{{contactInfo.infoEmail}}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row responsive-lg curvedBannerContainer" ng-if="contactInfoLoaded">
			<div class="col radiusBanner whiteBG socialIcons">
				<ul>
					<li>
						<!-- <a onclick="window.open('fb://page/392749097496450', '_system', 'location=yes'); return false"> -->
						<!-- <a onclick="window.open('http://facebook.com/EzdanRealEstate/', '_system', 'location=yes'); return false"> -->
						<a href="javascript:;" ng-click="navigateToSocialMedia('{{contactInfo.facebook}}', '_system', 'location=yes');">
							<span class="icon-facebook icomoon"></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="navigateToSocialMedia('{{contactInfo.instagram}}', '_system', 'location=yes');">
						<!-- <a onclick="window.open('instagram://user?username=ezdanrealestate', '_system', 'location=yes'); return false;"></a> -->
							<span class="icon-instagram icomoon"></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="navigateToSocialMedia('{{contactInfo.twitter}}', '_system', 'location=yes');">
							<span class="icomoon icon-twitter"></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="navigateToSocialMedia('{{contactInfo.youtube}}', '_system', 'location=yes');">
							<span class="icon-youtube icomoon"></span>
						</a>
					</li>
					<li>
						<a href="javascript:;" ng-click="navigateToSocialMedia('https://api.whatsapp.com/send?phone={{contactInfo.whatsapp}}', '_system', 'location=yes')">
							<i class="icon-whatsapp extra"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>