<div ng-controller="galleryZoomViewController">
    <div class="modal image-modal transparent" on-swipe-down="closeModal()" on-swipe-up="closeModal()">
        <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
            <ion-slide ng-repeat="image in Images">
                <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
                zooming="true" min-zoom="{{zoomMin}}" on-double-tap="zoomOnDoubleTap(activeSlide)" style="width: 100%; height: 100%"
                delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)" overflow-scroll="false">
                <!-- <div class="image" src-img="{{image.src}}"></div> -->
                <img class="image" ng-src="{{image.src}}"/>
                <!-- <p style="color:white; margin-left: 10px;"> {{image.sub}}</p> -->
            </ion-scroll>
        </ion-slide>
    </ion-slide-box>
</div>
</div>
