<!DOCTYPE html>
<html ng-app="ezdanApp" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'"> -->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; media-src *; img-src * filesystem: data:">
        <title>Ezdan</title>
        <link rel="icon" href="img/defaultproperty.png">

        <!-- PACKAGE STYLESHEETS -->
        <link href="lib/themes/jquery-ui-1.10.4.custom.css" rel="stylesheet">
        <link href="lib/jquery-ui-1.10.4.custom/css/base/jquery-ui-1.10.4.custom.css" rel="stylesheet">
        <!-- <link href="lib/ion-gallery/dist/ion-gallery.css" rel="stylesheet" /> -->
        <link href="lib/ion-datetime-picker/release/ion-datetime-picker.min.css" rel="stylesheet">
        <link href="lib/intlpnIonic/css/intlpn.css" rel="stylesheet">
        <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.css" rel="stylesheet">
        <!-- <link href="lib/ion-gallery/dist/ion-gallery.css" rel="stylesheet"> -->
        <link href="lib/fullcalendar/dist/fullcalendar.css"/ rel="stylesheet">

        <!-- STYLESHEETS -->
        <link href="css/ionic.css" rel="stylesheet"/>
        <link href="css/fonts.css" rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet"/>
        <link href="css/styleOne.css" rel="stylesheet"/>
        <link href="css/responsive.css" rel="stylesheet"/>
        <link href="css/style-rtl.css" rel="stylesheet" ng-if="$root.lang==='Arabic'" />
        <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet"> -->
    </head>
    <body ng-controller="mainController" sniff-network>
        <ion-side-menus enable-menu-with-back-views="false">
            <ion-pane ng-controller="searchController" ion-side-menu-content="">
                <ion-nav-bar class="bar-positive nav-title-slide-ios7" set-height="">
                    <!-- GLOBAL TITLE -->
                    <!-- <ion-nav-title ng-click="goHome()" ng-hide="hasFilters">
                        <img src='img/logo.png' />
                    </ion-nav-title> -->
                    <ion-nav-title ng-hide="hasFilters">
                        Ezdan
                    </ion-nav-title> 
                    <!-- BACK BUTTON -->
                    <ion-nav-back-button class="button-clear goBackArrow">
                        <span class="icon ion-ios-arrow-back" ng-if="$root.lang===&apos;English&apos;"></span>
                        <span class="icon ion-ios-arrow-back forwardArrow" ng-if="$root.lang===&apos;Arabic&apos;"></span>
                    </ion-nav-back-button>
                    <ion-nav-buttons side="left">
                        <!-- <a href="" class="top-bar-icon align-left" menu-toggle="{{$root.menuDirection}}"> -->
                        <a href="javascript:;" class="top-bar-icon align-left" menu-toggle="{{$root.menuDirection}}">
                            <i class="icon-menu"></i>
                        </a>
                        <!-- NAV-ICON -->
                        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="{{$root.menuDirection}}"></button> -->
                        <!-- CLOSE SEARCH BACK BUTTON -->
                        <!-- <button class="button button-icon button-clear ion-ios-arrow-back ez-search-back" ng-hide="!hasFilters" ng-click="closeFilters()"></button> -->
                        <!-- SEARCH INPUT -->
                        <!-- <div class="bar bar-header item-input-inset ez-search-wrapper" ng-hide="!hasFilters">
                            <label class="item-input-wrapper textbox-search">
                                <i class="icon ion-ios7-search placeholder-icon"></i>
                                <input type="search" placeholder="Search">
                            </label>
                        </div> -->
                    </ion-nav-buttons>
                    <ion-nav-buttons side="right">
                        <!-- NOTIFICATIONS BUTTON -->
                        <!-- <button class="button button-icon button-clear ion-android-notifications-none" ng-click="goAnnouncements()"></button> -->
                        <!-- SEARCH BUTTON -->
                        <!-- <button class="button button-icon button-clear ion-ios-search-strong"
                            ng-click="search()"
                            ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></button> -->
                        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="{{$root.menuDirection}}"></button> -->
                        <a href="javascript:;" class="top-bar-icon align-right" ng-click="$root.goHome()">
                            <img src="img/icons/home-white.png">
                        </a>
                        <a href="javascript:;" class="top-bar-icon align-right" ng-click="$root.go('login')" ng-show="!$root.user.loggedIn">
                                                     <i class="icon-key-label"></i>
                        </a>
                        <div class="userImgHeader circleRadius" ng-click="$root.go('userProfile')" ng-show="$root.user.loggedIn">
                            <img ng-src="{{$root.userImage}}" />
                        </div>
                    </ion-nav-buttons>
                </ion-nav-bar>
                <ion-content class="bar bar-subheader nopadding" ng-hide="!searchUsed">
                    <div class="list searchList" ng-if="searchResults">
                        <a ng-repeat="searchItem in searchList | orderBy:$root.lang === 'Arabic' ? 'ArabicName' : 'EnglishName'" href="{{searchItem.Href}}" ng-cloak class="item" ng-class="searchedInEnglish ? 'searchEn' : 'searchAr'">
                            {{searchedInEnglish ? searchItem.EnglishName : searchItem.ArabicName}}
                        </a>
                    </div>
                    <div class="list" ng-if="!searchResults">
                        <a ng-cloak class="item" ng-repeat="searchItem in searchList">
                            {{searchItem.Name}}
                        </a>
                    </div>
                </ion-content>
                <ion-nav-view cache-view="false" ></ion-nav-view>
            </ion-pane>
            <ez-left-menu ng-controller="menuController"></ez-left-menu>
        </ion-side-menus>

        <!-- PACKAGE SCRIPTS -->

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/ionic/js/ionic.bundle.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="lib/ng-cordova/dist/ng-cordova.min.js"></script>
        <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
        <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="lib/imgcache.js/js/imgcache.js"></script>

        
        <script src="lib/moment/min/moment.min.js" type="text/javascript"></script>
        <script src="lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="lib/jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery-ui-i18n.js"></script>
        <script src="lib/jquery-ui-1.10.4.custom/development-bundle/ui/i18n/jquery.ui.datepicker-ar.js"></script>
        
        <!-- C:\xampp\htdocs\ezdan-app\www\lib\jquery-ui-1.10.4.custom -->
        <script src="lib/fullcalendar/dist/fullcalendar.js" type="text/javascript"></script>
        <script src="lib/fullcalendar/dist/locale-all.js" type="text/javascript"></script>   
        <script src="lib/fullcalendar/dist/gcal.js" type="text/javascript"></script>   

        <script src="lib/ion-datetime-picker/release/ion-datetime-picker.min.js"></script>

        <script src="lib/angular-ui-calendar/uicalendar.js" type="text/javascript"></script>      
        <!-- <script src="lib/angular-ui-calendar/src/calendar.js" type="text/javascript"></script> -->
        
        <script src="lib/ionic-img-cache/ionic-img-cache.min.js"></script>
        <!-- <script src="lib/ion-gallery/dist/ion-gallery.min.js"></script> -->
        <script src="lib/ionic/js/angular/angular-animate.js"></script>
        <script src="lib/ionic-ratings/src/ionic-ratings.js"></script>
        <script src="lib/intlpnIonic/js/intlpnIonic.js"></script>
        <script src="lib/intlpnIonic/js/data.js"></script>
        <script src="lib/intlpnIonic/lib/libphonenumber/build/utils.js"></script>
        <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.js"></script>
        <script src="js/angular-cookies.js"></script>
        <!-- SCRIPTS -->

        <script src="app.constants.js"></script>
        <script src="app.js"></script>
        <script src="app.state.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyCAklqvnDgNmaNljMXeOEoXm23HKH2FTEY"></script>
        <script src="offlineDB.js"></script>
        <script src="dict.service.js"></script>
        <script src="shareImages.service.js"></script>
        <script src="session.service.js"></script>
        <script src="directives/app.directive.js"></script>
        <script src="templates/menu.controller.js"></script>
        <script src="templates/gallery-zoomview.controller.js"></script>
        <script src="templates/phoneAuth.controller.js"></script>
        <script src="components/search/search.controller.js"></script>
        <script src="components/search/search.service.js"></script>
        <script src="components/user/user.service.js"></script>
        <script src="components/user/authentication.service.js"></script>
        <script src="appStart.service.js"></script>
        <script src="components/land/land.controller.js"></script>
        <script src="components/user/login/login.controller.js"></script>
        <script src="components/user/setPassword/setPassword.controller.js"></script>
        <script src="components/user/verifySetPassword/verifySetPassword.controller.js"></script>
        <script src="components/user/forgotPassword/forgotPassword.controller.js"></script>
        <script src="components/user/register/register.controller.js"></script>
        <script src="components/user/userProfile/userProfile.controller.js"></script>
        <script src="components/user/accountSettings/accountSettings.controller.js"></script>
        <script src="components/home/home.controller.js"></script>
        <script src="components/home/home.service.js"></script>
        <script src="components/request/request.controller.js"></script>
        <script src="components/request/request.service.js"></script>
        <script src="components/surveys/surveys.controller.js"></script>
        <script src="components/surveys/surveyPerLocation.controller.js"></script>
        <script src="components/surveys/surveyQuestions.controller.js"></script>
        <script src="components/surveys/surveys.service.js"></script>
        <script src="components/property/properties/properties.controller.js"></script>
        <script src="components/property/detail/detail.controller.js"></script>
        <script src="components/property/property.service.js"></script>
        <script src="components/mediacenter/news/news.service.js"></script>
        <script src="components/mediacenter/news/detailedNews/detailedNews.controller.js"></script>
        <script src="components/mediacenter/news/newsList/newsList.controller.js"></script>
        <script src="components/mediacenter/photogallery/photogallery.service.js"></script>
        <script src="components/mediacenter/photogallery/albumsList/albumsList.controller.js"></script>
        <script src="components/appointments/appointment.controller.js"></script>
        <script src="components/appointments/appointment.service.js"></script>
        <script src="components/cms/content.service.js"></script>
        <script src="components/cms/content.controller.js"></script>
        <script src="components/classified/classified.service.js"></script>
        <script src="components/classified/classified.controller.js"></script>
        <script src="components/card/card.service.js"></script>
        <script src="components/card/cardTypes/cardTypesList.controller.js"></script>
        <script src="components/feedback/feedback.controller.js"></script>
        <script src="components/feedback/feedback.service.js"></script>
        <script src="components/plus/plus.service.js"></script>
        <script src="components/plus/plusRequest/plusRequest.controller.js"></script>
        <script src="components/map/map.controller.js"></script>

        <!-- New Design Scripts -->
        <script src="components/new/sakinService/sakinService.controller.js"></script>
        <script src="components/new/ourServices/ourServices.controller.js"></script>
        <script src="components/new/customerCare/customerCare.controller.js"></script>
        <script src="components/new/ezdanPlus/ezdanPlus.controller.js"></script>
        <script src="components/new/contactUs/contactUs.controller.js"></script>
        <script src="components/announcements/announcements.controller.js"></script>

        <script src="directives/tabs.directive.js"></script>
        <script src="directives/textlist.directive.js"></script>
        <script src="directives/faqlist.directive.js"></script>
        <script src="directives/thumblist.directive.js"></script>
        <script src="directives/classifiedlist.directive.js"></script>
        <script src="directives/classifieddetail.directive.js"></script>
        <script src="directives/altthumblist.directive.js"></script>
        <script src="directives/eventlist.directive.js"></script>
        <script src="directives/textdetail.directive.js"></script>
        <script src="directives/unorderedlist.directive.js"></script>
        <script src="directives/stringToNumber.directive.js"></script>
        <script src="directives/detailview.directive.js"></script>
        <script src="directives/textThumbDetail.directive.js"></script>
        <script src="directives/announcementsList.directive.js"></script>
        <script src="directives/ezdanMap.directive.js"></script>
        <script src="directives/futureprojectslist.directive.js"></script>

   </body>
</html>
<!---->
