<ion-view view-title="{{$root.langCounterpart('news') || 'Ezdan News'}}">
  <ion-content class="removeHeight" has-bouncing="false">
    <div class="contentWithBanner detailsContent curvedBannerContainer">
      <div class="row responsive-lg radiusBanner singleDetail whiteBG height20vh">
        <img class="singleDetailBanner" src="img/image_placeholder.jpg" ng-src={{singleNewsImage}}>
      </div>
      <div class="row radiusRow">
        <div class="globalTab active">
          <a class="globalTabLink">{{singleNewsTitle}}</a>
        </div>
      </div>
      <div class="row eventDesc">
        <p ng-bind-html="singleNewsDescriptionHTML"></p>
      </div>
    </div>
  </ion-content>
  <button class="button button-float shareBtn"
    ng-click="showActionsheet()" ng-disabled="!$root.isOnline">
    <i class="icon ion-share"></i>
  </button>
</ion-view>
