<ion-nav-view name="navbar">
<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
        <ion-content has-header="true">
            <ion-list>
                <ion-item href="#/" menu-close>Home</ion-item>
                <ion-item href="#/about" menu-close>About</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-gear-a" href="#/tab/settings" >
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sign-Out" icon="ion-log-out">
    </ion-tab>
</ion-tabs>    
</ion-nav-view>
