<html >
<body>
	<div id="myModal" class="modal" style="padding:20px">
		<!-- Modal content -->
		<span class = "titleSurv" ng-click ="hideModal()" class="close">&times;</span>

		<div class="modal-content"  ng-if="language=='English'">
			<h4> {{Questions.description.en}} </h4>
			<p>{{Questions.welcome_description.en}}</p>
		</div>
		<div class="modal-content" ng-if="language!='English'">
			<h4> {{Questions.description.ar}} </h4>
			<p>{{Questions.welcome_description.ar}}</p>
		</div>
		<div class="col addBtn centerRow">				
		<button  class="button button-block button-calm curvyBtn redBG smallBtn" ng-click ="hideModal()">{{$root.langCounterpart('back_to_survey') || 'Start Survey'}}
		</button>
	</div>
</div>
</body>
</html>
