<ion-view view-title="{{$root.langCounterpart('surveys') || 'Surveys'}}">
	<ion-content has-bouncing="false">
		<div class="relativeRow curvedBannerContainer">
			<div class="row responsive-lg radiusBanner whiteBG height20vh">
				<img src="img/surveyBanner.png">
			</div>
		</div>
		<div class="surveyMenuLinks radiusRow">
			<div class="surveyMenuLink">
				<p class="active">1</p>
				<span class="active">{{$root.langCounterpart('select_a_city') || 'Select a City'}}</span>
				<div class="surveyBorder"></div>
			</div>
			<div class="surveyMenuLink">
				<p>2</p>
				<span>{{$root.langCounterpart('pick_a_survey') || 'Pick a Survey'}}</span>
				<div class="surveyBorderPickASurvey"></div>
			</div>
			<div class="surveyMenuLink">
				<p>3</p>
				<span>{{$root.langCounterpart('answer_a_survey') || 'Answer a Survey'}}</span>
				<div class="surveyBorderAnswerASurvey"></div>
			</div>
		</div>
		<div ng-if="!locationsLoading" class="selectCities radiusRow">
			<div class="selectCity" ng-repeat="location in SurveyLocations.locationinfo"
        ng-click="goSurveyLocation(location)">
				<i class="icon-pin"></i>
				<div class="selectCityContent">
					<p>{{getLangCounterPart(location.name)}}</p>
					<!-- <span>{{location.surveysTotal}} {{$root.langCounterpart('survey_unit') || 'Surveys'}}</span> -->
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
