html,
.forceRTL,
.item-select select,
.popup-container .popup,
.popupForm .item-input,
.item-input textarea::placeholder,
.item-input input::placeholder,
.discoverSlider.slider .objectiveTab,
.item-input.noBorder,
.visionDetails,
.unOrderListContent,
.EventsTitle h2,
.tabContents,
.visionDetailsContent p,
.formContainer .row,
.requestContainer,
.propertiesContent .propertySpecs a{
  direction: rtl!important;
}

.forceLTR,
.card,
.list-inset,
.list-inset .item,
.rowSignup,
.dateAndTime,
.item-input input[type="email"],
.item-input input[type="number"],
.item-input input[type="password"],
.landFormContent .item-select select,
.discoverSlider.slide,
.userMail {
  direction: ltr!important;
}

.forceLTR {
  unicode-bidi: embed;
}

body,
input,
button,
select,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: TheSansArabic!important;
}
.singlePropertyContent .propertySpecs ul li,
.singlePropertyContent .propertySpecs ul:last-of-type li:first-of-type{
  padding: 0;
}
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper,
.singlePropertyContent .propertySpecs a::before, .guestLogin .icon {
  margin: 0;
}
.singlePropertyContent .propertySpecs ul li{
  padding-left: 5.5vh;
}
.filter-bar .filter-bar-wrapper .item-input-inset .item-input-wrapper {
  margin-right: 2vh;
}
.guestLogin .icon{
  margin-right: 3vw;
}
.generalForm .item-toggle,
.userProfileSettingsContent .innerFormEditableContainer .item-input.item-select,
.innerFormEditableContainer .item-input,
.innerFormEditableContainer .item-input textarea,
.popupForm .item-input,
.popupForm .item-input input[type],
.itemDetailsTxt p,
.item-input.noBorder p,
.visionMissionListUnit h2,
.userMail,
.image-modal p,
.generalRadios .item-checkbox,
.generalForm .item-radio,
.propertiesContent .propertySpecs ul, .curvedBannerContainer .landFormTitle{
  text-align: right;
}
.align-left {
    text-align: right!important;
}
.slider-pager{
  text-align: left;
}
.align-right {
    text-align: left!important;
}

.bar .title+.buttons,
.generalForm .item-toggle .toggle,
.error,
.textarea-error,
.item-select:after,
.filterForm .item-select:after,
.selectImgTitle{
  left: 0;
  right: initial;
}

.item-select:after:not(.noBorder.item-select:after) {
  left: 0;
  right: initial;
}

.globalTab span {
  left: initial;
  right: 1.5vh;
}

.detailsContent p.clear {
  right: auto;
  left: 2vw;
}

.surveyMenuLink,
.classifieddetail .itemRelativeContainer,
.filterForm.innerFormEditableContainer .item-input.item-select,
.requestContainer .ezLogo img,
.requestContainer .ezLogo p,
.requestContainer .ezLogo,
.feedbackUploadContainer .title,
.generalRadios .item-checkbox,
.generalForm .item-radio{
  float: right;
}
.error p {
  float: initial;
}
.tabContents img,
.visionDetailsImg img,
.feedbackUploadImg {
  float: left;
}
.menu-right .menu-user-info .userImg,
.circleIcon {
  margin-right: 0;
  margin-left: 1vh;
}

.ion-navicon:before,
.ion-ios-arrow-back.forwardArrow:before,
.propertiesContent .dateAndTime img {
  transform: rotateZ(180deg);
}

.bar-positive .button.button-icon.ion-navicon {
  padding: 1.2vh 1vh;
}

.ion-chevron-left:before,
.ion-eye:before,
.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel,
.right-arrow .ion-chevron-right:before{
  transform: rotateZ(180deg);
}

.platform-android .filter-bar-wrapper .item-input-inset .filter-bar-cancel {
  margin: 1vh 1vh 1vh 0;
}

.circleIcon {
  vertical-align: sub;
}

.menu-right .menuIcons,
.faqsContent .objectiveTab img {
  margin-right: 0 !important;
  margin-left: 2vh !important;
  float: right;
}

.menu-user-info .userName {
  margin: 1vh 0 1vh 0;
}

.error p {
  margin-right: 5vh;
}

.objectiveTab,
.classifiedList .objectiveTab{
  padding-left: 1vh !important;
  padding-right: 14vh !important;
}
.surveyPickASurveyUnits.objectiveTab{
  padding-right: 10vh !important;
  padding-left: 0!important;
}
.appointmentsContent .objectiveTab {
  padding-left: 1vh !important;
  padding-right: 14vh !important;
}
.objectiveTabBorder {
  padding-right: 0;
  float: right;
}

.propertiesContent .EventsTitle {
  /* padding: 2vh 0 0 0; */
  padding: 2vh 2vh 0 0;
  text-align: right;
}

.findMoreLayerTxt {
  top: 11vh;
  left: 3vh;
  transform: inherit;
}
.slider-pager,
.shareBtn{
  left: 3vh;
  right: initial;
}
.findMoreLayerTxt p:first-child {
  margin-bottom: 0.8vh;
}
.findMoreLayer,
.generalRadios .item-checkbox .checkbox{
  left: initial;
  right: 0;
}
.homeContent .imgCurve,
.findMoreLayer, .guestLogin .ion-chevron-right:before{
  transform: rotateY(180deg);
}
.button .icon:before,
.button.icon:before,
.button.icon-left:before,
.button.icon-right:before {
  padding-left: 1vh !important;
}

.platform-android .filter-bar-wrapper .item-input-inset {
  padding: 0 1vh;
}
.faqsContent .tabAsnwerContent img {
  max-width: 3vh!important;
  width: 3vh!important;
  height: 3vh!important;
  max-height: 3vh!important;
  margin-top: 0.5vh;
}
.faqsContent .tabQuestionContent img{
  margin-top: -1vh;
  margin-left: 1.8vh!important;
}
.ion-ios-arrow-back:before, .ion-ios-arrow-back.forwardArrow:before{
  margin-top: 1.5vh;
}
.singlePropertyContent .propertySpecs a::before{
  margin-right: 0;
  margin-left: 0.5vh;
}
.propertySpecs ul:last-of-type li {
  padding-left: 2vh;
  padding-right: 0;
}
.propertySpecs ul:last-of-type li:first-of-type {
  padding-right: 0;
}
.singlePropertyContent .propertySpecs ul:last-of-type li:first-of-type {
  padding-left: 5.3vh;
}
.singlePropertyContent .addBtn .curvyBtn.whiteBG, .singlePropertyContent .whiteBG{
  margin-right: 4vh;
}
.property-title {
  float: right;
  max-width: none;
}
.property-booking {
  float: left;
}
.surveyBorder{
  left: 0;
  right: 62%;
}
.surveyBorderPickASurvey {
  left: 61%;
  right: 0;
}
.surveyBorderAnswerASurvey{
  right: -40%;
  left: 61%;
}
.classifieddetail .itemRelativeContainer{
  margin-right: 4vh;
}
.itemInfo{
  float: right;
  text-align: right;
  margin-right: 1vh;
  margin-left: 0;
}
.image-modal p{
  margin-left: 0;
  margin-right: 2vh;
}
.feedbackError{
  top: 0;
  left:0;
}
.landSignupContent .item-select select{
  left:0!important;
  right:initial!important;
}
.landSignupContent .item-select:after{
  left:9.5vh;
}
.filterForm.innerFormEditableContainer .item-input.item-select{
  width: 44%!important;
  float: right!important;
}
/* .filterForm.innerFormEditableContainer .item-input.item-select.rentPaidSelect{
  width: 11.5vh;
} */
/* .filterForm.innerFormEditableContainer .item-input.item-select.bedRoomsSelect,
.filterForm.innerFormEditableContainer .item-input.item-select.typeSelect{
  width: 8.5vh;
} */
.filterForm.innerFormEditableContainer .item-input.item-select:first-of-type, .filterForm.innerFormEditableContainer .item-input.item-select.typeSelect{
  margin-right: 0;
}
.unOrderListContent .objectiveTabBorder,
.tabContents img {
  margin-left: 0;
  margin-right: 1vh;
}
.findMoreLayerTxt+img{
  bottom: 10.5vh;
  right: 10vh;
}
.discountCardsForm .item-select:after {
  right: initial;
  left: 0;
}
.requestContainer .ezLogo{
  margin-left: 0!important;
  margin-right: 3.4vh!important;
}
.inputMultiTypes .item-radio input{
  left: 0;
}
.answerSurveyQuestionsNum {
  float: right;
  margin-right: 0;
  width: 12vw;
  margin-left: 1vh;
  text-align: right;
}
.answerSurveyQuestionsTitle {
  float: right;
  width: 76vw;
  text-align: right;
}
.generalRadios .item-checkbox {
  padding-left: 0;
  padding-right: 5vh;
}
.generalForm .item-radio {
  margin-right: 0;
  margin-left: 2vh;
}
.inputMultiTypes .item-radio .radio-icon{
  right: initial;
}
.selectImgTitle{
  left: 0.2vh
}
.propertySpecs a::before{
  margin-right: 0;
  margin-left: 0.5vh;
}
@media only screen and (max-width: 600px) {
  .propertiesContent .dateAndTime {
    padding: 0 2vh 0 1vh;
  }
}
.propertiesContent .dateAndTime img{
  left: 1vh;
  right: initial;
}
.mediaNewsContent .globalTab:first-of-type, .galleryContent .globalTab:first-of-type{
    border-left: 1px solid #d7d9e3;
    border-right: none;
}
.bar .title{
  line-height: 19px !important;
}
.rectangle-item-three{
  margin: 0 0 1.5vh 2vw;
}
.customerCareContainer .rectangle-item:nth-child(even) {
    margin-left: 0;
}
.feedbackUploadContainer .button.button-calm i{
  margin-right: 0;
  margin-left: 14px;
}
.globalTabLink {
  float: right;
}
.EventsTitle {
  float: left!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-top-left-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
}
.socialImg {
  float: right!important;
}
.socialImg img {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}
.dateAndTime {
  padding-right: 10px;
  padding-left: 0!important;
  text-align: right;
  direction: rtl!important;
}
.dateAndTime img {
  left: 1vh;
  right: auto!important;
}
.globalTabLink {
  /* padding: 10px 0 10px 10px; */
  float: right!important;
}
.curvedBannerContainer .landFormTitle{
  top: 5vh;
  left: 0;
  padding-right: 2vh;
}
@media only screen and (max-width: 414px){
.bar .title {
    top: 1.8vh;
}
}
.landFormContent .input-label {
  padding-right: 10px;
}

.locationUnit:nth-child(odd) {
  margin-right: 0;
  margin-left: 4vw;
}

.serviceDesc p {
  text-align: right;
}

.fc-view-container {
  direction: rtl;
}
.filterForm.innerFormEditableContainer .item-input.item-select {
  float: right;
  margin-right: 1vh;
  margin-left: 2vh;
}