<ion-view view-title="{{$root.langCounterpart('user_profile') || 'User Profile'}}">
    <ion-content class="removeHeight keyboard-open-height" has-bouncing="false">
        <div class="contentWithBanner userProfileContent">
            <div class="row responsive-lg InnerBanner profileBanner centerRow">
                <div class="col itemImgContainer">
                    <a href="" class="noBorder widthInit">
                        <!-- anchor tag needs "active" class after item-img uploaded -->
                        <div class="itemRelativeContainer">
                            <div class="circleRadius xlgItemUploaderIcon active">
                                <img ng-src={{profileImage}}>
                            </div>
                            <p>{{userInfo.Name}}</p>
                            <div class="circleRadius smItemUploaderIcon" ng-click="selectImages()">
                                <i class="icon-photo-camera"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row responsive-lg centerRow">
                    <div class="col addBtn">
                        <button class="button button-block button-calm curvyBtn darkRedBG tinyBtn" ng-disabled="!$root.isOnline" ng-click="goAccountSettings()">
                            {{$root.langCounterpart('account_settings') || 'Account Settings'}}
                        </button>
                        <button class="button button-block button-calm curvyBtn darkRedBG tinyBtn" ng-click="logout()">
                            {{$root.langCounterpart('logout') || 'Logout'}}
                        </button>
                    </div>
                </div>
            </div>
            <div ng-form="profileForm" class="innerFormContainer innerFormEditableContainer row responsive-lg centerRow">
                <div class="list">

                    <label class="item item-input">
                      {{$root.langCounterpart('full_name') || 'Full Name'}}
                      <input type="text" name="fullName" id="fullName"
                      ng-model="userModel.name" ng-required="true" ng-pattern="$root.regex.name">
                      <div class="error" ng-show="profileFormSubmitted">
                          <p ng-show="profileForm.fullName.$error.required && !profileForm.fullName.$error.pattern">
                              {{$root.langCounterpart('required') || "Required"}}
                          </p>
                          <p ng-show="profileForm.fullName.$error.pattern && !profileForm.fullName.$error.required">
                              {{$root.langCounterpart('invalid_name') || "Invalid name"}}
                          </p>
                      </div>

                    </label>

                    <label class="item item-input">
                        {{$root.langCounterpart('registered_email_address') || 'Email'}}
                        <input type="email" id="profileEmail"
                        name="profileEmail"
                        ng-model="userModel.email"
                        required
                        ng-pattern="$root.regex.email">
                        <div class="error" ng-show="profileFormSubmitted">
                            <p ng-show="profileForm.profileEmail.$error.required
                            && !profileForm.profileEmail.$error.pattern">
                            {{$root.langCounterpart('required') || "Required"}}
                        </p>
                        <p ng-show="profileForm.profileEmail.$error.pattern
                        && !profileForm.profileEmail.$error.required">
                        {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                    </p>
                </div>
            </label>
            <label class="item item-input forceLTR">
                {{$root.langCounterpart('mobile_number') || 'Mobile Number'}}
                <intlpn name="phonenumber" id="phonenumber"
                    ng-model="userModel.mobile" 
                    default-country="qa"
                    blur="phoneBlur"
                    required>
                </intlpn>
                <!-- <input on-touch="showExtension = true" type="number" name="phonenumber" id="phonenumber"
                string-to-number ng-model="userModel.mobile" ng-required="true" ng-pattern="$root.regex.phone"> -->

                <div class="error error-phone" ng-show="profileFormSubmitted">
                    <p ng-show="profileForm.phonenumber.$error.required">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p class="invalid-phone-error" ng-show="!profileForm.phonenumber.$valid && !profileForm.phonenumber.$error.required">
                        {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
                    </p>
                </div>
            </label>
            <label class="item item-input forceLTR">
                {{$root.langCounterpart('location') || 'Location'}}
                <input type="text" name="location" id="location" ng-model="$root.user.location" disabled>
            </label>
            <label class="item item-input forceLTR">
                {{$root.langCounterpart('unit') || 'Unit'}}
                <input type="text" name="location" id="location" ng-model="$root.user.unit" disabled>
            </label>
        </div>
        <div class="col addBtn">
            <button class="button button-block button-calm curvyBtn redBG smallBtn btnWidth-35" ng-disabled="!$root.isOnline" ng-click="updateProfile(profileForm)">
                {{$root.langCounterpart('save') || 'Save'}}
            </button>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
