<div class="contentWithBanner faqsContent">
  <div class="row responsive-lg InnerBanner">
    <img src="img/faqs.jpg">
    <div class="imgCurve">
      <img src="img/innerCurve.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="list">
      <div class="objectiveTab"
        ng-repeat="child in data.children"
        ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
        
        <div class="objectiveTabBorder">
          
          <div class="objectiveTabContent tabQuestionContent">
            <img ng-if="lang == 'English'" src="img/icons/q-icon.png">
            <img ng-if="lang != 'English'" src="img/icons/q-ar-icon.png">
            <p>{{child.content.title}}</p>
          </div>
        </div>
        
        <div class="objectiveTabBorder">
          
          <div class="objectiveTabContent tabAsnwerContent">
            <img ng-if="lang == 'English'" src="img/icons/a-icon.png">
            <img ng-if="lang != 'English'" src="img/icons/a-ar-icon.png">
            <p>{{child.content.properties.text.value}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
