<!-- <p>{{selectedItem.content.properties.text.value}}</p> -->
<div class="row responsive-lg curvedBannerContainer">
    <div class="col radiusBanner whiteBG height20vh announcementsContent">
        <img class="serviceUnit" src="img/ezdanPlusLogo.png">
        <p>{{$root.langCounterpart('ezdan_plus') || 'Ezdan Plus'}}</p>
    </div>
</div>
<div class="row">
    <div class="list">
        <!-- <div ng-class="{'visionMissionListUnits': true, 'paddBottom': $root.userType == 'loggedIn'}" ng-repeat="child in tab.children"> -->
        <div ng-class="{'visionMissionListUnits': true, 'paddBottom': $root.userType == 'loggedIn'}" ng-repeat="child in data.children">
            <div ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'" class="visionMissionListUnit">
                <div class="visionDetails">
                    <div class="visionDetailsImg">
                        <img src="{{child.content.properties.images[0].src}}" ng-src="">
                    </div>
                    <div class="visionDetailsContent">
                        <h2>{{child.content.title}}</h2>
                        <p>{{child.content.properties.text.value}}</p>
                    </div>
                    <div class="visionButton" ng-if="$root.user.loggedIn">
                        <button class="button button-block button-calm curvyBtn redBG" 
                            ng-disabled="!$root.isOnline" 
                            ng-click="requestPlus(child.content)">
                            {{$root.langCounterpart('inquire') || "Inquire"}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
