<div class="contentWithBanner">
    <div class="row responsive-lg InnerBanner">
        <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
        <img src="img/classifiedAdd.jpg">
        <div class="imgCurve">
            <img src="img/innerCurve.png" alt="">
        </div>
    </div>
    <ion-scroll direction="x" class="wide-as-needed">
        <div class="globalTab active">
            <a class="globalTabLink" nav-transition="none">{{$root.langCounterpart('browse_classfieds') || "Browse Classifieds"}}</a>
            <span></span>
        </div>
        <div class="globalTab">
            <a class="globalTabLink" nav-transition="none" href="#/myclassifieds" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('my_classifieds') || "My Classifieds"}}</a>
        </div>
        <div class="globalTab">
            <a class="globalTabLink" nav-transition="none" href="#/myclassifieds/add" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('add_new_item') || "Add New Item"}}</a>
        </div>
    </ion-scroll>

    <!-- <div ng-form="classifiedForm" class="innerFormContainer row responsive-lg centerRow"> -->

    <div class="list browseClassifieds">
        <div ng-repeat="child in data.children">
            <a nav-transition="none" href="#/content/{{child.content.id}}">
                <div class="item">
                    <p>{{child.content.title}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
