<div class="list">
    <div ng-repeat="child in tab.children">
        <div class="objectiveTab" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
            <img src="img/image_placeholder.jpg" ng-src={{child.content.properties.thumb.value}}>
        	<div class="objectiveTabBorder">
                <div class="objectiveTabContent">
                <p>{{child.content.title}} {{child.content.properties.text.value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
