<ion-view name="landLanguage-view" hide-nav-bar="true">
  <ion-content scroll="false" class="viewBGSet landLanguageViewBG">
    <div class="content landLanguageContent">
      <div class="row viewBGSet"></div>
      <div class="row languageBtns" ng-if="bgLoaded">
        <button ng-click="chooseLanguage('English')" class="button button-block button-calm curvyBtn whiteBG">
            English
        </button>
        <button ng-click="chooseLanguage('Arabic')" class="button button-block button-calm curvyBtn whiteBG force-ar-tf">
            عربي
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
