<ion-view name="resetPassword-view" hide-nav-bar="true">
    <ion-content class="viewBGSet landViewBG landContent loginContent forgotPassContent keyboard-open-height">
        <div class="content landFormContent">
            <div ng-form="passwordResetForm" class="formContainer">
                <div class="landFormTitle">
                    <!-- <p>{{$root.langCounterpart('reset_password') || 'Reset Password'}}</p> -->
                    <i class="icon-key-tool"></i>
                    <h1>{{$root.langCounterpart('forgot_password') || "Forgot password?"}}</h1>
                    <p>{{$root.langCounterpart('type_email_to_send_password_to') || "Please type email we will send your password to."}}</p>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <i class="icon-at"></i>
                        <input type="email" id="email"
                        name="email"
                        placeholder="{{$root.langCounterpart('registered_email_address') || 'Registered Email Address'}}"
                        ng-model="resetData.resetPasswordMail"
                        ng-pattern="$root.regex.email"
                        ng-change="errors.resetPasswordProblem = null; errors.incorrectMail = false"  required>
                 <div class="error" ng-show="newPasswordSubmitted">
                    <p ng-show="passwordResetForm.email.$error.required
                    && !passwordResetForm.email.$error.pattern">
                        {{$root.langCounterpart('required') || "Required"}}
                    </p>
                    <p ng-show="passwordResetForm.email.$error.pattern
                    && !passwordResetForm.email.$error.required">
                        {{$root.langCounterpart('invalid_email') || "Invalid email"}}
                    </p>
                </div>
            </label>
            <div class="errorContainer" ng-if="errors.incorrectMail">
                <p>
                    {{$root.langCounterpart('incorrect_email_address') || "Incorrect email address"}}
                </p>
            </div>
            <div class="row">
                <i class="icon ion-chevron-left circleIcon whiteBG" ng-disabled="loginSent" ng-click="goLand()"></i>
                <button class="button button-block button-calm curvyBtn whiteBG"  ng-disabled="resetPasswordMailSent || !$root.isOnline" ng-click="verifySetPassword(passwordResetForm)">
                    {{$root.langCounterpart('restore') || "Restore"}}
                </button>
            </div>
            <div class="row responsive-lg">
                <div class="col transparentBG">
                    <button class="button button-block button-calm curvyBtn redBG guestLogin" ng-disabled="loginSent" ng-click="guestLogin()">
                    {{$root.langCounterpart('guest_login') || 'Guest Login'}}
                        <span class="icon ion-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
