<ion-view view-title="{{$root.langCounterpart('properties') || 'Properties'}}">
  <ion-content class="removeHeight propContentWithBottom" has-bouncing="false">
    <div class="curvedBannerContainer propertiesContent">
      <div class="row responsive-lg radiusBanner height22vh">
        <img src="img/propeties.jpg">
      </div>
      <div class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg filterForm">
      <div class="list">
        <p>{{$root.langCounterpart('filter_by') || 'Filter By'}}</p>
        <label class="item item-input item-select citySelect">
          {{$root.langCounterpart('location') || 'Location'}}
          <select ng-model="filterObj.city" ng-change="filter()">
            <option value="">{{$root.langCounterpart('all') || 'All'}}</option>
            <option ng-repeat="filter in filters.Locations" value="{{filter.Value}}">{{$root.langCounterpart(filter.Display.toLowerCase()) || filter.Display}}</option>
            <!-- <option value="doha">{{$root.langCounterpart('doha') || 'Doha'}}</option>
            <option value="wakra">{{$root.langCounterpart('wakra') || 'Wakra'}}</option> -->
          </select>
        </label>
        <label class="item item-input item-select bedRoomsSelect">
          {{$root.langCounterpart('bedrooms') || 'Bedrooms'}}
          <select ng-model="filterObj.bedrooms" ng-change="filter()">
            <option value="">{{$root.langCounterpart('all') || 'All'}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </label>
        <label class="item item-input item-select typeSelect">
          {{$root.langCounterpart('type') || 'Type'}}
          <select ng-model="filterObj.propertyType" ng-change="filter()">
            <option value="">{{$root.langCounterpart('all') || 'All'}}</option>
            <option ng-repeat="filter in filters.Types" value="{{filter.Value}}">{{$root.langCounterpart(filter.Display.toLowerCase()) || filter.Display}}</option>
            <!-- <option value="building">{{$root.langCounterpart('building') || 'Building'}}</option>
            <option value="compound">{{$root.langCounterpart('compound') || 'Compound'}}</option>
            <option value="commercial">{{$root.langCounterpart('commercial') || 'Commercial'}}</option> -->
          </select>
        </label>
        <label class="item item-input item-select rentPaidSelect">
          {{$root.langCounterpart('furniture') || 'Furniture'}}
          <select ng-model="filterObj.isFurnished" ng-change="filter()">
            <option value="">{{$root.langCounterpart('all') || 'All'}}</option>
            <option ng-repeat="filter in filters.Furnishings" value="{{filter.Value}}">{{$root.langCounterpart(filter.Display.toLowerCase()) || filter.Display}}</option>
            <!-- <option value="">{{$root.langCounterpart('all') || 'All'}}</option>
            <option value="yes">{{$root.langCounterpart('furnished') || 'Furnished'}}</option>
            <option value="no">{{$root.langCounterpart('unfurnished') || 'Unfurnished'}}</option>
            <option value="semifurnished">{{$root.langCounterpart('semi_furnished') || 'Semi Furnished'}}</option> -->
          </select>
        </label>
      </div>
    </div>
      <div class="row centerRow">
        <div>
            <p ng-if="!hasResults" ng-show="!propertiesLoading" class="globalTabLink">
                {{$root.langCounterpart('no_results_found') || 'No results found.'}}
            </p>
        </div>
        <div class="list" ng-if="hasResults" ng-show="!propertiesLoading">
          <div class="media" ng-repeat="property in properties" ng-click="goProperty(property)">
            <div class="socialImg">
              <img src="img/EREDefaultThumbMobile.png" onerror="this.src='img/EREDefaultThumbMobile.png'" ng-src="{{property.thumb}}">
            </div>
            <div class="EventsTitle">
              <h2>
                <span ng-if="property.NumberOfBedrooms > 0">
                    {{property.NumberOfBedrooms}} {{$root.langCounterpart('bedrooms_in') || 'bedrooms in'}}&nbsp;
                </span>
                {{property.MarketingName}}
              </h2>
              <p>{{$root.langCounterpart('property_id') || 'Property ID'}}: {{property.PropertyUnit}}</p>
              <div class="dateAndTime">
                <div class="row responsive-lg propertySpecs">
                  <ul>
                    <li ng-if="property.NumberOfBedrooms > 0">
                      <a href="" class="bedsIcon">{{property.NumberOfBedrooms}}</a>
                    </li>
                    <li>
                      <a href="" class="buildingIcon">{{$root.langCounterpart(property.PropertyType.toLowerCase()) || property.propertyType}}</a>
                    </li>
                    <li>
                      <a href="" class="pinIcon">{{$root.langCounterpart(property.City.toLowerCase()) || property.City}}</a>
                    </li>
                    <li>
                      <a href="" class="chairIcon">{{$root.langCounterpart(property.Furnished.toLowerCase()) || property.Furnished}}</a>
                    </li>
                    <li>
                      <a href="" class="calendarIcon">{{$root.langCounterpart('payment_method') || 'Payment method'}}: {{$root.langCounterpart((property.PriceFor + 'ly').toLowerCase()) || property.PriceFor + 'ly'}}</a>
                    </li>
                  </ul>
                </div>
                <img src="img/rightArrow.png">
              </div>
            </div>
          </div>
          <div ng-if="hasMore" class="col">
            <a class="loadMoreBtn" ng-click="get_more()">
              {{$root.langCounterpart('load_more') || 'Load More'}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  
</ion-view>
