<ion-view view-title="{{$root.langCounterpart('news') || 'Ezdan News'}}">
  <ion-content class="removeHeight" has-bouncing="false">
    <div class="contentWithBanner mediaNewsContent curvedBannerContainer">
      <div class="row responsive-lg radiusBanner whiteBG height20vh">
        <img src="img/gallery.jpg">
      </div>
      <div class="view-tabs">
        <div class="globalTab active">
          <a class="globalTabLink">{{$root.langCounterpart('news') || 'Ezdan News'}}</a>
        </div>
        <div class="globalTab">
          <a class="globalTabLink" href="#/albums" nav-transition="none" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('photo_gallery') || 'Photo Gallery'}}</a>
        </div>
      </div>
      <div class="list">
        <a class="media" href="#/news/{{singleNews.id}}" ng-repeat="singleNews in news">
          <div class="socialImg">
            <img src="img/image_placeholder.jpg" ng-src={{singleNews.newsimage}}>
          </div>
          <div class="EventsTitle">
            <h2>{{singleNews.title}}</h2>
            <div class="dateAndTime">
              <p>{{$root.langCounterpart('published_on') || 'Published on'}}</p>
              <span>{{singleNews.newsdate}}</span>
              <img src="img/rightArrow.png">
            </div>
          </div>
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
