<ion-view name="signin-view" class="homeLogo" view-title="{{$root.langCounterpart('ezdan') || 'Ezdan'}}">
<ion-content has-bouncing="false">
<div class="homeContent">
    <div class="row curvedBannerContainer responsive-lg relativeRow">
        <div class="col radiusBanner height30vh">
            <!-- <img ng-src="{{imagesURl}}Assets/Images/home/main.jpg" onerror="this.src = 'src="img/homeBanner.jpg"';" alt=""> -->
            <img ng-src="{{$root.bannerImg}}">
        </div>
        <div class="col landFormTitle transparentBG">
            <p>{{$root.langCounterpart('welcome_to') || 'Welcome to'}}</p>
            <h1>{{$root.langCounterpart('ezdan_app') || 'Ezdan App'}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col items-container">
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('ourServices')">
                <i class="icon-our-services"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('our_services') || 'Our Services'}}</p>
                </div>
            </div>
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('properties',{resetFilter:true})">
                <i class="icon-property-search"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('property_search') || 'Property Search'}}</p>
                </div>
            </div>
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('request')" ng-if="userType === 'loggedIn'">
                <i class="icon-service-request"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('service_request') || 'Service Request'}}</p>
                </div>
            </div>
            <!-- <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('feedback')" ng-if="userType != 'loggedIn'">
                <span class="icon-media-center film"></span>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('feedback') || 'Submit Forms'}}</p>
                </div>
            </div> -->
            <!-- <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('newslist')" ng-if="userType != 'loggedIn'">
                <span class="icon-media-center film"></span>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('media_center') || 'Media Center'}}</p>
                </div>
            </div> -->
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('cardTypes')">
                <i class="icon-cards"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('discount_cards') || 'EDC Program'}}</p>
                </div>
            </div>
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('announcements')">
                <i class="icon-announcments"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('announcements') || 'Annoucements'}}</p>
                </div>
            </div>
            <div class="rectangle-item rectangle-item-three rounded" ng-click="$root.go('appointments')">
                <i class="icon-calendar"></i>
                <div class="rectangle-item-content">
                    <p>{{$root.langCounterpart('appointments') || 'Appointments'}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row absoluteRow footer-contact">
        <div class="col">
            <a href="" ng-click="$root.go('contactUs')">
                {{$root.langCounterpart('contact_us') || 'Contact Us'}}
            </a>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
