<ion-view name="newPassword-view" hide-nav-bar="true">
    <ion-content class="viewBGSet landViewBG keyboard-open-height">
        <div class="content landContent landFormContent loginContent">
            <div ng-form="passwordSetForm" class="formContainer">
                <div class="landFormTitle">
                    <p>{{$root.langCounterpart('new_password') || 'New Password'}}</p>
                    <!-- <p>Ezdan Real Estate</p> -->
                </div>
                <div class="list">
                    <label class="item item-input">
                        <input class="forceLTR" type="password" id="newPassword"
                        name="newPassword" placeholder="{{$root.langCounterpart('new_password') || 'New Password'}}"
                        ng-model="setPasswordData.newPassword"  ng-pattern="regex.password"
                        ng-model-options="{ allowInvalid: true}" ng-hide="showPassword" required>

                        <input class="forceLTR" type="text" id="newPassword"
                        name="newPassword" placeholder="{{$root.langCounterpart('new_password') || 'New Password'}}"
                        ng-model="setPasswordData.newPassword"  ng-pattern="regex.password"
                        ng-model-options="{ allowInvalid: true}" ng-show="showPassword" required>

                        <i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>

                        <div class="error" ng-show="newPasswordSubmitted">
                            <p ng-show="passwordSetForm.newPassword.$error.required">
                                {{$root.langCounterpart('required') || "Required"}}
                            </p>
                            <p ng-show="passwordSetForm.newPassword.$error.pattern">
                                {{$root.langCounterpart('invalid_password') || "eg., Aa1-23"}}
                            </p>
                        </div>
                    </label>
                    <label class="item item-input">
                        <input class="forceLTR" type="password" id="newPasswordConfirmation"
                        name="newPasswordConfirmation" placeholder="{{$root.langCounterpart('confirm_new_password') || 'Confirm New Password'}}"
                        ng-model="setPasswordData.newPasswordConfirmation"
                        pw-check="newPassword" ng-pattern="regex.password"
                        ng-model-options="{ allowInvalid: true}" ng-hide="showPassword" required>

                        <input class="forceLTR" type="text" id="newPasswordConfirmation"
                        name="newPasswordConfirmation" placeholder="{{$root.langCounterpart('confirm_new_password') || 'Confirm New Password'}}"
                        ng-model="setPasswordData.newPasswordConfirmation"
                        pw-check="newPassword" ng-pattern="regex.password"
                        ng-model-options="{ allowInvalid: true}" ng-show="showPassword" required>

                        <div class="error" ng-show="newPasswordSubmitted">
                            <p ng-show="passwordSetForm.newPasswordConfirmation.$error.required">
                                {{$root.langCounterpart('required') || "Required"}}
                            </p>
                            <p ng-show="passwordSetForm.newPasswordConfirmation.$error.pwmatch
                            && !passwordSetForm.newPasswordConfirmation.$error.required">
                            {{$root.langCounterpart('no_match') || "No match"}}
                        </p>
                    </div>
                </label>
                <div class="row">
                    <button class="button button-block button-calm curvyBtn whiteBG" ng-disabled="newPasswordSent || !$root.isOnline"
                    ng-click="setPassword(passwordSetForm)">
                    {{$root.langCounterpart('save') || 'Save'}}
                </button>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
