<ion-view>
  <ion-content class="removeHeight" ng-show="property._DocumnetHash != null" has-bouncing="false">
    <div class="curvedBannerContainer singlePropertyContent">
      <div class="row responsive-lg radiusBanner height22vh">
        <img src="img/propeties.jpg">
      </div>
      <div class="property-tab">
        <a href="" class="property-title">
          <span ng-if="property.NumberOfBedrooms > 0">
            {{property.NumberOfBedrooms}} {{$root.langCounterpart('bedrooms_in') || 'bedrooms in'}}&nbsp;
          </span>
          {{property.MarketingName}}
        </a>
        <a href="" class="property-booking" ng-disabled="!$root.isOnline" ng-click="goAppointments()">{{$root.langCounterpart('book_an_appointment') || 'Book an Appointment'}}</a>
      </div>
      <!-- <ion-scroll direction="x" class="wide-as-needed">
        <div class="globalTab active">
          <a class="globalTabLink">{{property.Bedrooms}} {{$root.langCounterpart('bedrooms_in') || 'bedrooms in'}} {{property.MarketingName}}</a>
        </div>
        <div class="addBtn globalTab">
          <button class="button button-block button-calm curvyBtn whiteBG smallBtn" ng-disabled="!$root.isOnline" ng-click="goAppointments()">
            {{$root.langCounterpart('book_an_appointment') || 'Book an Appointment'}}
          </button>
        </div>
      </ion-scroll> -->
      <div class="row sliderContainer responsive-lg relativeRow" ng-click="" ng-if="property.PropertyImages.length > 0">
        <ion-slide-box style="direction: ltr!important; visibility: visible;" does-continue="true" auto-play="true" slide-interval="3500" easing="easeOutElastic" speed="3500">
          <ion-slide ng-repeat="propertyImage in property.PropertyImages">
            <img ng-src="{{propertyImage}}" alt="" ng-click="showImages($index)">
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="row sliderContainer relativeRow" ng-if="property.PropertyImages.length === 0 || property.PropertyImages.length == null">
        No images available
      </div>
      <div class="row responsive-lg propertySpecs">
        <ul>
          <li>
            <a ng-if="property.NumberOfBedrooms > 0" href="" class="bedsIcon">{{property.NumberOfBedrooms}}</a>
          </li>
          <li>
            <a href="" class="buildingIcon">{{$root.langCounterpart(property.PropertyType.toLowerCase()) || property.PropertyType}}</a>
          </li>
          <li>
            <a href="" class="pinIcon">{{$root.langCounterpart(property.City.toLowerCase()) || property.City}}</a>
          </li>
          <li>
            <a href="" class="chairIcon">{{$root.langCounterpart(property.Furnished.toLowerCase()) || property.Furnished}}</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="" class="calendarIcon">{{$root.langCounterpart('payment_method') || 'Payment Method'}}: {{$root.langCounterpart((property.PriceFor + 'ly').toLowerCase()) || property.PriceFor + 'ly'}}</a>
          </li>
          <li>
            <a href="" class="">{{$root.langCounterpart('property_id') || 'Property ID'}}: {{property.PropertyUnit}}</a>
          </li>
        </ul>
      </div>
      <div class="row responsive-lg propertyDetails">
        <p>
          <span>{{propertyPresentation}}</span>
        </p>
      </div>
    </div>
  </ion-content>
  <button class="button button-float shareBtn"
    ng-click="prepareToShare()" ng-disabled="!$root.isOnline">
    <i class="icon ion-share"></i>
  </button>
</ion-view>
