<ion-view name="Sakin Service" title="{{title}}">
<ion-content has-bouncing="false">
	<div class="row responsive-lg curvedBannerContainer">
		<div class="col radiusBanner whiteBG height20vh">
			<img class="serviceUnit" src="img/sakinLogo.png">
		</div>
	</div>
	<div class="row responsive-lg curvedBannerContainer">
		<div class="col radiusBanner whiteBG serviceDesc">
			<p>
				{{sakinDetails.properties.sakinDescription.value}}
			</p>
		</div>
	</div>
	<div class="row responsive-lg curvedBannerContainer">
		<div class="col radiusBanner whiteBG locationContainer">
			<!-- <p>{{$root.langCounterpart('open') || 'Open'}} 
				{{sakinDetails.properties.sakinOpeningDay.value}} - {{sakinDetails.properties.sakinClosingDay.value}}
				{{sakinDetails.properties.sakinOpeningDate.value}} {{$root.langCounterpart('to') || 'to'}} {{sakinDetails.properties.sakinClosingDate.value}}
			</p> -->
			<p>{{$root.langCounterpart('sakin_service_availability_new_1')}}</p>
			<p>{{$root.langCounterpart('sakin_service_availability_new_2')}}</p>
			<h1>{{$root.langCounterpart('sakin_service_locations') || 'Sakin Service Locations'}}</h1>
			<div class="locationUnit" ng-repeat="location in sakinLocations">
				<a ng-click="openSakinLocation(location.content.properties.latitude.value, location.content.properties.longitude.value)">
					<img ng-if="!isIos" ng-src="{{location.thumb}}"/>
					<img ng-if="isIos" src="img/staticmap.png">
					<span>{{location.content.title}}</span>
				</a>
			</div>
		</div>
	</div>

</ion-content>
</ion-view>