<div class="contentWithBanner">
    <div class="row responsive-lg InnerBanner">
        <img src="img/classifiedAdd.jpg">
        <div class="imgCurve">
            <img src="img/innerCurve.png" alt="">
        </div>
    </div>
    <div class="globalTab active">
        <a class="globalTabLink">{{data.content.title}}</a>
        <span></span>
    </div>
    <div class="row responsive-lg centerRow">
        <div class="col itemImgContainer">
            <a href="" class="noBorder">
                <div class="itemRelativeContainer">
                    <div class="circleRadius xlgItemUploaderIcon active">
                        <img src="img/image_placeholder.jpg" style="object-fit: cover;" ng-src={{data.content.properties.images[0].src}}>
                    </div>

                </div>
                <div class="itemInfo">
                    <p>{{data.content.properties.posted_by}}</p>
                    <p>{{data.content.properties.posted_on |date: 'dd MMMM yyyy'}}</p>
                    <p>{{data.content.properties.price.value}} {{$root.langCounterpart('qr') || "QR"}}</p>
                    <p ng-if="data.content.properties.ifSold.value == 'True'">{{$root.langCounterpart('sold') || "Sold"}}</p>
                </div>
            </a>

            <ion-slides slider="swiper" options="swiperOptions" style="height: 40vh;" ng-init="shareImages(data.content.properties.images)">
                <ion-slide-page ng-repeat="img in data.content.properties.images" ng-click="showImages($index)">
                    <img ng-src={{img.src}} alt="">
                </ion-slide-page>

            </ion-slides>
        </div>
        <div class="col itemDetailsTxt">
            <p>{{data.content.properties.text.value}}</p>
        </div>
        <div class="col addBtn">
            <button ng-if="data.content.properties.posted_by != $root.user.fullName" ng-click="call(data.content.properties.contactPhone.value)" class="button button-block button-calm curvyBtn redBG smallBtn">
                {{$root.langCounterpart('call_now') || "Call"}}
            </button>
            <button ng-if="data.content.properties.posted_by != $root.user.fullName" ng-click="email(data.content.properties.contactEmail.value)" class="button button-block button-calm curvyBtn redBG smallBtn">
                {{$root.langCounterpart('email_now') || "Email"}}
            </button>
            <button ng-if="data.content.properties.posted_by == $root.user.fullName" ng-click="editClassified()" class="button button-block button-calm curvyBtn redBG smallBtn">
                {{$root.langCounterpart('edit') || "Edit"}}
            </button>
            <button ng-if="data.content.properties.posted_by != $root.user.fullName" ng-click="reportClassifiedPopUp(data.content.id)" class="button button-block button-calm curvyBtn redBG smallBtn">
                {{$root.langCounterpart('report') || "Report"}}
            </button>
        </div>
    </div>
</div>
