<div class="contentWithBanner faqsContent unOrderListContent">
  <div class="row">
    <div class="list">
      <div ng-repeat="child in tab.children">
        <div class="objectiveTabContent tabQuestionContent">
          <p>{{child.content.title}}</p>
        </div>
        <div class="objectiveTabBorder">
          <div class="objectiveTabContent tabAsnwerContent">
            <ul>
              <li ng-repeat="prop in child.content.properties.listItems">{{prop.value}}</li>
            </ul>
            <!-- <pre ng-repeat="prop in child.content.properties.listItems"> <span style="color:red">•</span>{{prop.value}}</pre> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
