<ion-view ng-init="contentloading()" view-title="{{$root.langCounterpart('plus_request') || 'Plus Request'}}">
<ion-content class="removeHeight keyboard-open-height ezdanPlusForm">
<div class="contentWithBanner curvedBannerContainer">
  <div class="row responsive-lg radiusBanner height20vh">
    <img src="img/classifiedAdd.jpg">
  </div>
  <div class="innerFormContainer innerFormEditableContainer generalForm row responsive-lg centerRow" ng-form="plusForm">
    <div class="list">
      <label class="item item-input">
          {{$root.langCounterpart('service') || 'Service'}}
          <input type="text" name="serviceName" id="serviceName" ng-model="plusData.serviceName" required disabled>
        </label>
      <label class="item item-input">
        {{$root.langCounterpart('full_name') || 'Full Name'}}
        <input type="text" name="name" id="itemName" ng-model="plusData.name" ng-disabled="loggedIn == true" required>
        <div class="error" ng-show="inquirySubmitted">
          <p ng-show="plusForm.name.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
        </div>
      </label>
      <label class="item item-input">
        {{$root.langCounterpart('email') || 'Email'}}
        <input type="text" name="email" id="email" ng-model="plusData.email" ng-pattern="$root.regex.email" ng-disabled="loggedIn == true" required>
        <div class="error" ng-show="inquirySubmitted">
          <p ng-show="plusForm.email.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
          <p ng-show="plusForm.email.$error.pattern">
            {{$root.langCounterpart('invalid_email') || "Invalid email"}}
          </p>
        </div>
      </label>
      <label class="item item-input forceLTR">
        {{$root.langCounterpart('mobile_number') || 'Mobile Number'}}
        <!-- <span class="absoluteSpan">+974</span> -->
        <intlpn name="mobileNumber" id="mobileNumber"
            placeholder="Mobile"
            ng-model="plusData.mobileNumber" 
            default-country="qa"
            blur="phoneBlur"
            disable="true"
            required>
        </intlpn>
        <!-- <input type="number" name="mobileNumber" id="mobileNumber"
        string-to-number ng-model="plusData.mobileNumber" ng-pattern="$root.regex.phone" ng-blur="phoneBlur = true" ng-focus="phoneBlur = false" required> -->
        <div class="error" ng-show="mobileNumberBlur || inquirySubmitted">
          <p ng-show="plusForm.mobileNumber.$error.required && !plusForm.mobileNumber.$error.pattern">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
          <p ng-show="plusForm.mobileNumber.$error.pattern && !plusForm.mobileNumber.$error.required">
            {{$root.langCounterpart('invalid_phone') || "Invalid Phone Number"}}
          </p>
        </div>
      </label>
      <label class="item item-input">
        {{$root.langCounterpart('inquiry_details') || 'Inquiry Details'}}
        <textarea name="inquiryDetails" id="inquiryDetails" placeholder="{{$root.langCounterpart('inquiry_details_body') || 'Type your message'}}"
        ng-keyup="doResize()" ng-model="plusData.inquiryDetails" cols="{{textArea.cols}}" rows="{{textArea.rows}}" ng-blur="inquiryDetailsBlur = true" ng-focus="inquiryDetailsBlur = false"
        required>
        </textarea>
        <div class="error" ng-show="inquiryDetailsBlur || inquirySubmitted">
          <p ng-show="plusForm.inquiryDetails.$error.required">
            {{$root.langCounterpart('required') || "Required"}}
          </p>
        </div>
      </label>
    </div>
    
  </div>
  <div class="row footer-contact centerRow">
      <div class="col">
        <a href="" ng-disabled="!$root.isOnline" ng-click="inquirePlus(plusForm)" ng-class="{'ar-tf':$root.lang=='Arabic'}">
          {{$root.langCounterpart('submit') || 'Submit'}}
        </a>
      </div>
    </div>
</div>
</ion-content>
</ion-view>