@font-face {
	font-family: 'TheSansArabic';
	src: url('fonts/BahijTheSansArabic-Plain.eot');
	src: url('fonts/BahijTheSansArabic-Plain.eot?#iefix') format('embedded-opentype'),
		url('fonts/BahijTheSansArabic-Plain.woff2') format('woff2'),
		url('fonts/BahijTheSansArabic-Plain.woff') format('woff'),
		url('fonts/BahijTheSansArabic-Plain.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ipwsd3');
  src:  url('fonts/icomoon.eot?ipwsd3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ipwsd3') format('truetype'),
    url('fonts/icomoon.woff?ipwsd3') format('woff'),
    url('fonts/icomoon.svg?ipwsd3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ezdanicon';
  src:  url('fonts/ezdanicon.eot?9fh3ct');
  src:  url('fonts/ezdanicon.eot?9fh3ct#iefix') format('embedded-opentype'),
    url('fonts/ezdanicon.ttf?9fh3ct') format('truetype'),
    url('fonts/ezdanicon.woff?9fh3ct') format('woff'),
    url('fonts/ezdanicon.svg?9fh3ct#ezdanicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'film';
  src:  url('fonts/film.eot?oi5t79');
  src:  url('fonts/film.eot?oi5t79#iefix') format('embedded-opentype'),
    url('fonts/film.ttf?oi5t79') format('truetype'),
    url('fonts/film.woff?oi5t79') format('woff'),
    url('fonts/film.svg?oi5t79#film') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'extra-icon';
  src:  url('fonts/extra-icon.eot?oi5t79');
  src:  url('fonts/extra-icon.eot?oi5t79#iefix') format('embedded-opentype'),
    url('fonts/extra-icon.ttf?oi5t79') format('truetype'),
    url('fonts/extra-icon.woff?oi5t79') format('woff'),
    url('fonts/extra-icon.svg?oi5t79#film') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mailbox';
  src:  url('fonts/mailbox.eot?ol2i6i');
  src:  url('fonts/mailbox.eot?ol2i6i#iefix') format('embedded-opentype'),
    url('fonts/mailbox.ttf?ol2i6i') format('truetype'),
    url('fonts/mailbox.woff?ol2i6i') format('woff'),
    url('fonts/mailbox.svg?ol2i6i#mailbox') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ezdanicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icomoon"], [class*=" icomoon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="film"], [class*=" film"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'film' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="extra"], [class*=" extra"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'extra-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="mailbox"], [class*=" mailbox"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mailbox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fax:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}



.icon-calendar:before {
  content: "\e911";
}
.icon-announcments:before {
  content: "\e900";
}
.icon-appointments:before {
  content: "\e901";
}
.icon-at:before {
  content: "\e902";
}
.icon-cards:before {
  content: "\e903";
}
.icon-customer:before {
  content: "\e904";
}
.icon-key-label:before {
  content: "\e905";
}
.icon-key-tool:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-our-services:before {
  content: "\e909";
}
.icon-photo-camera:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e90b";
}
.icon-play-button:before {
  content: "\e90c";
}
.icon-property-search:before {
  content: "\e90d";
}
.icon-right-chevron:before {
  content: "\e90e";
}
.icon-service-request:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
.icon-media-center:before {
  content: "\e913";
}
.icon-wpforms:before {
  content: "\e901";
}
.icon-film:before {
  content: "\e913";
}

.icon-complain:before {
  content: "\e901";
}
.icon-inquiry:before {
  content: "\e900";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-mailbox:before {
  content: "\e900";
  color: #d23139;
}