<div class="contentWithBanner classifiedList">
    <div class="row responsive-lg InnerBanner">
        <!-- <img ng-src={{selectedItem.content.properties.image}}> -->
        <img src="img/classifiedAdd.jpg">
        <div class="imgCurve">
            <img src="img/innerCurve.png" alt="">
        </div>
    </div>
    <ion-scroll direction="x" class="wide-as-needed">
        <div class="globalTab active">
            <a class="globalTabLink">{{$root.langCounterpart('browse') || "Browse"}} {{tabTitle}}</a>
            <span></span>
        </div>
        <div class="globalTab">
            <a class="globalTabLink" nav-transition="none" href="#/myclassifieds" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('my_classifieds') || "My Classifieds"}}</a>
        </div>
        <div class="globalTab">
            <a class="globalTabLink" nav-transition="none" href="#/myclassifieds/add" ng-click="$root.deleteBackHistory()">{{$root.langCounterpart('add_new_item') || "Add New Item"}}</a>
        </div>
    </ion-scroll>
    <div class="list">
        <div ng-repeat="child in data.children" ng-if="child.content.properties.ifSold.value == 'False'">
            <a href="#/content/{{child.content.id}}">
                <div class="objectiveTab" ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'">
                    <img src="img/image_placeholder.jpg" ng-src={{child.content.properties.images[0].src}}>
                    <div class="objectiveTabBorder">
                        <div class="objectiveTabContent">
                            <h2>{{child.content.title}}</h2>
                            <p>{{child.content.properties.text.value}}</p>
                            <p>{{$root.langCounterpart('price') || "Price"}}: {{child.content.properties.price.value}} {{$root.langCounterpart('qr') || "QR"}}</p>
                            <!-- <p>{{$root.langCounterpart('category') || "Category"}}: {{child.parent.title}}</p> -->
                            <p class "postAuthor" ng-if="child.content.properties.posted_by == $root.user.fullName">{{$root.langCounterpart('posted_by') || "By"}}: {{$root.langCounterpart('you') || "You"}}</p>
                            <p class "postAuthor" ng-if="child.content.properties.posted_by != $root.user.fullName">{{$root.langCounterpart('posted_by') || "By"}}: {{child.content.properties.posted_by}}</p>
                            <p class="postDate">{{$root.langCounterpart('posted_on') || "On"}}: {{child.content.properties.posted_on |date: 'dd MMMM yyyy'}}</p>
                            <!-- <p class="reportBtn" ng-if="child.content.properties.posted_by != $root.user.fullName" ng-click="reportClassifiedPopUp(child.content.id)" class="smallBtn">
                                {{$root.langCounterpart('report') || "Report"}}
                            </p> -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
