<div class="row responsive-lg curvedBannerContainer">
	<div class="col radiusBanner whiteBG height20vh">
		<img class="serviceUnit" src="img/ezdanPlusLogo.png">
		<p>{{$root.langCounterpart('ezdan_plus') || 'Ezdan Plus'}}</p>
	</div>
</div>
<div class="list">
	<div ng-repeat="child in data.children" class="visionMissionListUnits">
		<div ng-class="lang == 'English' ? 'item item-thumbnail-left' : 'item item-thumbnail-right'" class="visionMissionListUnit">
			<div class="visionDetails">
				<div class="visionDetailsImg">
					<img src="" ng-src={{child.content.properties.images[0].src}}>
					<!-- <img src="img/mission.jpg"> -->
				</div>
				<div class="visionDetailsContent">
					<h2>{{child.content.title}}</h2>
					<!-- <h2>The Vision</h2> -->
					<p>{{child.content.properties.text.value}}</p>
					<!-- <p>Achieve leadership and excellence and keep up with the continuous development of investment in the real estate sector, accomplishing the highest growth rates and responding to the requirements and needs of the community.</p> -->
				</div>
			</div>
		</div>
	</div>
</div>
  