<div class="tabContents">
    <!-- <p style="margin-top: 5%;">{{selectedItem.content.properties.text}}</p> -->
    <img ng-if="tab.content.properties.thumb != undefined" src="img/image_placeholder.jpg" ng-src={{tab.content.properties.thumb.value}}>

    <p>{{tab.content.properties.text.value}}</p>
</div>
